<section class="tab" data-tab="advanced">
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.hideOnToken'}}</label>
        <input type="checkbox" name="flags.dsa5.hideOnToken" {{checked effect.flags.dsa5.hideOnToken}} />
    </div>
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.hidePlayers'}}</label>
        <input type="checkbox" name="flags.dsa5.hidePlayers" {{checked effect.flags.dsa5.hidePlayers}}/>
    </div>
    {{#if effectConfigs.hasSuccessEffects}}
    <div class="form-group">
        <label class="label-text">{{localize "ActiveEffects.apply"}}</label>
        <select name="flags.dsa5.successEffect">
            {{#select effect.flags.dsa5.successEffect}}            
            <option value="">{{localize 'ActiveEffects.always'}}</option>
            <option value="1">{{localize 'ActiveEffects.onSuccess'}}</option>
            <option value="2">{{localize 'ActiveEffects.onFailure'}}</option>
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.onDelayed'}} ({{localize 'ActiveEffects.dialog.seconds'}})</label>
        <input type="text" name="flags.dsa5.onDelayed" value="{{effect.flags.dsa5.onDelayed}}" />
    </div>
    {{/if}}
    <div class="auraBox paddingBox{{#if effect.flags.dsa5.isAura}} groupbox{{/if}}">
        <div class="form-group">
            <label class="label-text">{{localize 'ActiveEffects.isAura'}}</label>
            <input type="checkbox" class="auraSelector" name="flags.dsa5.isAura" {{checked effect.flags.dsa5.isAura}}/>
        </div>
        
        <div class="auraDetails{{#unless effect.flags.dsa5.isAura}} dsahidden{{/unless}}">
            <div class="form-group">
                <label class="label-text">{{localize "ActiveEffects.disposition"}}</label>
                <select name="flags.dsa5.disposition">
                    {{selectOptions dispositions selected=effect.flags.dsa5.disposition localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize 'ActiveEffects.radius'}}</label>
                <input type="text" name="flags.dsa5.auraRadius" value="{{effect.flags.dsa5.auraRadius}}" />
            </div>
            <div class="form-group">
                <label class="label-text">{{ localize "TEMPLATE.BorderColor" }}</label>
                <div class="form-fields">
                    <color-picker name="flags.dsa5.borderColor" value="{{effect.flags.dsa5.borderColor}}"></color-picker>
                </div>
            </div>
            <div class="form-group">
                <label class="label-text">{{ localize "TEMPLATE.BorderThickness" }}</label>
                <input type="number" name="flags.dsa5.borderThickness" value="{{effect.flags.dsa5.borderThickness}}" />
            </div>
        </div>
    </div>
    {{#if isWeapon}}
    <div class="form-group" data-tooltip="ActiveEffects.applyToOwnerHint">
        <label class="label-text">{{localize 'ActiveEffects.applyToOwner'}}</label>
        <input type="checkbox" name="flags.dsa5.applyToOwner" {{checked effect.flags.dsa5.applyToOwner}}/>
    </div>
    {{/if}}
    <div class="form-group">
        <label class="label-text">{{localize "DSASETTINGS.notifyOnFadingEffects"}}</label>
        <select class="advancedSelector" name="flags.dsa5.removeMessage">
            {{#select effect.flags.dsa5.removeMessage}}            
            <option value="">-</option>
            <option value="players">{{localize 'ActiveEffects.messageReceivers.players'}}</option>
            <option value="player">{{localize 'ActiveEffects.messageReceivers.player'}}</option>
            <option value="playergm">{{localize 'ActiveEffects.messageReceivers.playergm'}}</option>
            <option value="gm">{{localize 'ActiveEffects.messageReceivers.gm'}}</option>
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label class="label-text">{{localize 'Description'}}</label>
        <input type="text" name="flags.dsa5.description" value="{{effect.flags.dsa5.description}}" />
    </div>
    {{#if advancedFunctions}}
    <div class="form-group">
        <label class="label-text">{{localize 'duration'}}</label>
        <input type="text" name="flags.dsa5.customDuration" value="{{effect.flags.dsa5.customDuration}}" />
    </div>
    <div class="form-group">
        <label class="label-text">{{localize "ActiveEffects.custom"}}</label>
        <select class="advancedSelector" name="flags.dsa5.advancedFunction" data-dtype="String">
            {{selectOptions advancedFunctions selected=effect.flags.dsa5.advancedFunction valueAttr="index" labelAttr="name" localize=true}}            
        </select>
    </div>
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.resistRoll'}}</label>
        <input type="text" name="flags.dsa5.resistRoll" value="{{effect.flags.dsa5.resistRoll}}" placeholder="{{localize 'LocalizedIDs.perception'}} -2" />
    </div>
    <div class="advancedFunctions">
        {{> systems/dsa5/templates/status/advanced_functions.html}}
    </div>
    {{/if}}
    <div class="form-group full-height">
        <label class="label-text">{{localize 'ActiveEffects.advancedFunctions.onRemove'}}</label> {{#if config.canEditMacros}}
        <textarea class="input-text" rows="10" type="text" name="flags.dsa5.onRemove" placeholder="{{localize 'ActiveEffects.placeholder.onRemove'}}">{{effect.flags.dsa5.onRemove}}</textarea> {{else}}
        <p class="input-text">{{#if effect.flags.dsa5.args3}}{{effect.flags.dsa5.onRemove}}{{else}} - {{/if}}</p>
        {{/if}}
    </div>
</section>