<section class="tab" data-tab="advanced">
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.hideOnToken'}}</label>
        <input type="checkbox" name="flags.dsa5.hideOnToken" {{checked effect.flags.dsa5.hideOnToken}} />
    </div>
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.hidePlayers'}}</label>
        <input type="checkbox" name="flags.dsa5.hidePlayers" {{checked effect.flags.dsa5.hidePlayers}}/>
    </div>
    <div class="form-group">
        <label class="label-text">{{localize 'Description'}}</label>
        <input type="text" name="flags.dsa5.description" value="{{effect.flags.dsa5.description}}" />
    </div>
    {{#if effectConfigs.hasSpellEffects}}
    <div class="form-group">
        <label class="label-text">{{localize 'duration'}}</label>
        <input type="text" name="flags.dsa5.customDuration" value="{{effect.flags.dsa5.customDuration}}" />
    </div>
    <div class="form-group">
        <label class="label-text">{{localize "ActiveEffects.custom"}}</label>
        <select class="advancedSelector" name="flags.dsa5.advancedFunction" data-dtype="String">
            {{#select effect.flags.dsa5.advancedFunction}}
            {{#each advancedFunctions as |item i|}}
            <option value="{{item.index}}">{{localize item.name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.resistRoll'}}</label>
        <input type="text" name="flags.dsa5.resistRoll" value="{{effect.flags.dsa5.resistRoll}}" placeholder="{{localize 'LocalizedIDs.perception'}} -2" />
    </div>
    <div class="advancedFunctions">
        {{> systems/dsa5/templates/status/advanced_functions.html}}
    </div>
    {{/if}}
    <div class="form-group full-height">
        <label class="label-text">{{localize 'ActiveEffects.advancedFunctions.onRemove'}}</label> {{#if config.canEditMacros}}
        <textarea class="input-text" rows="10" type="text" name="flags.dsa5.onRemove" placeholder="{{localize 'ActiveEffects.placeholder.onRemove'}}">{{effect.flags.dsa5.onRemove}}</textarea> {{else}}
        <p class="input-text">{{#if effect.flags.dsa5.args3}}{{effect.flags.dsa5.onRemove}}{{else}} - {{/if}}</p>
        {{/if}}
    </div>
</section>