<ul>
    {{#each items as |cat i|}} {{#each cat as |item j|}}
    <li class="{{item.cssClass}} primary" data-category="{{item.cssClass}}" data-id="{{item.id}}" data-name="{{item.name}}">
        <div style="background-image:url({{item.icon}})">{{item.abbrev}}</div>
        {{#if item.more}}
        <ul class="subbuttons" {{{item.subwidth}}}>
            {{#each item.more as |mo i|}}
            <li class="{{mo.cssClass}} secondary" data-category="{{item.cssClass}}" data-id="{{mo.id}}" data-name="{{mo.name}}">
                <div style="background-image:url({{mo.icon}})">{{mo.abbrev}}</div>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </li>
    {{/each}} {{/each}} {{#if consumable}}
    <li class="consumable primary" data-category="consumable" data-id="{{consumable.id}}" data-name="{{consumable.name}}">
        <div style="background-image:url({{consumable.icon}})">{{consumable.abbrev}}</div>
        {{#if consumable.more}}
        <ul class="subbuttons" {{{consumable.subwidth}}}>
            {{#each consumable.more as |mo i|}}
            <li class="{{mo.cssClass}} secondary" data-category="consumable" data-id="{{mo.id}}" data-name="{{mo.name}}">
                <div style="background-image:url({{mo.icon}})">{{mo.abbrev}}</div>
            </li>
            {{/each}}
        </ul>

        {{/if}}
    </li>
    {{/if}}
</ul>