<div class="form-group custom-select">
    <label>{{localize "increaseCastingTime"}} ({{rollModifiers.increaseCastingTime.mod}})</label>
    <input type="checkbox" id="increaseCastingTime" class="spellModifier" data-castingTime="1" name="increaseCastingTime" value="{{rollModifiers.increaseCastingTime.mod}}">
</div>
<div class="form-group custom-select">
    <label>{{localize "decreaseCastingTime"}} ({{rollModifiers.decreaseCastingTime.mod}})</label>
    <input type="checkbox" id="decreaseCastingTime" class="spellModifier" data-castingTime="-1" name="decreaseCastingTime" value="{{rollModifiers.decreaseCastingTime.mod}}">
</div>