<div class="form-group">
    <label>{{localize "increaseCastingTime"}} <span class="increaseCastingTimeLabel">({{rollModifiers.increaseCastingTime.mod}})</span></label>
    <input type="checkbox" id="increaseCastingTime" class="spellModifier" data-castingTime="1" name="increaseCastingTime" value="{{rollModifiers.increaseCastingTime.mod}}">
</div>
<div class="form-group">
    <label>{{localize "decreaseCastingTime"}} <span class="decreaseCastingTimeLabel">({{rollModifiers.decreaseCastingTime.mod}})</span></label>
    <input type="checkbox" id="decreaseCastingTime" class="spellModifier" data-castingTime="-1" name="decreaseCastingTime" value="{{rollModifiers.decreaseCastingTime.mod}}">
</div>