{{> systems/dsa5/templates/actors/parts/liturgies.html}}

<div class="groupbox">
    <div class="row-section">
        <div class="col header-label lineheight">
            <b>{{localize "clericspecialtalents"}}</b>
        </div>
    </div>
    <div class="row-section wrap cards">
        {{#each prepare.specAbs.clerical as |item i|}}
        <div class="item" data-item-id="{{item._id}}">
            {{#if item.OnUseEffect}}<a data-tooltip="SHEET.onUseEffect" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.system.step.value item.system.maxRank.value}}</a>
        </div>
        {{/each}}
    </div>

</div>

<div class="row-section wrap reverseFlex">
    <div class="col morph">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "blessings"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each prepare.magic.blessing as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
    <div class="col morph">

        <div class="groupbox">
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "tradition"}}
                </div>
                <div class="col sixty">
                    <input type="text" name="system.tradition.clerical" data-dtype="String" value="{{actor.system.tradition.clerical}}" />
                </div>
            </div>
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "guidevalue"}}
                </div>
                <div class="col sixty">
                    <div class="form-group">
                        <select name="system.guidevalue.clerical" data-dtype="String">
                            {{selectOptions prepare.guidevalues selected=actor.system.guidevalue.clerical localize=true}}
                        </select>
                    </div>
                </div>

            </div>
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "aspect"}}
                </div>
                <div class="col sixty">
                    <input type="text" name="system.feature.clerical" data-dtype="String" value="{{actor.system.feature.clerical}}" />
                </div>
            </div>
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "energyfactor"}}
                </div>
                <div class="col sixty">
                    <input type="text" name="system.energyfactor.clerical" data-dtype="number" value="{{actor.system.energyfactor.clerical}}" />
                </div>
            </div>
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "happyTalents"}}
                </div>
                <div class="col sixty">
                    <textarea type="text" name="system.happyTalents.value" rows="8" data-dtype="String" value="">{{actor.system.happyTalents.value}}</textarea>
                </div>
            </div>
        </div>
    </div>
    
</div>