<div class="groupbox">
    <div class="row-section wrap inverseRowtable">
        <div class="col">
            <div class="row-section skills table-title">
                <div class="col four">
                    {{localize "spells"}}
                </div>
                <div class="col four center">{{localize "probe"}}</div>
                <div class="col ten center" title="{{localize 'Fw'}}">{{localize "CHARAbbrev.FW"}}</div>
                <div class="col ten center" title="{{localize 'AsPCost'}}">{{localize "cost"}}</div>
                <div class="col ten center">{{localize "CHARAbbrev.castingTime"}}</div>
                <div class="col ten center">{{localize "reach"}}</div>
                <div class="col ten center">
                    <a class="item-create very-small" title="{{localize 'SHEET.addItem'}}" item-section="spell" data-type="spell"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        {{#each actor.magic.spell as |item i|}}
        <div class="col spells item" data-item-id="{{item._id}}">
            <div class="row-section skills lineheight">
                <div class="col four">
                    <a class="item-edit">{{item.name}}</a> {{#if item.canAdvance}}
                    <a class="advance refund-item"><i title="{{item.refund}}" class="fas fa-minus"></i></a>
                    <a class="advance advance-item"><i title="{{item.cost}}" class="fas fa-plus"></i></a>{{/if}}
                </div>
                <div class="col four center">
                    <a class="spell-select">
                        <span class="d20 diet-{{item.data.characteristic1.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic1.value)}}</span>
                        <span class="d20 diet-{{item.data.characteristic2.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic2.value)}}</span>
                        <span class="d20 diet-{{item.data.characteristic3.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic3.value)}}</span>
                    </a>
                </div>
                <div class="col ten center">
                    <input class="skill-advances" type="text" data-dtype="Number" value="{{item.data.talentValue.value}}" />
                </div>
                <div class="col ten center">
                    {{item.data.AsPCost.value}}
                </div>
                <div class="col ten center">
                    {{item.data.castingTime.value}}
                </div>
                <div class="col ten center">
                    {{item.data.range.value}}
                </div>

                <div class="col ten very-small center">
                    <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
                    <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="row-section lineheight expandDetails">
                <div class="col">
                    <ul>
                        <li><b>{{localize "duration"}}</b>: {{item.data.duration.value}}</li>
                        <li><b>{{localize "cost"}}</b>: {{item.data.AsPCostDetail.value}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="groupbox">
    <div class="row-section wrap inverseRowtable">
        <div class="col">
            <div class="row-section skills table-title">
                <div class="col four">
                    {{localize "rituals"}}
                </div>
                <div class="col four center">{{localize "probe"}}</div>
                <div class="col ten center" title="{{localize 'Fw'}}">{{localize "CHARAbbrev.FW"}}</div>
                <div class="col ten center" title="{{localize 'AsPCost'}}">{{localize "cost"}}</div>
                <div class="col ten center">{{localize "CHARAbbrev.castingTime"}}</div>
                <div class="col ten center">{{localize "reach"}}</div>
                <div class="col ten center">
                    <a class="item-create very-small" title="{{localize 'SHEET.addItem'}}" item-section="ritual" data-type="ritual"><i class="fas fa-plus"></i></a>

                </div>
            </div>
        </div>
        {{#each actor.magic.ritual as |item i|}}
        <div class="col spells item" data-item-id="{{item._id}}">
            <div class="row-section skills lineheight">
                <div class="col four">
                    <a class="item-edit">{{item.name}}</a> {{#if item.canAdvance}}
                    <a class="advance refund-item"><i title="{{item.refund}}" class="fas fa-minus"></i></a>
                    <a class="advance advance-item"><i title="{{item.cost}}" class="fas fa-plus"></i></a>{{/if}}
                </div>
                <div class="col four center">
                    <a class="spell-select">
                        <span class="d20 diet-{{item.data.characteristic1.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic1.value)}}</span>
                        <span class="d20 diet-{{item.data.characteristic2.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic2.value)}}</span>
                        <span class="d20 diet-{{item.data.characteristic3.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic3.value)}}</span>
                    </a>
                </div>
                <div class="col ten center">
                    <input class="skill-advances" type="text" data-dtype="Number" value="{{item.data.talentValue.value}}" />
                </div>
                <div class="col ten center">
                    {{item.data.AsPCost.value}}
                </div>
                <div class="col ten center">
                    {{item.data.castingTime.value}}
                </div>
                <div class="col ten center">
                    {{item.data.range.value}}
                </div>

                <div class="col ten very-small center">
                    <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
                    <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="row-section lineheight expandDetails">
                <div class="col">
                    <ul>
                        <li><b>{{localize "duration"}}</b>: {{item.data.duration.value}}</li>
                        <li><b>{{localize "cost"}}</b>: {{item.data.AsPCostDetail.value}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="groupbox">
    <div class="row-section">
        <div class="col header-label lineheight">
            <b>{{localize "magicspecialtalents"}}</b>
        </div>
    </div>
    <div class="row-section wrap cards">
        {{#each actor.specAbs.magical as |item i|}}
        <div class="item" data-item-id="{{item._id}}">
            <a class="item-edit">{{item.name}}{{roman item.data.step.value}}</a>
        </div>
        {{/each}}
    </div>

</div>

<div class="row-section">
    <div class="col two">

        <div class="groupbox">
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "tradition"}}
                </div>
                <div class="col sixty">
                    <input type="text" name="data.tradition.magical" data-dtype="String" value="{{actor.data.tradition.magical}}">
                </div>
            </div>
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "guidevalue"}}
                </div>
                <div class="col sixty">
                    <div class="form-group">
                        <select name="data.guidevalue.magical" data-dtype="String">
                            {{#select actor.data.guidevalue.magical}}
                            {{#each actor.guidevalues as |type sktype|}}
                            <option value="{{sktype}}">{{localize type}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row-section lineheight">
                <div class="col fourty center">
                    {{localize "feature"}}
                </div>
                <div class="col sixty">
                    <input type="text" name="data.feature.magical" data-dtype="String" value="{{actor.data.feature.magical}}">
                </div>
            </div>
        </div>
    </div>
    <div class="col two">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "magictricks"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.magic.magictrick as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>