<form class="skill-test">
    <div class="row-section wrap">
        <div class="col sixty">
            {{> systems/dsa5/templates/dialog/default-combat-dialog.html}} {{#if melee}}
            <div class="form-group" >
                <label data-tooltip="DIALOGDESCRIPTION.narrowSpace">{{localize "narrowSpace"}} (<span class="narrowSpaceLabel">{{rollModifiers.narrowSpace.mod}}</span>)</label>
                <input type="checkbox" id="narrowSpace" name="narrowSpace" value="{{rollModifiers.narrowSpace.mod}}" {{checked constricted}}>
            </div>
            <div class="form-group">
                <label>{{localize "wrongHand"}} (<span class="wrongHandLabel">{{rollModifiers.wrongHand.mod}}</span>)</label>
                <input type="checkbox" id="wrongHand" name="wrongHand" value="{{rollModifiers.wrongHand.mod}}" {{#if wrongHandDisabled}}disabled{{/if}} {{checked offHand}}>
            </div>            
            {{/if}} 
            {{#if (or melee isDodge)}}          
            <div class="form-group" >
                <label data-tooltip="DIALOGDESCRIPTION.advantageousPosition">{{localize "advantageousPosition"}} (<span class="advantageousPositionLabel">{{rollModifiers.advantageousPosition.mod}}</span>)</label>
                <input type="checkbox" id="advantageousPosition" name="advantageousPosition" value="{{rollModifiers.advantageousPosition.mod}}">
            </div>
            {{/if}}
            {{#if showDefense}}
            <div class="form-group">
                <label>{{defenseCountString}}</label>
                <input class="quantity-click" data-tooltip="TT.strgx10" data-tooltip-direction="RIGHT" type="number" name="defenseCount" value="{{defenseCount}}" />
            </div>
            <div class="form-group">
                <label>{{localize "attackFromBehind"}} (<span class="attackFromBehindLabel">{{rollModifiers.attackFromBehindLabel.mod}}</span>)</label>
                <input type="checkbox" id="attackFromBehind" name="attackFromBehind" value="{{rollModifiers.attackFromBehindLabel.mod}}">
            </div>
            {{/if}} 
            {{#if showAttack}}
            <div class="form-group" >
                <label data-tooltip="DIALOGDESCRIPTION.opportunityAttack">{{localize "opportunityAttack"}} (<span class="opportunityAttackLabel">{{rollModifiers.opportunityAttack.mod}}</span>)</label>
                <input type="checkbox" class="opportunityAttack" name="opportunityAttack" value="{{rollModifiers.opportunityAttack.mod}}">
            </div>
            <div class="form-group" data-tooltip="DIALOG.assassinateDescr">
                <label>{{localize "DIALOG.assassinate"}}</label>
                <select name="assassinate">
                    <option value="-">-</option>
                    <option value="assassinate">{{localize "DIALOG.assassinate"}}</option>
                    <option value="stun">{{localize "DIALOG.stun"}}</option>
                </select>
            </div>
            {{/if}} 
            {{#if (or showDefense showAttack)}}
            <div class="form-group" >
                <label data-tooltip="DIALOGDESCRIPTION.twoWeaponCombat">{{localize "doubleAttack"}} (<span class="doubleAttackLabel">{{rollModifiers.doubleAttack.mod}}</span>)</label>
                <input type="checkbox" id="doubleAttack" name="doubleAttack" value="{{rollModifiers.doubleAttack.mod}}">
            </div>
            {{/if}}
            {{#if weaponSizes}}
            <div class="form-group">
                <label>{{localize "opposingWeaponSize"}}</label>
                <select name="weaponsize">
                    {{selectOptions weaponSizes selected=targetWeaponSize localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "sizeCategory"}}</label>
                <select name="size">
                    {{selectOptions meleeSizeOptions selected=targetSize localize=true}}
                </select>
            </div>
            {{/if}} 
            {{#if rangeOptions}}
            <div class="form-group">
                <label>{{localize "distance"}}</label>
                <select name="distance">
                    {{selectOptions rollModifiers.rangeOptions selected=rangeDistance localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "sizeCategory"}}</label>
                <select name="size">
                    {{selectOptions sizeOptions selected=targetSize localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "aim"}}</label>
                <select name="aim">
                    {{selectOptions aimOptions selected="0" localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "target"}}</label>
                <select name="targetMovement">
                    {{selectOptions targetMovementOptions selected=rollModifiers.targetMovement.mod localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "shooter"}}</label>
                <select name="shooterMovement">
                    {{selectOptions shooterMovementOptions selected="0" localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "mount"}}</label>
                <select name="mountedOptions">
                    {{selectOptions mountedOptions selected="0" inverted=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "MODS.combatTurmoil"}} (<span class="combatTurmoilLabel">{{rollModifiers.combatTurmoil.mod}}</span>)</label>
                <input type="checkbox" id="combatTurmoil" name="combatTurmoil" value="{{rollModifiers.combatTurmoil.mod}}">
            </div>
            <div class="form-group">
                <label>{{localize "rangeMovementOptions.QUICKCHANGE"}} (<span class="quickChangeLabel">{{rollModifiers.quickChange.mod}}</span>)</label>
                <input type="checkbox" id="quickChange" name="quickChange" value="{{rollModifiers.quickChange.mod}}">
            </div>
            {{/if}}
        </div>
        <div class="col fourty" style="min-width: 180px">
            <div class="targets row-section wrap item">
                {{> systems/dsa5/templates/dialog/parts/targets.html}}
            </div>

            <div class="specAbsContainer">
                {{#unless combatSpecAbs}}
                <div class="row-section">
                    <div class="col specImg" style="height: 120px" data-tooltip="DIALOG.noCombatskills"></div>
                </div>

                {{else}} {{#each combatSpecAbs as |item i|}}
                <div class="row-section specAbs" data-actor="{{item.actor}}" data-category="{{item.category.id}}" data-id="{{item.id}}" data-step="0" data-maxStep="{{item.steps}}" data-dmmalus="{{item.dmmalus}}" data-atbonus="{{item.atbonus}}" data-tpbonus="{{item.tpbonus}}"
                    data-pabonus="{{item.pabonus}}" data-tooltip="{{item.label}}">
                    {{#if (gt item.variantCount 1)}}
                    <div data-current="0" data-variantcount="{{item.variantCount}}" data-tooltip="TT.effectVariant" class="variantChange">A</div>
                    {{/if}}
                    <div class="specImg col ten {{item.category.css}}" data-tooltip="{{item.category.name}}">
                    </div>
                    <div class="col ninety">
                        <a>{{item.name}}</a><span class="step"></span>
                    </div>
                </div>
                {{/each}} {{/unless}}
            </div>
        </div>
    </div>
    <div class="roll-dialog-tag">combatskill</div>
</form>