<form class="dsa5 item" autocomplete="off">
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.dialog.duration'}}</label>
        <input class="input-text duration quantity-click" type="number" value="">
    </div>
    <div class="form-group doubleInput">
        <label class="label-text">{{localize 'ActiveEffects.dialog.unit'}}</label>
        <div class="input-text">
            <input type="radio" id="rounds" name="unit" value="rounds" checked>
            <label for="left">{{localize 'ActiveEffects.dialog.rounds'}}</label>
        </div>
        <div class="input-text">
            <input type="radio" id="seconds" name="unit" value="seconds">
            <label for="right">{{localize 'ActiveEffects.dialog.seconds'}}</label>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="label-text">{{localize 'ActiveEffects.dialog.name'}}</label>
        <input class="input-text effectname" type="text" value="" title="{{localize 'ActiveEffects.dialog.overwrite'}}" placeholder="{{localize 'ActiveEffects.placeholder.effectname'}}">
    </div>
</form>