<div class="row-section">
    <div class="col fourty"></div>
    <div class="row-section col sixty">
        <div class="col five">
        </div>
        {{#if (or showAttack rangeOptions)}}
        <div class="col five center" title="{{localize 'MODS.damage'}}">
            {{localize 'CHARAbbrev.damage'}}
        </div>
        {{/if}}
    </div>
</div>
<div class="form-group">
    <label>{{localize "Modifier"}}</label>
    <div class="row-section">
        <div class="col five">
            <input class="quantity-click" type="number" name="testModifier" value="{{testModifier}}" />
        </div>
        {{#if (or showAttack rangeOptions)}}
        <div class="col five">
            <input type="text" name="damageModifier" value="0" />
        </div>
        {{/if}}
    </div>
</div>
<div class="form-group custom-select">
    <label>{{localize "DIALOG.RollMode"}}</label>
    <select name="rollMode">
      {{#select rollMode}}
      {{#each rollModes as |label mode|}}
      <option value="{{mode}}">{{localize label}}</option>
      {{/each}}
      {{/select}}
    </select>
</div>
{{#if hasSituationalModifiers}}
<div class="modifiers form-group custom-select">
    <label>{{localize "DIALOG.SituationalModifiers"}}</label>
    <select name="situationalModifiers" multiple title="{{localize 'DIALOG.deselectWithStrg'}}">
      {{#select selectedModifiers}}
      {{#each situationalModifiers as |mod t|}}
      <option title="{{localize mod.name}}"  data-type="{{mod.type}}" {{#if mod.specAbId}}data-specAbId="{{mod.specAbId}}"{{/if}} {{#if mod.armorPen}}data-armorPen="{{mod.armorPen}}"{{/if}} value="{{mod.value}}" {{#if mod.selected}}selected{{/if}}>
        {{localize mod.name}} [{{mod.value}}]
      </option>
      {{/each}}
      {{/select}}
    </select>
</div>
{{/if}} {{#if visionOptions}}
<div class="form-group custom-select">
    <label>{{localize "sight"}}</label>
    <select name="vision">
        {{#select "0"}}
        {{#each visionOptions as |label val|}}
        <option value="{{val}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{/if}}