<div class="form-group">
    <label>{{localize "Modifier"}}</label>
    <input class="quantity-click" type="number" name="testModifier" value="{{testModifier}}" />
</div>
{{#if difficultyLabels}}
<div class="form-group custom-select">
    <label>{{localize "Difficulty"}}</label>
    <select name="testDifficulty">
      {{selectOptions difficultyLabels selected=testDifficulty localize=true}}
    </select>
</div>
{{/if}}
<div class="form-group custom-select">
    <label>{{localize "DIALOG.RollMode"}}</label>
    <select name="rollMode">
      {{selectOptions rollModes selected=rollMode localize=true}}  
    </select>
</div>
{{#if hasSituationalModifiers}}
<div class="modifiers form-group custom-select">
    <label>{{localize "DIALOG.SituationalModifiers"}}</label>
    <select name="situationalModifiers" multiple data-tooltip="DIALOG.deselectWithStrg">
      {{#select selectedModifiers}}
      {{#each situationalModifiers as |mod t|}}
      <option data-tooltip="{{situationalTooltip mod}}" data-type="{{mod.type}}" value="{{mod.value}}" {{#if mod.selected}}selected{{/if}}>
        {{localize
        mod.name}} [{{mod.value}}]
      </option>
      {{/each}}
      {{/select}}
    </select>
</div>
{{/if}}