<div class="selection">
    {{#if sizeNotification}}
    <div class="row-section" style="margin-bottom:10px;">
        <div class="col ten center">
            <i class="fas fa-warning fa-2x"></i> 
        </div>
        <div class="col ninety">
            {{localize sizeNotification}}
        </div>
    </div>    
    {{/if}}
    <p>{{localize title}}{{#if defenses}} ({{localize 'COMBATTRACKER.noDefenses'}}: {{defenses}}){{/if}}</p>
    <div class="row-section wrap">
        {{#each items as |itm i|}}
        <div class="col two">
            <button class="reactClick" {{#if itm.item.system.worn.offHand}}data-tooltip="offHand"{{/if}} data-value="{{itm.id}}" data-subweapon="{{itm.subweapon}}"><img src="{{itm.img}}" /><span class="{{../dieClass}} d20">{{itm.value}}</span>{{itm.name}}{{#if itm.item.system.worn.offHand}}(*){{/if}}</button>
        </div>
        {{/each}}
    </div>
</div>