<div class="row-section">
    <div class="col fourty"></div>
    <div class="row-section col sixty">
        <div class="col five">
        </div>
        {{#each characteristics as |item i|}}
        <div class="col five center" style="max-width: 16.66%;" data-tooltip="{{localize (concatUp 'CHAR.' item)}}">
            <select class="noAppearance" name="characteristics{{i}}">
                {{#select item}}
                <option value="mu"> {{localize 'CHARAbbrev.MU'}}</option>
                <option value="kl"> {{localize 'CHARAbbrev.KL'}}</option>
                <option value="in"> {{localize 'CHARAbbrev.IN'}}</option>
                <option value="ch"> {{localize 'CHARAbbrev.CH'}}</option>
                <option value="ff"> {{localize 'CHARAbbrev.FF'}}</option>
                <option value="ge"> {{localize 'CHARAbbrev.GE'}}</option>
                <option value="ko"> {{localize 'CHARAbbrev.KO'}}</option>
                <option value="kk"> {{localize 'CHARAbbrev.KK'}}</option>
                {{/select}}
            </select>
        </div>
        {{/each}}
        <div class="col five center" data-tooltip="{{localize 'Fw'}}">
            {{localize 'CHARAbbrev.FW'}}
        </div>
        <div class="col five center" data-tooltip="{{localize 'qualityStep'}}">
            {{localize 'CHARAbbrev.QS'}}
        </div>
    </div>
</div>
<div class="form-group">
    <label>{{localize "Modifier"}}</label>
    <div class="row-section">
        <div class="col five">
            <input class="quantity-click" type="number" name="testModifier" value="{{testModifier}}" />
        </div>
        {{#each characteristics as |item i|}}
        <div class="col five" data-tooltip="{{localize 'MODS.partChecks'}}">
            <input class="quantity-click" type="number" name="ch{{i}}" value="0" />
        </div>
        {{/each}}
        <div class="col five" data-tooltip="{{localize 'MODS.FW'}}">
            <input class="quantity-click" type="number" name="fw" value="0" />
        </div>
        <div class="col five" data-tooltip="{{localize 'MODS.QS'}}">
            <input class="quantity-click" type="number" name="qs" value="0" />
        </div>
    </div>
</div>
{{#if difficultyLabels}}
<div class="form-group custom-select">
    <label>{{localize "Difficulty"}}</label>
    <select name="testDifficulty">
        {{selectOptions difficultyLabels selected=testDifficulty localize=true}}  
    </select>
</div>
{{/if}}
<div class="form-group custom-select">
    <label>{{localize "DIALOG.RollMode"}}</label>
    <select name="rollMode">
        {{selectOptions rollModes selected=rollMode localize=true}}  
    </select>
</div>
{{#if hasSituationalModifiers}}
<div class="modifiers form-group custom-select">
    <label>{{localize "DIALOG.SituationalModifiers"}}</label>
    <select name="situationalModifiers" multiple data-tooltip="{{localize 'DIALOG.deselectWithStrg'}}">
        {{#select selectedModifiers}}
        {{#each situationalModifiers as |mod t|}}
        <option data-tooltip="{{situationalTooltip mod}}" data-type="{{mod.type}}" {{#if mod.armorPen}}data-armorPen="{{mod.armorPen}}"{{/if}} value="{{mod.value}}" {{#if
            mod.selected}}selected{{/if}}>
            {{localize mod.name}} [{{mod.value}} {{mod.type}}]
        </option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{/if}}