<h3 class="center">{{localize 'CHATFATE.selectDieToReroll'}}</h3>
<div class="card-content hide-option roll-result center">
    {{#each postData.characteristics as |item i|}}
    {{#when item.char 'noteq' 'damage'}}
    <a class="dieButton" data-index="{{i}}">
        <span title="{{localize (concatUp 'CHAR.' item.char)}}{{#if item.tar}} vs {{item.tar}}{{/if}}"
        class="{{#if item.suc}}suc{{else}}fail{{/if}} die-{{item.char}} {{#if item.die}}{{item.die}}{{else}}d20{{/if}}">
        {{item.res}}</span></a> {{/when}}{{/each}}
</div>