<form class="skill-test">
    <div class="row-section">
        <div class="col sixty">

            {{> systems/dsa5/templates/dialog/enhanced-default-dialog.html}}

            <div class="form-group">
                <label style="line-height: normal;">{{localize "maintainedSpells"}}</label>
                <input class="quantity-click" type="number" name="maintainedSpells" value="0" />
            </div>
            {{#if hasSKModifier}}
            <div class="form-group" title="{{localize 'TT.zkModifer'}}">
                <label>{{localize "skModifier"}}</label>
                <input type="number" name="skModifier" value="{{SKModifier}}" />
            </div>
            {{/if}} {{#if hasZKModifier}}
            <div class="form-group" title="{{localize 'TT.zkModifer'}}">
                <label>{{localize "zkModifier"}}</label>
                <input type="number" name="zkModifier" value="{{ZKModifier}}" />
            </div>
            {{/if}} {{#if isRitual}}

            <div class="form-group custom-select ritual">
                <label>{{localize "place"}}</label>
                <select name="placeModifier">
                    {{#select 0}}
                    {{#each locationModifiers as |label val|}}
                    <option value="{{label}}">{{localize val}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group custom-select">
                <label>{{localize "time"}}</label>
                <select name="timeModifier">
                    {{#select 0}}
                    {{#each timeModifiers as |label val|}}
                    <option value="{{label}}">{{localize val}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group custom-select">
                <label>{{localize "RITUALMODIFIER.rightClothes"}}</label>
                <input type="checkbox" id="rightClothes" name="rightClothes" value="1">
            </div>
            <div class="form-group custom-select">
                <label>{{localize "RITUALMODIFIER.rightEquipment"}}</label>
                <input type="checkbox" id="rightEquipment" name="rightEquipment" value="1">
            </div>
            {{/if}} {{#if canChangeCost}}
            <div class="form-group custom-select">
                <label>{{localize "force"}} (+1)</label>
                <input type="checkbox" id="forceSpell" class="spellModifier" data-cost="1" name="forceSpell" value="1">
            </div>
            <div class="form-group custom-select">
                <label>{{localize "reduceCost"}} (-1)</label>
                <input type="checkbox" id="reduceCostSpell" class="spellModifier" data-cost="-1" name="reduceCostSpell" value="-1">
            </div>
            {{/if}} {{#if canChangeRange}}
            <div class="form-group custom-select">
                <label>{{localize "increaseRange"}} (-1)</label>
                <input type="checkbox" id="increaseRangeSpell" class="spellModifier" data-reach="-1" name="increaseRangeSpell" value="-1">
            </div>

            {{/if}} {{#if canChangeCastingTime}}
            <div class="form-group custom-select">
                <label>{{localize "increaseCastingTime"}} (+1)</label>
                <input type="checkbox" id="increaseCastingTime" class="spellModifier" data-castingTime="1" name="increaseCastingTime" value="1">
            </div>
            <div class="form-group custom-select">
                <label>{{localize "decreaseCastingTime"}} (-1)</label>
                <input type="checkbox" id="decreaseCastingTime" class="spellModifier" data-castingTime="-1" name="decreaseCastingTime" value="-1">
            </div>
            {{/if}}

            <div class="form-group custom-select">
                <label>{{localize "removeGesture"}} (-2)</label>
                <input type="checkbox" id="removeGesture" class="spellModifier" name="removeGesture" value="-2">
            </div>

            <div class="form-group custom-select">
                <label>{{localize "removeFormula"}} (-2)</label>
                <input type="checkbox" id="removeFormula" class="spellModifier" name="removeFormula" value="-2">
            </div>

            <hr>
            <div class="row-section wrap" style="margin-top:20px">
                <div class="col">
                    <div class="row-section table-title">
                        <div class="col four center">
                            {{localize "castingTime"}}
                        </div>
                        <div class="col four center">
                            {{localize "cost"}}
                        </div>
                        <div class="col four center">
                            {{localize "reach"}}
                        </div>
                        {{#when maintainCost 'noteq' '0'}}
                        <div class="col four center" title="{{localize 'maintainCost'}}">
                            {{localize "CHARAbbrev.maintainCost"}}
                        </div>
                        {{/when}}
                    </div>
                </div>
                <div class="col">
                    <div class="row-section lineheight">
                        <div class="col four center">
                            <span class="castingTime" data-mod="0" data-base="{{spellCastingTime}}">{{spellCastingTime}}</span>
                        </div>
                        <div class="col four center row-section">
                            <input title="{{localize 'variableCost'}}" class="{{#unless variableBaseCost}}dsahidden{{/unless}} col two variableBaseCost" type="number" data-mod="0" data-base="{{spellCost}}" name="variableBaseCost" value="{{spellCost}}" />
                            <span class="col {{#if variableBaseCost}}two {{/if}}aspcost" data-mod="0" data-base="{{spellCost}}">{{spellCost}}</span>
                        </div>
                        <div class="col four center">
                            <span class="reach" data-mod="0" data-base="{{spellReach}}">{{spellReach}}</span>
                        </div>
                        {{#when maintainCost 'noteq' '0'}}
                        <div class="col four center">
                            <span class="maintainCost" data-mod="0" data-base="{{maintainCost}}">{{maintainCost}}</span>
                        </div>
                        {{/when}}
                    </div>
                </div>
            </div>
            <div class="row-section" style="margin-top:20px;">
                <div class="col eighty">
                    {{localize "maxSpellMods"}}
                </div>
                <div class="col five maxMods center">
                    {{maxMods}}
                </div>
            </div>
        </div>
        <div class="col fourty">
            <div class="specAbsContainer">
                {{#unless extensions}}
                <div class="row-section">
                    <div class="col extImg" style="height: 120px" title="{{localize 'DIALOG.noExtensions'}}">
                    </div>
                </div>

                {{else}} {{#each extensions as |item i|}}
                <div class="row-section specAbs" data-name="{{item.shortName}}" title="{{item.descr}}">
                    <div class="extImg col ten">
                    </div>
                    <div class="col ninety">
                        <a>&nbsp;{{item.shortName}}</a>
                    </div>
                </div>
                {{/each}} {{/unless}}
            </div>
        </div>
    </div>
    <div class="roll-dialog-tag">spell</div>
</form>