<div>
    <h3>{{document.name}}</h3>
    <div class="row-section">
        {{#unless skipHeader}}
        <div class="col sixty">
            {{{enrichedDescription}}}
            {{#if (and isGM enrichedGmdescription)}}
            <div class="maskfield">
                {{{enrichedGmdescription}}}
            </div>
            {{/if}}
        </div>
        <div class="col zerofive"></div>
        <div class="col fourty">
        {{else}}
        <div class="col row-section">
        {{/unless}}
            <div class="row-section wrap col third">
                <div class="col center">
                    <img src="{{document.img}}" style="width:100%;border:none;" >
                </div>
                <div class="col compendium">
                    <small>{{item.pack}}</small>
                </div>  
            </div>
            <div class="col ten"></div>
            <div class="row-section col sixty">
                <div class="col groupbox">
                        <div class="row-section wrap">
                            <div class="col table-title noBorder row-section">
                                <div class="col ninety">
                                    {{localize "ammunitiongroup"}}
                                </div>
                                <div class="col ten center">
                                    {{#if document.uuid}}<a class="show-item" data-type="Item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                                </div>                            
                            </div>
                            <div class="col">
                                {{localize document.system.ammunitiongroup.value}}
                            </div>
                
                            {{#if (eq document.system.ammunitiongroup.value 'mag')}}
                            <div class="col table-title noBorder">
                                {{localize "mag"}}
                            </div>
                            <div class="col">
                                {{document.system.mag.value}} / {{document.system.mag.max}}
                            </div>
                            {{/if}}
                            <div class="col table-title noBorder">
                                {{localize "atmod"}}
                            </div>
                            <div class="col">
                                {{localize document.system.atmod}}
                            </div>
                            {{#if document.system.damageMod}}
                            <div class="col table-title noBorder">
                                {{localize "MODS.damage"}}
                            </div>
                            <div class="col">
                                {{localize document.system.damageMod}}
                            </div>
                            {{/if}}
                            {{#if document.system.damageMod}}
                            <div class="col table-title noBorder">
                                {{localize "MODS.range"}}
                            </div>
                            <div class="col">
                                {{document.system.rangeMultiplier}}
                            </div>
                            {{/if}}
                            {{#if document.system.armorMod}}
                            <div class="col table-title noBorder">
                                {{localize "MODS.armor"}}
                            </div>
                            
                            <div class="col">
                                {{localize document.system.armorMod}}
                            </div>
                            {{/if}}
                            {{#if document.system.effect.attributes}}
                            <div class="col table-title noBorder">
                                {{localize "domains"}}
                            </div>
                            <div class="col">
                                {{document.system.effect.attributes}}
                            </div>
                            {{/if}}
                        
                        </div>

                </div>
            </div>
            
        </div>
    </div>
</div>