<div>
    <h3>{{document.name}}</h3>
    <div class="row-section">
        {{#unless skipHeader}}
        <div class="col sixty">
            <img src="{{document.img}}" style="width:60%;border:none;float:right" >
            {{{enrichedDescription}}}
            {{{enrichedClothing}}}
        </div>
        <div class="col zerofive"></div>
        <div class="col fourty">
        {{else}}
        <div class="col">
        {{/unless}}
            <div class="row-section">
                <div class="col groupbox">
                        <div class="row-section wrap">
                            <div class="col table-title noBorder row-section">
                                <div class="col ninety">
                                    {{localize "APValue"}}
                                </div>
                                <div class="col ten center">
                                    {{#if document.uuid}}<a class="show-item" data-type="Item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                                </div>
                                
                            </div>
                            <div class="col">
                                {{document.system.APValue.value}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "languagePoints"}}
                            </div>
                            <div class="col">
                                {{document.system.languagePoints.value}}
                            </div>
                            {{#if document.system.requirements.value}}
                            <div class="col table-title noBorder">
                                {{localize "requirements"}}
                            </div>
                            <div class="col">
                                {{document.system.requirements.value}}
                            </div>
                            {{/if}}
                            {{#if document.system.recommendedAdvantages.value}}
                            <div class="col table-title noBorder">
                                {{localize "recommendedAdvantages"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.recommendedAdvantages.value 'advantage'}}}
                            </div>
                            {{/if}}
                            {{#if document.system.recommendedDisadvantages.value}}
                            <div class="col table-title noBorder">
                                {{localize "recommendedDisadvantages"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.recommendedDisadvantages.value 'disadvantage'}}}
                            </div>
                            {{/if}}
                            {{#if document.system.notsuitableAdvantages.value}}
                            <div class="col table-title noBorder">
                                {{localize "notsuitableAdvantages"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.notsuitableAdvantages.value 'advantage'}}}
                            </div>
                            {{/if}}
                            {{#if document.system.notsuitableDisadvantages.value}}
                            <div class="col table-title noBorder">
                                {{localize "notsuitableDisadvantages"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.notsuitableDisadvantages.value 'disadvantage'}}}
                            </div>
                            {{/if}}
                            <div class="col table-title noBorder">
                                {{localize "skills"}}
                            </div>
                            <div class="col">
                                {{document.system.skills.value}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "combatskill"}}
                            </div>
                            <div class="col">
                                {{document.system.combatSkills.value}}
                            </div>
                            {{#if document.system.specialAbilities.value}}
                            <div class="col table-title noBorder">
                                {{localize "specialAbilities"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.specialAbilities.value 'specialability'}}}
                            </div> 
                            {{/if}}
                            {{#if (ne document.system.mageLevel.value "mundane")}}
                            <div class="col table-title noBorder">
                                {{localize "guidevalue"}}
                            </div>
                            <div class="col">
                                {{attrName document.system.guidevalue.value}}
                            </div> 
                            <div class="col table-title noBorder">
                                {{localize "tradition"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.tradition.value 'specialability'}}}
                            </div> 
                            {{#if (eq document.system.mageLevel.value 'clerical')}}
                            <div class="col table-title noBorder">
                                {{localize "happyTalents"}}
                            </div>
                            <div class="col">
                                {{document.system.happyTalents.value}}
                            </div> 
                            <div class="col table-title noBorder">
                                {{localize "liturgies"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.liturgies.value 'liturgy ceremony'}}}
                            </div> 
                            <div class="col table-title noBorder">
                                {{localize "blessings"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.blessings.value 'blessing'}}}
                            </div> 
                            {{/if}}
                            {{#if (eq document.system.mageLevel.value 'magical')}}
                            <div class="col table-title noBorder">
                                {{localize "spells"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.spells.value 'spell ritual'}}}
                            </div> 
                            <div class="col table-title noBorder">
                                {{localize "magictricks"}}
                            </div>
                            <div class="col">
                                {{{clickableAbilities document.system.spelltricks.value 'magictrick'}}}
                            </div> 
                            <div class="col table-title noBorder">
                                {{localize "spelltrickCount"}}
                            </div>
                            <div class="col">
                                {{document.system.spelltrickCount.value}}
                            </div> 
                            {{/if}}
                            {{/if}}
                            
                            
    
                            
                        </div>

                </div>
            </div>
            
        </div>
    </div>
</div>