<div class="row-section">
    <div class="col sixty">
        <h2>{{document.name}}</h2>
        {{{hasLocalization (concat "Combatskilldescr." document.name) document.system.description.value}}}
    </div>
    <div class="col zerofive"></div>
    <div class="col fourty">
        <div class="row-section wrap">
            <div class="col center">
                <img src="{{document.img}}" style="width:100%;border:none;" >
            </div>
            <div class="col compendium">
                {{item.pack}}
            </div>  
        </div>
        <div class="row-section">
            <div class="col groupbox">
                    <div class="row-section wrap">
                        <div class="col table-title row-section">
                            <div class="col ninety">
                                {{localize "StF"}}
                            </div>
                            <div class="col ten center">
                                {{#if document.uuid}}<a class="show-item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                            </div>                            
                        </div>
                        <div class="col">
                            {{localize document.system.StF.value}}
                        </div>
                        <div class="col table-title">
                            {{localize "guidevalue"}}
                        </div>
                        <div class="col">
                            {{localize (concatUp "CHAR." document.system.guidevalue.value)}}
                        </div>
                        <div class="col table-title">
                            {{localize "weapontype"}}
                        </div>
                        <div class="col">
                            {{localize (concat document.system.weapontype.value 'weapon')}}
                        </div>
                    </div>

            </div>
        </div>
        
    </div>
</div>