<div class="row-section">
    <div class="col sixty">
        <h2>{{document.name}}</h2>
        {{{enrichedDescription}}}
        {{#if (and isGM enrichedGmdescription)}}
        <div class="maskfield">
            {{{enrichedGmdescription}}}
        </div>
        {{/if  }}
        <div class="col table-title">
            {{localize "qualitySteps"}}
        </div>
        <div class="col">
            {{{br document.system.QLList}}}
        </div>
    </div>
    <div class="col zerofive"></div>
    <div class="col fourty">
        <div class="row-section">
            <div class="col center">
                <img src="{{document.img}}" style="width:100%;border:none;" >
            </div>
        </div>
        <div class="row-section">
            <div class="col groupbox">
                    <div class="row-section wrap">
                        <div class="col table-title row-section">
                            <div class="col ninety">
                                {{localize "equipmentType"}}
                            </div>
                            <div class="col ten center">
                                {{#if document.uuid}}<a class="show-item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                            </div>                            
                        </div>
                        <div class="col">
                            {{localize (concat 'Equipment.' document.system.equipmentType.value)}}
                        </div>
                       
                        <div class="col table-title">
                            {{localize "priceEachQL"}}
                        </div>
                        <div class="col">
                            {{document.system.price.value}}
                        </div>
                        
                        <div class="col table-title">
                            {{localize "Difficulty"}}
                        </div>
                        <div class="col">
                            {{document.system.difficulty}}
                        </div>
                        <div class="col table-title">
                            {{localize "PLANT.ingredients"}}
                        </div>
                        <div class="col">
                            {{{enrichedIngredients}}}
                        </div>
                    </div>

            </div>
        </div>
        
    </div>
</div>