<div class="row-section">
    <div class="col sixty">
        <h2>{{document.name}}</h2>
        {{{document.system.description.value}}}
        {{{document.system.clothing.value}}}
    </div>
    <div class="col zerofive"></div>
    <div class="col fourty">
        <div class="row-section">
            <div class="col">
                <img src="{{document.img}}" style="width:100%;border:none;" >
            </div>
        </div>
        <div class="row-section">
            <div class="col groupbox">
                    <div class="row-section wrap">
                        <div class="col table-title row-section">
                            <div class="col ninety">
                                {{localize "APValue"}}
                            </div>
                            <div class="col ten center">
                                {{#if document.uuid}}<a class="show-item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                            </div>
                            
                        </div>
                        <div class="col">
                            {{document.system.APValue.value}}
                        </div>
                        <div class="col table-title">
                            {{localize "language"}}
                        </div>
                        <div class="col">
                            {{document.system.language.value}}
                        </div>
                        <div class="col table-title">
                            {{localize "writing"}}
                        </div>
                        <div class="col">
                            {{document.system.writing.value}}
                        </div>
                        <div class="col table-title">
                            {{localize "LocalizedIDs.localKnowledge"}}
                        </div>
                        <div class="col">
                            {{document.system.localKnowledge.value}}
                        </div>  
                        {{#if document.system.suitableProfessions.value}}
                        <div class="col table-title">
                            {{localize "recommendedProfessions"}}
                        </div>
                        <div class="col">
                            {{document.system.suitableProfessions.value}}
                        </div>
                        {{/if}}
                        {{#if document.system.socialstate.value}}
                        <div class="col table-title">
                            {{localize "Socialstate"}}
                        </div>
                        <div class="col">
                            {{document.system.socialstate.value}}
                        </div>
                        {{/if}}
                        {{#if document.system.recommendedAdvantages.value}}
                        <div class="col table-title">
                            {{localize "recommendedAdvantages"}}
                        </div>
                        <div class="col">
                            {{{clickableAbilities document.system.recommendedAdvantages.value 'advantage'}}}
                        </div>
                        {{/if}}
                        {{#if document.system.recommendedDisadvantages.value}}
                        <div class="col table-title">
                            {{localize "recommendedDisadvantages"}}
                        </div>
                        <div class="col">
                            {{{clickableAbilities document.system.recommendedDisadvantages.value 'disadvantage'}}}
                        </div>
                        {{/if}}
                        {{#if document.system.notsuitableAdvantages.value}}
                        <div class="col table-title">
                            {{localize "notsuitableAdvantages"}}
                        </div>
                        <div class="col">
                            {{{clickableAbilities document.system.notsuitableAdvantages.value 'advantage'}}}
                        </div>
                        {{/if}}
                        {{#if document.system.notsuitableDisadvantages.value}}
                        <div class="col table-title">
                            {{localize "notsuitableDisadvantages"}}
                        </div>
                        <div class="col">
                            {{{clickableAbilities document.system.notsuitableDisadvantages.value 'disadvantage'}}}
                        </div>
                        {{/if}}
                        {{#if document.system.recommendedTalents.value}}
                        <div class="col table-title">
                            {{localize "recommendedTalents"}}
                        </div>
                        <div class="col">
                            {{document.system.recommendedTalents.value}}
                        </div>
                        {{/if}}
                        {{#if document.system.notsuitableTalents.value}}
                        <div class="col table-title">
                            {{localize "notsuitableTalents"}}
                        </div>
                        <div class="col">
                            {{document.system.notsuitableTalents.value}}
                        </div>
                        {{/if}}
                        <div class="col table-title">
                            {{localize "skills"}}
                        </div>
                        <div class="col">
                            {{document.system.skills.value}}
                        </div>
                    </div>

            </div>
        </div>
        
    </div>
</div>