<div class="row-section">
    <div class="col sixty">
        <h2>{{document.name}}</h2>
        {{{enrichedDescription}}}
        {{#if (and isGM enrichedGmdescription)}}
        <div class="maskfield">
            {{{enrichedGmdescription}}}
        </div>
        {{/if  }}
    </div>
    <div class="col zerofive"></div>
    <div class="col fourty">
        <div class="row-section wrap">
            <div class="col center">
                <img src="{{document.img}}" style="width:100%;border:none;" >
            </div>
            <div class="col compendium">
                {{item.pack}}
            </div>  
        </div>
        <div class="row-section">
            <div class="col groupbox">
                <div class="row-section wrap">
                    <div class="col table-title row-section">
                        <div class="col ninety">
                            {{localize "stepValue"}}
                        </div>
                        <div class="col ten center">
                            {{#if document.uuid}}<a class="show-item" data-uuid="{{document.uuid}}"><i
                                    class="fas fa-info"></i></a>{{/if}}
                        </div>
                    </div>
                    <div class="col">
                        {{document.system.step.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "incubation"}}
                    </div>
                    <div class="col">
                        {{document.system.incubation.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "effect"}}
                    </div>
                    <div class="col">
                        {{document.system.damage.value}}
                    </div>

                    <div class="col table-title">
                        {{localize "duration"}}
                    </div>
                    <div class="col">
                        {{document.system.duration.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "source"}}
                    </div>
                    <div class="col">
                        {{document.system.source.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "treatment"}}
                    </div>
                    <div class="col">
                        {{document.system.treatment.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "antidot"}}
                    </div>
                    <div class="col">
                        {{document.system.antidot.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "resistanceModifier"}}
                    </div>
                    <div class="col">
                        {{document.system.resistance.value}}
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>