<div>
    <div class="garadanborder garadanb columnFlex row-section">
        <div class="row-section innersection col">
            <div class="col five flexAlignCenter row-section">
                <div class="garadanicon" style="background-image:url(systems/dsa5/icons/Garadan{{document.system.merchant.garadan}}.webp)"></div>
            </div>
            <div class="col eighty flexAlignCenter">
                <h2>{{document.name}}</h2>
                <h3 style="margin-top:0">{{document.system.details.career.value}}</h3>
            </div>
            <div class="col five flexAlignCenter row-section">
                <div>
                    <a class="show-item" data-type="Actor" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>
                </div>                
            </div>
        </div>
    </div>
    <div style="float:right;max-width:50%; margin-left: 20px;margin-bottom:20px">
        <div class="row-section wrap">
            <div class="col center">
                <img src="{{document.img}}" style="width:100%;border:none;" >
            </div>
            <div class="col compendium">
                {{item.pack}}
            </div>  
        </div>
    </div>
    {{{enrichedDescription}}}
    {{{enrichedBiography}}}
    {{#if (and isGM enrichedGmdescription)}}
    <div class="maskfield">
        {{{enrichedGmdescription}}}
    </div>
    {{/if}}
</div>
