<div>
    <h2>{{document.name}}</h2>

    <div class="row-section">
        {{#unless skipHeader}}
        <div class="col sixty">
            {{{enrichedDescription}}}
            {{#if (and isGM enrichedGmdescription)}}
            <div class="maskfield">
                {{{enrichedGmdescription}}}
            </div>
            {{/if}}
        </div>
        <div class="col zerofive"></div>
        <div class="col fourty">
        {{else}}
        <div class="col row-section">
        {{/unless}}
            <div class="row-section wrap col third">
                <div class="col center">
                    <img src="{{document.img}}" style="width:100%;border:none;" >
                </div>
                <div class="col compendium">
                    {{item.pack}}
                </div>  
            </div>
            <div class="col ten"></div>
            <div class="row-section col sixty">
                <div class="col groupbox">
                        <div class="row-section wrap">
                            
                            <div class="col table-title row-section">
                                <div class="col ninety">
                                    {{localize "damage"}}
                                </div>
                                <div class="col ten center">
                                    {{#if document.uuid}}<a class="show-item" data-type="Item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                                </div>                            
                            </div>
                            <div class="col">
                                {{document.system.damage.value}}
                            </div>
                            <div class="col table-title">
                                {{localize "atmod"}}
                            </div>
                            <div class="col">
                                {{document.system.atmod.value}}
                            </div>
                            <div class="col table-title">
                                {{localize "pamod"}}
                            </div>
                            <div class="col">
                                {{document.system.pamod.value}}
                            </div>
                            <div class="col table-title">
                                {{localize "damageThreshold"}}
                            </div>
                            <div class="col">
                                {{document.system.damageThreshold.value}}
                            </div>
                            <div class="col table-title">
                                {{localize "guidevalue"}}
                            </div>
                            <div class="col">
                                {{document.system.guidevalue.value}}
                            </div>
                            <div class="col table-title">
                                {{localize "TYPES.Item.combatskill"}}
                            </div>
                            <div class="col">
                                {{document.system.combatskill.value}}
                            </div>
                            <div class="col table-title">
                                {{localize "reach"}}
                            </div>
                            <div class="col">
                                {{localize (concat 'Range-' document.system.reach.value)}}
                            </div>
                            {{#if document.system.effect.value}}
                            <div class="col table-title">
                                {{localize "effect"}}
                            </div>
                            <div class="col">
                                {{document.system.effect.value}}
                            </div>
                            {{/if}}
                            {{#if document.system.effect.attributes}}
                            <div class="col table-title">
                                {{localize "domains"}}
                            </div>
                            <div class="col">
                                {{document.system.effect.attributes}}
                            </div>
                            {{/if}}
                        
                        
                        </div>

                </div>
            </div>
            
        </div>
    </div>
</div>