<div>
    <h3>{{document.name}}</h3>
    <div class="row-section">
        {{#unless skipHeader}}
        <div class="col sixty">
            {{{enrichedDescription}}}
            {{#if (and isGM enrichedGmdescription)}}
            <div class="maskfield">
                {{{enrichedGmdescription}}}
            </div>
            {{/if}}
        </div>
        <div class="col zerofive"></div>
        <div class="col fourty">
        {{else}}
        <div class="col row-section">
        {{/unless}}
            <div class="row-section wrap col third">
                <div class="col center">
                    <img src="{{document.img}}" style="width:100%;border:none;" >
                </div>
                <div class="col compendium">
                    <small>{{item.pack}}</small>
                </div>  
            </div>
            <div class="col ten"></div>
            <div class="row-section col sixty">
                <div class="col groupbox">
                        <div class="row-section wrap">
                            <div class="col table-title noBorder row-section">
                                <div class="col ninety">
                                    {{localize "skills"}}
                                </div>
                                <div class="col ten center">
                                    {{#if document.uuid}}<a class="show-item" data-type="Item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                                </div>                            
                            </div>
                            <div class="col">
                                {{document.system.talents}}
                            </div>
                        
                            <div class="col table-title noBorder">
                                {{localize "TYPES.Item.culture"}}
                            </div>
                            <div class="col">
                                {{document.system.culture}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "Category"}}
                            </div>
                            <div class="col">
                                {{document.system.category}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "PATRON.priority"}}
                            </div>
                            <div class="col">
                                {{localize document.system.priority}}
                            </div>
                        
                        </div>

                </div>
            </div>
            
        </div>
    </div>
</div>