<div>
    <h2>{{document.name}}</h2>
    <div class="row-section">
        {{#unless skipHeader}}
        <div class="col sixty">
            {{{enrichedDescription}}}
            {{#if (and isGM enrichedGmdescription)}}
            <div class="maskfield">
                {{{enrichedGmdescription}}}
            </div>
            {{/if}}
        </div>
        <div class="col zerofive"></div>
        <div class="col fourty">
        {{else}}
        <div class="col row-section">
        {{/unless}}
            <div class="row-section wrap col third">
                <div class="col center">
                    <img src="{{document.img}}" style="width:100%;border:none;" >
                </div>
                <div class="col compendium">
                    <small>{{item.pack}}</small>
                </div>  
            </div>
            <div class="col ten"></div>
            <div class="row-section col sixty">
                <div class="col groupbox">
                        <div class="row-section wrap">
                            <div class="col table-title noBorder row-section">
                                <div class="col ninety">
                                    
                                </div>
                                <div class="col ten center">
                                    {{#if document.uuid}}<a class="show-item" data-type="Item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                                </div>                            
                            </div>
                        
                            <div class="col">
                                {{#each attributes}}
                                <label class="plantContainer {{this.name}}" data-tooltip="{{localize (concat 'PLANT.' this.name)}}">
                                    <input type="checkbox" name="system.planttype.{{this.name}}" value="true" data-dtype="Boolean" disabled="true" {{checked this.checked}}/>
                                    <span></span>
                                </label> {{/each}}
                
                            </div>
                            {{#if document.system.location.landscape}}
                            <div class="col table-title noBorder">
                                {{localize "PLANT.landscape"}}
                            </div>
                            <div class="col">
                                {{document.system.location.landscape}}
                            </div>
                            {{/if}}
                            {{#if document.system.location.region}}
                            <div class="col table-title noBorder">
                                {{localize "PLANT.region"}}
                            </div>
                            <div class="col">
                                {{document.system.location.region}}
                            </div>
                            {{/if}}                            
                            <div class="col table-title noBorder">
                                {{localize "PLANT.search"}}
                            </div>
                            <div class="col">
                                {{document.system.difficulty.search}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "PLANT.identify"}}
                            </div>
                            <div class="col">
                                {{document.system.difficulty.identify}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "PLANT.usages"}}
                            </div>
                            <div class="col">
                                {{document.system.usages}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "effect"}}
                            </div>
                            <div class="col">
                                {{{enrichedEffect}}}
                            </div>
                            {{#if enrichedRecipes}}
                            <div class="col table-title noBorder">
                                {{localize "PLANT.recipes"}}
                            </div>
                            <div class="col">
                                {{{enrichedRecipes}}}
                            </div>
                            {{/if}}                            
                        </div>

                </div>
            </div>
            
        </div>
    </div>
</div>