<div>
    <h3>{{document.name}}</h3>
    <div class="row-section">
        {{#unless skipHeader}}
        <div class="col sixty">
            {{{enrichedDescription}}}
            {{#if (and isGM enrichedGmdescription)}}
            <div class="maskfield">
                {{{enrichedGmdescription}}}
            </div>
            {{/if  }}
            <div class="col">
                <b>{{localize "rule"}}</b>: {{document.system.rule.value}}
            </div>
        </div>
        <div class="col zerofive"></div>
        <div class="col fourty">
        {{else}}
        <div class="col row-section">
        {{/unless}}
            <div class="row-section wrap col third">
                <div class="col center">
                    <img src="{{document.img}}" style="width:100%;border:none;" >
                </div>
                <div class="col compendium">
                    <small>{{item.pack}}</small>
                </div>  
            </div>
            <div class="col ten"></div>
            <div class="row-section col sixty">
                <div class="col groupbox">
                        <div class="row-section wrap">
                            <div class="col table-title noBorder row-section">
                                <div class="col ninety">
                                    {{localize "APValue"}}
                                </div>
                                <div class="col ten center">
                                    {{#if document.uuid}}<a class="show-item" data-type="Item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                                </div>                            
                            </div>
                            <div class="col">
                                {{document.system.APValue.value}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "requirements"}}
                            </div>
                            <div class="col">
                                {{document.system.requirements.value}}
                            </div>
                            {{#if (ne "0" document.system.maxRank.value)}}
                            <div class="col table-title noBorder">
                                {{localize "maxlevel"}}
                            </div>
                            <div class="col">
                                {{document.system.maxRank.value}}
                            </div>
                            {{/if}}
                            
                            <div class="col table-title noBorder">
                                {{localize "Category"}}
                            </div>
                            <div class="col">
                                {{localize document.system.category.value}}
                            </div>
                            {{#if document.system.effect.value}}
                            <div class="col table-title noBorder">
                                {{localize "effect"}}
                            </div>
                            <div class="col">
                                {{document.system.effect.value}}
                            </div>
                            {{/if}}

                            {{#if (eq document.system.category.value 'pact')}}
                            <div class="col table-title noBorder">
                                {{localize "distribution"}}
                            </div>
                            <div class="col">
                                {{document.system.distribution}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "circle"}}
                            </div>
                            <div class="col">
                                {{document.system.circle}}
                            </div>
                            {{else if (eq document.system.category.value 'staff')}}
                            <div class="col table-title noBorder">
                                {{localize "SpecCategory.staff"}}
                            </div>
                            <div class="col">
                                {{localize (concat 'traditionArtifacts.' document.system.artifact)}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "volume"}}
                            </div>
                            <div class="col">
                                {{document.system.volume}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "AsPCost"}}
                            </div>
                            <div class="col">
                                {{document.system.AsPCost}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "feature"}}
                            </div>
                            <div class="col">
                                {{document.system.feature}}
                            </div>
                            
                            {{else if (eq document.system.category.value 'Combat')}}
                            {{#if document.system.effect.value2}}
                            <div class="col table-title noBorder">
                                {{localize "effectVariant" num="B"}}
                            </div>
                            <div class="col">
                                {{document.system.effect.value2}}
                            </div>
                            {{/if}}
                            {{#if document.system.effect.value3}}
                            <div class="col table-title noBorder">
                                {{localize "effectVariant" num="C"}}
                            </div>
                            <div class="col">
                                {{document.system.effect.value3}}
                            </div>
                            {{/if}}
                            <div class="col table-title noBorder">
                                {{localize "TYPES.Item.combatskill"}}
                            </div>
                            <div class="col">
                                {{document.system.list.value}}
                            </div>
                            <div class="col table-title noBorder">
                                {{localize "COMBATSKILLCATEGORY.subcategory"}}
                            </div>
                            <div class="col">
                                {{localize document.system.category.sub}}
                            </div>
                            {{/if}}


                        </div>

                </div>
            </div>
            
        </div>
    </div>
</div>