<div class="row-section">
    <div class="col sixty">
        <h2>{{document.name}}</h2>
        {{{enrichedDescription}}}
        {{#if (and isGM enrichedGmdescription)}}
        <div class="maskfield">
            {{{enrichedGmdescription}}}
        </div>
        {{/if  }}
        <div class="col">
            <b>{{localize "rule"}}</b>: {{document.system.rule.value}}
        </div>
    </div>
    <div class="col zerofive"></div>
    <div class="col fourty">
        <div class="row-section">
            <div class="col center">
                <img src="{{document.img}}" style="width:100%;border:none;" >
            </div>
        </div>
        <div class="row-section">
            <div class="col groupbox">
                    <div class="row-section wrap">
                        <div class="col table-title row-section">
                            <div class="col ninety">
                                {{localize "APValue"}}
                            </div>
                            <div class="col ten center">
                                {{#if document.uuid}}<a class="show-item" data-uuid="{{document.uuid}}"><i class="fas fa-info"></i></a>{{/if}}
                            </div>                            
                        </div>
                        <div class="col">
                            {{document.system.APValue.value}}
                        </div>
                        <div class="col table-title">
                            {{localize "requirements"}}
                        </div>
                        <div class="col">
                            {{document.system.requirements.value}}
                        </div>
                        {{#if (ne "0" document.system.maxRank.value)}}
                        <div class="col table-title">
                            {{localize "maxlevel"}}
                        </div>
                        <div class="col">
                            {{document.system.maxRank.value}}
                        </div>
                        {{/if}}
                        
                        <div class="col table-title">
                            {{localize "Category"}}
                        </div>
                        <div class="col">
                            {{localize document.system.category.value}}
                        </div>
                        {{#if document.system.effect.value}}
                        <div class="col table-title">
                            {{localize "effect"}}
                        </div>
                        <div class="col">
                            {{document.system.effect.value}}
                        </div>
                        {{/if}}

                        {{#if (eq document.system.category.value 'pact')}}
                        <div class="col table-title">
                            {{localize "distribution"}}
                        </div>
                        <div class="col">
                            {{document.system.distribution}}
                        </div>
                        <div class="col table-title">
                            {{localize "circle"}}
                        </div>
                        <div class="col">
                            {{document.system.circle}}
                        </div>
                        {{else if (eq document.system.category.value 'staff')}}
                        <div class="col table-title">
                            {{localize "traditionArtifact"}}
                        </div>
                        <div class="col">
                            {{localize (concat 'traditionArtifacts.' document.system.artifact)}}
                        </div>
                        <div class="col table-title">
                            {{localize "volume"}}
                        </div>
                        <div class="col">
                            {{document.system.volume}}
                        </div>
                        <div class="col table-title">
                            {{localize "AsPCost"}}
                        </div>
                        <div class="col">
                            {{document.system.AsPCost}}
                        </div>
                        <div class="col table-title">
                            {{localize "feature"}}
                        </div>
                        <div class="col">
                            {{document.system.feature}}
                        </div>
                        
                        {{else if (eq document.system.category.value 'Combat')}}
                        {{#if document.system.effect.value2}}
                        <div class="col table-title">
                            {{localize "effectVariant" num="B"}}
                        </div>
                        <div class="col">
                            {{document.system.effect.value2}}
                        </div>
                        {{/if}}
                        {{#if document.system.effect.value3}}
                        <div class="col table-title">
                            {{localize "effectVariant" num="C"}}
                        </div>
                        <div class="col">
                            {{document.system.effect.value3}}
                        </div>
                        {{/if}}
                        <div class="col table-title">
                            {{localize "TYPES.Item.combatskill"}}
                        </div>
                        <div class="col">
                            {{document.system.list.value}}
                        </div>
                        <div class="col table-title">
                            {{localize "COMBATSKILLCATEGORY.subcategory"}}
                        </div>
                        <div class="col">
                            {{localize document.system.category.sub}}
                        </div>
                        {{/if}}


                    </div>

            </div>
        </div>
        
    </div>
</div>