<div class="row-section">
    <div class="col sixty">
        <h2>{{document.name}}</h2>
        {{{enrichedDescription}}}
        {{#if (and isGM enrichedGmdescription)}}
        <div class="maskfield">
            {{{enrichedGmdescription}}}
        </div>
        {{/if  }}
    </div>
    <div class="col zerofive"></div>
    <div class="col fourty">
        <div class="row-section wrap">
            <div class="col center">
                <img src="{{document.img}}" style="width:100%;border:none;" >
            </div>
            <div class="col compendium">
                {{item.pack}}
            </div>  
        </div>
        <div class="row-section">
            <div class="col groupbox">
                <div class="row-section wrap">
                    <div class="col table-title row-section">
                        <div class="col ninety">
                            {{localize "traitType"}}
                        </div>
                        <div class="col ten center">
                            {{#if document.uuid}}<a class="show-item" data-uuid="{{document.uuid}}"><i
                                    class="fas fa-info"></i></a>{{/if}}
                        </div>
                    </div>
                    <div class="col">
                        {{localize document.system.traitType.value}}
                    </div>

                    {{#if (eq system.traitType.value "rangeAttack")}}
                    <div class="col table-title">
                        {{localize "CHAR.ATTACK"}}
                    </div>
                    <div class="col">
                        {{document.system.at.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "damage"}}
                    </div>
                    <div class="col">
                        {{document.system.damage.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "reach"}}
                    </div>
                    <div class="col">
                        {{document.system.reach.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "reloadTime"}}
                    </div>
                    <div class="col">
                        {{document.system.reloadTime.value}}
                    </div>
                    {{#if document.system.effect.value}}
                    <div class="col table-title">
                        {{localize "effect"}}
                    </div>
                    <div class="col">
                        {{document.system.effect.value}}
                    </div>
                    {{/if}}
                    {{else if (eq document.system.traitType.value "meleeAttack")}}
                    <div class="col table-title">
                        {{localize "CHAR.ATTACK"}}
                    </div>
                    <div class="col">
                        {{document.system.at.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "CHAR.PARRY"}}
                    </div>
                    <div class="col">
                        {{document.system.pa}}
                    </div>
                    <div class="col table-title">
                        {{localize "damage"}}
                    </div>
                    <div class="col">
                        {{document.system.damage.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "reach"}}
                    </div>
                    <div class="col">
                        {{localize document.system.reach.value}}
                    </div>
                    {{#if document.system.effect.value}}
                    <div class="col table-title">
                        {{localize "effect"}}
                    </div>
                    <div class="col">
                        {{document.system.effect.value}}
                    </div>
                    {{/if}}
 
                    {{#if document.system.effect.attributes}}
                        <div class="col table-title">
                            {{localize "domains"}}
                        </div>
                        <div class="col">
                            {{document.system.effect.attributes}}
                        </div>
                        {{/if}}
                    {{else if (eq system.traitType.value "armor")}}
  
                    <div class="col table-title">
                        {{localize "protection"}}
                    </div>
                    <div class="col">
                        {{document.system.at.value}}
                    </div>
                    {{else if (eq document.system.traitType.value "familiar")}}
                    <div class="col table-title">
                        {{localize "APValue"}}
                    </div>
                    <div class="col">
                        {{document.system.APValue.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "AsPCost"}}
                    </div>
                    <div class="col">
                        {{document.system.AsPCost.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "duration"}}
                    </div>
                    <div class="col">
                        {{document.system.duration.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "aspect"}}
                    </div>
                    <div class="col">
                        {{document.system.aspect.value}}
                    </div>
             
                    {{else if (eq document.system.traitType.value "trick")}}
                    <div class="col table-title">
                        {{localize "APValue"}}
                    </div>
                    <div class="col">
                        {{document.system.APValue.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "requirements"}}
                    </div>
                    <div class="col">
                        {{document.system.aspect.value}}
                    </div>
                    {{else if (eq document.system.traitType.value "entity")}}
                    <div class="col table-title">
                        {{localize "distribution"}}
                    </div>
                    <div class="col">
                        {{document.system.distribution}}
                    </div>
                    <div class="col table-title">
                        {{localize "CHARAbbrev.QS"}}
                    </div>
                    <div class="col">
                        {{document.system.AsPCost.value}}
                    </div>
                    <div class="col table-title">
                        {{localize "maxlevel"}}
                    </div>
                    <div class="col">
                        {{document.system.at.value}}
                    </div>
                    {{else if (eq document.system.traitType.value "summoning")}}
                    <div class="col table-title">
                        {{localize "distribution"}}
                    </div>
                    <div class="col">
                        {{document.system.distribution}}
                    </div>
                    <div class="col table-title">
                        {{localize "conjuringDifficulty"}}
                    </div>
                    <div class="col">
                        {{document.system.at.value}}
                    </div>
                    {{/if}}

                </div>

            </div>
        </div>

    </div>
</div>