<div class="detailFilters" data-subc="{{subcategory}}">
    {{#each fields as |field|}} {{#if (eq field.type 'select')}}
    <div class="form-group">
        <label class="label-text">{{localize field.label}}</label>
        <select name="{{field.attr}}" data-dtype="String">
            <option value="">{{localize 'Library.noFilter'}}</option>
          {{#each options as |ch char|}}
          <option value="{{char}}">{{localize ch}}</option>
          {{/each}}
        </select>
    </div>
    {{else if (eq field.type 'text')}}
    <div class="form-group">
        <label class="label-text">{{localize field.label}}</label>
        <input class="input-text" type="text" name="{{field.attr}}" value="" data-dtype="String" />
    </div>
    {{else if (eq field.type 'checkbox')}}
    <div class="form-group cbParent row-section">
        <label class="label-text col eighty">{{localize field.label}}</label>
        <input class="input-text col five" type="checkbox" name="{{field.attr}}" value="1" data-dtype="Boolean" />
    </div>
    {{/if}} {{/each}}
    <div class="form-group">
        <label class="label-text">{{localize 'Module'}}</label>
        <input class="input-text" type="text" name="compendium" value="" data-dtype="String" />
    </div>
</div>