<div class="didYouKnow">
    <div class="row-section">
        <div class="col five">
            <img src="systems/dsa5/icons/categories/DSA-Auge.webp" height="40px" width="40px"/>
        </div>
        <div class="col eighty">
            <div class="row-section">
                <div class="col ninety">
                <h3>{{localize 'didyouknow'}}</h3>
                </div>
                <div class="col ten right">
                    <a class="closeDidYou"><i class="fas fa-times"></i></a>
                </div>
            </div>
            <div class="row-section">
                <div class="col">
                <p>{{msg}}</p>
                </div>
            </div>
        </div>
    </div>
</div>