<form>
    <div class="form-group">
        <label class="label-text">{{localize "Name"}}</label>
        <input class="input-text" type="text" name="name" value="{{config.name}}" />
    </div>
    <div class="form-group">
        <label class="label-text">{{localize "Modifier"}}</label>
        <input class="input-text" type="number" name="value" value="{{config.value}}" />
    </div>
    <div class="groupbox lineheight">
        <div class="table-title">
            {{localize 'Category'}}
        </div>
        {{#each categories as |cat|}}
        <div class="form-group">
            <label class="label-text">{{itemCategory cat}}</label>
            <input class="input-text" type="checkbox" name="target.{{cat}}" value="1" {{checked (lookup ../config.target cat)}}/>
        </div>
        {{/each}}
    </div>
    <div class="groupbox lineheight">
        <div class="table-title">
            {{localize 'target'}}
        </div>
        <div class="form-group">
            <label class="label-text">{{localize 'TYPES.Actor.character'}}</label>
            <input class="input-text" type="checkbox" name="victim.player" value="1" {{checked config.victim.player}}/>
        </div>
        <div class="form-group">
            <label class="label-text">{{localize 'TYPES.Actor.npc'}}</label>
            <input class="input-text" type="checkbox" name="victim.npc" value="1" {{checked config.victim.npc}}/>
        </div>
    </div>
    <button style="margin-top:20px" class="addGlobalMod">{{localize 'save'}}</button>
</form>