<div class="itemLibrary">
    <div class="row-section">
        <div class="col">
            <div>
                <div class="form-group">
                    <label class="label-text">{{ localize "search"}}:</label>
                    <input class="input-text filterBy-search" name="librarySearch" type="text" placeholder="{{localize 'searchPlaceholder'}}" />
                </div>
            </div>

        </div>

    </div>
    <div class="row-section">
        <div class="col">
            <div class="groupbox">
                <div class="row-section">
                    <div class="col">
                        {{localize "Category"}}
                    </div>
                </div>
                <div class="row-section">
                    <div class="col">
                        <ul class="wrap">
                            {{#each filters.categories as |val fil|}}
                            <li><input class="filter" type="checkbox" id="filter_{{fil}}" data-category="{{fil}}" {{checked val}}/><label for="filter_{{fil}}">{{localize fil}}</label></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row-section wrap searchResult">
        <ul class="item-list save-scroll">

        </ul>
    </div>
</div>