<div class="itemLibrary">
    <div class="row-section">
        <div class="col">
            <div>
                <div class="form-group">
                    <label class="label-text">{{ localize "search"}}:</label>
                    <input class="input-text filterBy-search" name="librarySearch" type="text" placeholder="{{localize 'searchPlaceholder'}}" />
                </div>
            </div>

        </div>

    </div>
    <div class="row-section">
        <div class="col">
            <div class="groupbox">
                <div class="row-section">
                    <div class="col">
                        <p>{{localize "searchCategoryDescription"}}</p>
                    </div>
                </div>
                <div class="row-section">
                    <div class="col">
                        <ul class="wrap categories">
                            {{#each categories as |val fil|}}
                            <li title="{{val.label}}"><input class="filter" type="checkbox" id="filter_{{val.key}}" data-category="{{val.key}}" {{checked val.selected}}/><label for="filter_{{val.key}}">{{val.label}}</label></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row-section wrap searchResult">
        <ul class="item-list save-scroll">

        </ul>
    </div>
</div>