<div class="masterMenu">
    <div class="navWrapper">
        <i class="fas fa-angle-left left-btn"></i>
        <i class="fas fa-angle-right right-btn"></i>
        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item active" data-tab="main">{{localize "TYPES.Actor.character"}}</a>
            <a class="item" data-tab="randomGen">{{localize "MASTER.randomGen"}}</a>
            <a class="item" data-tab="sceneConfig">{{localize "MASTER.sceneConfig"}}</a>
        </nav>
    </div>

    <section class="content">
        <div class="tab sceneConfig" data-tab="sceneConfig">
            <div class="groupbox">
                <h2>{{localize 'MASTER.globalMods'}}</h2>
                <div class="row-section lineheight table-title">
                    <div class="col sixty">
                        <a class="addGlobalMod" style="margin-left:10px;"><i class="fas fa-plus"></i></a>
                    </div>
                    <div class="col ten center">
                        {{localize 'Book.active'}}
                    </div>
                    <div class="col ten center">
                        
                    </div>
                    <div class="col five center" data-tooltip="MASTER.globalModsHint">
                        <i class="fas fa-info"></i>
                    </div>
                </div>
                <div class="col morph">
                    {{#each masterSettings.globalMods as |item i|}}
                    <div class="tableOdd skills">
                        <div class="row-section lineheight">
                            <div class="col sixty">
                                <a class="editGlobalMod" data-key="{{i}}" data-tooltip="SHEET.EditItem">{{item.name}}</a>
                            </div>
                            <div class="col ten center">
                                <input type="checkbox" class="globalModEnable" data-key="{{i}}" {{checked item.enabled}}>
                            </div>
                            <div class="col ten center">
                                {{item.value}}
                            </div>
                            <div class="col five center">
                                <a class="editGlobalMod" data-key="{{i}}" data-tooltip="SHEET.EditItem"><i class="fas fa-edit"></i></a>
                                <a class="removeGlobalMod" data-key="{{i}}" data-tooltip="SHEET.DeleteItem"><i class="fas fa-trash"></i></a>                                
                            </div>
                        </div>
                        <div class="row-section wrap">
                            {{#each item.target as |value key|}}
                                {{#if value}}
                                <small class="smallBoxItem">{{itemCategory key}}</small>
                                {{/if}}
                            {{/each}}
                            {{#if item.victim.player}}
                            <small class="smallBoxItem emphasize2">{{localize 'TYPES.Actor.character'}}</small>
                            {{/if}}
                            {{#if item.victim.npc}}
                            <small class="smallBoxItem emphasize">{{localize 'TYPES.Actor.npc'}}</small>
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="groupbox">
                <h2>{{localize 'sight'}}</h2>
                
                <div class="row-section lineheight">
                    <div class="col fourty table-title">
                        <label>{{localize "MASTER.darkness"}}</label>
                    </div>
                    <div class="col two">
                        <input type="range" min="0" max="1" step="0.05" class="updateDarkness" name="updateDarkness" value="{{sceneConfig.darkness}}">
                    </div>
                    <div class="col ten center">
                        <span class="range-value">{{sceneConfig.darkness}}</span>
                    </div>
                </div>
                <div class="row-section lineheight" data-tooltip="MASTER.sightautomationTooltip">
                    <div class="col fourty table-title">
                        <label>{{localize "MASTER.sightautomation"}}</label>
                    </div>
                    <div class="col two">
                        <input type="checkbox" class="changeSetting" name="sightAutomationEnabled" value="1" {{checked sceneConfig.sceneAutomationEnabled}}>
                    </div>
                    <div class="col ten center">

                    </div>
                </div>
                <div class="row-section lineheight" data-tooltip="MASTER.lightSightCompensationEnabledTooltip">
                    <div class="col fourty table-title">
                        <label>{{localize "MASTER.lightSightCompensationEnabled"}}</label>
                    </div>
                    <div class="col two">
                        <input type="checkbox" class="changeSetting" name="lightSightCompensationEnabled" value="1" {{checked sceneConfig.lightSightCompensationEnabled}}>
                    </div>
                    <div class="col ten center">

                    </div>
                </div>
                <div class="row-section lineheight" data-tooltip="MASTER.sightautomationTooltip">
                    <div class="col fourty">
                        <label>{{localize "MASTER.threshold"}}</label>
                    </div>
                    <div class="col fourty">
                    </div>
                    <div class="col ten center">
                        <a class="resetSightThresholds" data-tooltip="MERCHANT.clearInventory"><i class="fas fa-undo"></i></a>
                    </div>
                    <div class="col ten center">
                        <i class="fas fa-info"></i>
                    </div>
                </div>
                {{#each sceneConfig.visions as |item i|}}
                <div class="row-section lineheight">
                    <div class="col fourty table-title">
                        <label>{{item.label}}</label>
                    </div>
                    <div class="col two">
                        <input type="range" min="0" max="1.05" step="0.05" class="changeSightTreshold" name="changeSightTreshold" data-index={{i}} value="{{item.value}}">
                    </div>
                    <div class="col ten center">
                        <span class="range-value">{{item.value}}</span>
                    </div>
                </div>
                {{/each}} {{{lightButton}}}
            </div>
            <div class="groupbox">
                <h2>{{localize 'MASTER.automation'}}</h2>

                <div class="row-section lineheight" data-tooltip="DSASETTINGS.enableDPSHint">
                    <div class="col fourty table-title">
                        <label>{{localize "DSASETTINGS.enableDPS"}}</label>
                    </div>
                    <div class="col two">
                        <input type="checkbox" class="changeSetting" name="enableDPS" value="1" {{checked sceneConfig.enableDPS}}>
                    </div>
                    <div class="col ten center">
                        <i class="fas fa-info"></i>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab randomGen" data-tab="randomGen">
            {{#unless randomCreation}}
            <div class="row-section">
                <div class="col center">
                    {{localize 'MASTER.gmMenuPlaceholder'}}
                </div>
            </div>
            {{/unless}} {{#each randomCreation as |item ch|}}
            <div class="row-section tableOdd wrap">
                <div class="col">
                    {{{item}}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="tab main" data-tab="main">
            <div class="row-section">
                <div class="col third lineheight center" data-tooltip="groupFatePoints">
                    <b>{{{localize 'CHARAbbrev.groupFatePoints'}}}</b>
                </div>
                <div class="col sixty center" data-tooltip="fatePoints">
                    {{#each groupschips as |item i|}}
                    <a class="schip groupschip {{item.cssClass}}" data-val="{{item.value}}"></a>
                    {{/each}}
                </div>
                <div class="col ten center">
                    <a class="addGroupSchip" data-value="-1"><i class="fas fa-minus"></i></a>
                    <a class="addGroupSchip" data-value="1"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="row-section">
                
                
                <div class="col third lineheight center">
                    <b>{{localize "TYPES.Item.skill"}}</b>
                </div>
                <div class="col sixty">
                    <select name="data.skill" class="skillSelektor select2" data-dtype="String" style="width:90%">
                        {{selectOptions abilities selected=lastSkill valueAttr="key" labelAttr="name" sort=true}}
                    </select>
                </div>
         
                <div class="col ten lineheight center">
                    <a class="requestRoll" data-tooltip="HELP.request"><i class="fas fa-dice-two"></i></a>
                </div>
            </div>
            <div class="row-section skills table-title">
                <div class="col ten">
                    <a class="dragEveryone" data-tooltip="MASTER.dragEveryone"><i class="fas fa-grip-vertical"></i></a>
                </div>
                <div class="col fourty">
                    {{localize 'Name'}} <a class="randomPlayer" data-tooltip="MASTER.randomPlayer"><i
                            class="fas fa-dice-six"></i></a>
                </div>
                <div class="col fifteen">
                </div>
                <div class="col ten">
                    <input type="checkbox" class="selectAll" name="selectAll" value="1">
                </div>
                <div class="col four">
                    <a class="rollAll" data-tooltip="CHAT.RollBlind"><i class="fas fa-dice"></i></a>
                    <a class="getPaidAll" data-tooltip="PAYMENT.wage"><i class="fas fa-piggy-bank"></i></a>
                    <a class="payAll" data-tooltip="MASTER.payTT"><i class="fas fa-coins"></i></a>
                    <a class="expAll" data-tooltip="MASTER.awardXP"><i class="fas fa-trophy"></i></a>
                    <a class="groupCheck" data-tooltip="HELP.groupcheck"><i class="fas fa-users-cog"></i></a>
                    <a class="addFolder" data-action="create" data-tooltip="FOLDER.Create"><i class="fas fa-folder"></i></a>
                </div>
            </div>
            <div class="heros">
                {{#if hasHeros}}
                    {{> systems/dsa5/templates/system/masterHeros.html heros=heros}}
                    {{#each folders as |folder|}}
                    <div class="row-section skills lineheight table-title isFolder" data-id="{{folder.id}}">
                        
                        <div class="col ten">
                            <a class="dragEveryone" data-folder="{{folder.id}}" data-tooltip="MASTER.dragEveryone"><i class="fas fa-grip-vertical"></i></a>
                        </div>
                        <div class="row-section col">
                            
                            <div class="col two">
                                <input type="text" data-id="{{folder.id}}" class="editFolder" style="border:none;margin:0;padding:0" value="{{folder.name}}"/>
                            </div>
                            <div class="col fifteen">
                            </div>
                            <div class="col ten">
                                <input type="checkbox" data-folder="{{folder.id}}" class="selectAll" name="selectAll" value="1">
                            </div>
                            <div class="col four center">
                                <a class="addFolder" data-id="{{folder.id}}" data-action="delete" data-tooltip="FOLDER.Remove"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row-section col isFolder" data-id="{{folder.id}}">
                        <div class="col ten"></div>
                        <div class="col">                            
                            {{> systems/dsa5/templates/system/masterHeros.html heros=folder.contents}}                                              
                        </div>                        
                    </div>                    
                    {{/each}}
                    
                {{else}}
                <div class="row-section">
                    <div class="col ten"></div>
                    <div class="col eighty center">
                        <p>{{localize "MASTER.noHeros"}}</p>
                    </div>
                    <div class="col ten"></div>
                </div>
                {{/if}}
            </div>
        </div>
    </section>
</div>