{{#each heros as |hero|}}
    <div class="row-section skills tableOdd hero wrap" data-id="{{hero.id}}" data-uuid="{{hero.uuid}}">
        <div class="row-section col">
            <div class="col ten">
                <img src="{{hero.img}}" data-edit="img" height="50px" style="margin:0;" />
            </div>
            <div class="col fourty">
                <a class="heroLink">{{hero.name}}</a>
                <div>
                    {{#each hero.schips as |item i|}}
                    <a class="tiny heroschip schip {{item.cssClass}}" data-val="{{item.value}}"></a>
                    {{/each}}
                </div>
            </div>
            <div class="col fifteen verticalFlex barRight">
                <div class="bar LeP" style="--a: {{hero.system.status.wounds.value}}; --b: {{hero.system.status.wounds.max}}">
                </div>
                {{#if hero.system.isMage}}
                <div class="bar AsP" style="--a: {{hero.system.status.astralenergy.value}}; --b: {{hero.system.status.astralenergy.max}}">
                </div>
                {{/if}} {{#if hero.system.isPriest}}
                <div class="bar KaP" style="--a: {{hero.system.status.karmaenergy.value}}; --b: {{hero.system.status.karmaenergy.max}}">
                </div>
                {{/if}}
            </div>
            <div class="col ten">
                <input type="checkbox" class="heroSelector" name="heroSelector" value="1" {{checked hero.selected}}>
            </div>
            <div class="col four">
                <a class="rollChar" data-tooltip="CHAT.RollBlind"><i class="fas fa-dice"></i></a>
                <a class="getPaid" data-tooltip="PAYMENT.wage"><i class="fas fa-piggy-bank"></i></a>
                <a class="pay" data-tooltip="MASTER.payTT"><i class="fas fa-coins"></i></a>
                <a class="exp" data-tooltip="MASTER.awardXP"><i class="fas fa-trophy"></i></a>
            </div>
        </div>
        <div class="row-section lineheight expandDetails col">
            <div class="col">
                <ul>
                    <li><b>{{localize "purse"}}</b>: {{{hero.purse}}}</li>
                    <li><b>{{localize "Experience"}}</b>: {{hero.system.details.experience.spent}}/{{hero.system.details.experience.total}}</li>
                    <li><b>{{localize "advantages"}}</b>: {{#each hero.advantages as |ad i|}}<a class="actorItem" data-uuid="{{ad.uuid}}">{{ad.name}}</a>{{/each}}</li>
                    <li><b>{{localize "disadvantages"}}</b>: {{#each hero.disadvantages as |ad i|}}<a class="actorItem" data-uuid="{{ad.uuid}}">{{ad.name}}</a>{{/each}}</li>
                </ul>
            </div>
        </div>
    </div>
    {{/each}}