<div class="patchviewer" style="padding:20px">
    <div class="row-section table-title">
        <div class="col eighty">
            <h1 style="border:none;text-decoration:none;line-height:90px">{{{patchName}}}</h1>
        </div>
        <div class="col five">
            <img style="margin:0;float:right;height:90px" src="systems/dsa5/lazy/patchimages/UlissesDigital.png" />
        </div>
    </div>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="newcontent">News</a>
        <a class="item" data-tab="changelog">Changelog</a>
        <a class="item" data-tab="content">{{localize 'modules'}}</a>
    </nav>
    <section class="content">
        <div class="tab newcontent" data-tab="newcontent">
            {{{news}}} {{#each prevNews as |item i|}}
            <hr style="margin-top:100px" /> {{{item}}} {{/each}}
        </div>
        <div class="tab changelog" data-tab="changelog">
            {{{changelog}}} {{#each prevChangeLogs as |item i|}}
            <hr style="margin-top:100px" /> {{{item}}} {{/each}}
        </div>
        <div class="tab content" data-tab="content">
            {{{modules}}}
        </div>
    </section>
</div>