<div class="playerMenu">
  <div class="row-section">
    <div class="col third center">
      <img style="width:70px;height:70px" class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}">
    </div>
    <div class="col seventy">
      <div class="row-section">
        <div class="col fourty table-title">
          <h3><b>{{localize "Name"}}:</b></h3>
        </div>

        <div class="col two">
          <h3><a class="openChar">{{actor.name}}</a></h3>
        </div>
        <div class="col ten center">

        </div>
      </div>

    </div>
  </div>
  <nav class="sheet-tabs tabs" data-tab-container="primary" data-group="primary">
    <a class="item active" data-tab="elementals">{{localize "PLAYER.conjuration"}}</a>
    {{#each subApps as |app|}}
    <a class="item" data-tab="{{app.name}}">{{app.name}}</a>
    {{/each}}
    <!--<a class="item" data-tab="production">{{localize "PLAYER.creation"}}</a>-->
  </nav>

  <section class="content">
    <div class="tab elementals" data-tab="elementals" data-group="primary">
      <div class="row-section lineheight">
        <div class="col fourty table-title">
          <label>{{localize "Category"}}</label>
        </div>
        <div class="col two">
          <select name="conjurationType" class="conjurationData" data-dtype="Number" data-refresh="true">
            {{#select conjurationData.conjurationType}}
            {{#each conjurationTypes as |item ch|}}
            <option value="{{ch}}">{{item}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="col ten center">
          <a class="entity-link ruleLink"><i class="fas fa-book-open"></i></a>
        </div>
      </div>
      {{#if actor}}
      <div class="row-section skills table-title lineheight" style="margin-top:10px;">
        <div class="col sixty">{{localize 'spell'}}</div>
        <div class="col third center">{{localize "probe"}}</div>
        <div class="col ten center">{{localize "CHARAbbrev.FW"}}</div>
      </div>
      {{#each conjurationskills as |item i|}}

      <div class="row-section wrap skills item lineheight tableOdd" data-item-id="{{item._id}}">
        <div class="col sixty">
          <a class="item-edit talentName">{{item.name}}</a>
        </div>
        <div class="col third center">
          <a class="skill-select">
            <span class="d20 diet-{{item.system.characteristic1.value}}">{{localize (concatUp "CHARAbbrev."
              item.system.characteristic1.value)}}</span>
            <span class="d20 diet-{{item.system.characteristic2.value}}">{{localize (concatUp "CHARAbbrev."
              item.system.characteristic2.value)}}</span>
            <span class="d20 diet-{{item.system.characteristic3.value}}">{{localize (concatUp "CHARAbbrev."
              item.system.characteristic3.value)}}</span>
          </a>

        </div>
        <div class="col ten center">
          {{item.system.talentValue.value}}
        </div>

      </div>

      {{/each}}

      {{{conjurationSheet}}}
      {{/if}}
    </div>

    {{#each subApps as |app|}}
    <div class="tab {{app.name}}" data-tab="{{app.name}}">
      {{{app.view}}}
    </div>
    {{/each}}

    <div class="tab production" data-tab="production">
      WIP &#128534;
    </div>
  </section>
</div>