#hotbar {
    &:before {
        background-image: url('../../icons/backgrounds/hotbarpart.webp'), url('../../icons/backgrounds/hotbarpart.webp'), url('../../icons/backgrounds/hotbar4.webp');
        background-size:
            30px 57px,
            60px 57px,
            100% 105%;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        left: -11px;
        right: -11px;
        bottom: -12px;
        top: -10px;
        z-index: -1;
        background-position:
            11px 12px,
            calc(100% - 11px) 12px,
            center;
    }

    button {
        color: black;
    }

    &.md {
        &:before {
            background-size:
                50px 123.5px,
                60px 123.5px,
                100% 120%;
            background-position:
                7px 12px,
                calc(100% - 7px) 12px,
                center;
        }
    }

    &.hotbarV4 {
        margin-bottom: 10px;

        .v-slider-fill {
            background: black;
        }

        .itdarkness {
            pointer-events: all;
        }

        &:before {
            background-size:
                34px 91px,
                30px 91px,
                100% calc(100% - 30px);
            background-position: 8px 50px, calc(100% - 10px) 50px, 0px 30px;
        }

        &.sm {
            height: unset;

            #action-bar {
                height: inherit;
            }
        }

        &.md {
            --hotbar-width: 500px;

            &.offset {
                height: unset;
            }

            &:before {
                background-size:
                    34px 91px,
                    30px 91px,
                    100% calc(100% - 30px);
                background-position:
                    8px 50px,
                    calc(100% - 10px) 50px,
                    0px 30px;
            }
        }

        .function {
            color: black;
        }

        .sections {
            background: none;
        }

        .nameContent {
            color: black;
        }

        .actorEffect,
        .categoryFilter {
            background-image: url('../../icons/backgrounds/macrobg.webp');
            background-size: cover;
            color: black;
        }

        .actorEffect {
            box-shadow: inset 0px 0px 25px #403014;
        }

        #action-bar,
        #macro-list,
        .skillItems {
            &>li {
                box-shadow: inset 0px 0px 25px #403014;
                background-image: url('../../icons/backgrounds/macrobg.webp');
                background-size: cover;

                &.unequipped {
                    box-shadow: inset 0px 0px 25px #000;
                }
            }

            input {
                color: black;
            }
        }
    }

    .hotbar-controls button {
        background: none;
        border: none;

        &:hover {
            box-shadow: inset 0px 0px 5px rgba(197, 59, 0, 1);
        }
    }

    #action-bar {
        gap: 0px;
    }

    .slot,
    .macro {
        background: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 0;

        &:hover {
            border: 1px solid rgba(197, 59, 0, 0.5);
            box-shadow: inset 0px 0px 15px rgba(197, 59, 0, 1);
        }

        &.full,
        &.active {
            box-shadow: inset 0px 0px 25px #403014;
            background: url('../../icons/backgrounds/macrobg.webp');
            background-size: cover;

            &.parry {
                box-shadow: inset 0px 0px 15px #016e0a;
            }

            &.attack {
                box-shadow: inset 0px 0px 15px #7e0202;
            }

            &:hover {
                border: 1px solid rgba(197, 59, 0, 0.5);
                box-shadow: inset 0px 0px 15px rgba(197, 59, 0, 1);
            }
        }
    }

    #macro-list {
        border: none;
        margin: 0;
    }

    .hotbar-controls {
        align-items: flex-end;
        align-self: flex-end;
        margin: 0;
        background: none;
        color: #000000;
        border: none;
        box-shadow: none;
    }
}