<div class='tab scrollable {{tabs.main.cssClass}}' data-tab='main'
    data-group='{{tabs.main.group}}' class='tab'>
    {{> systems/dsa5/templates/actors/parts/characteristics-large.html}}

    <div class="row-section wrap reverseFlex">
        <div class="col morph40">
            <fieldset>
                <div class="derivedAttrs row-section">
                    <div class="col two">
                    </div>
                    <div class="col eight very-small center" data-tooltip="value">
                        {{localize "ABBR.value"}}
                    </div>
                    <div class="col eight very-small center" data-tooltip="Modifiers">
                        {{localize "ABBR.modifiers"}}
                    </div>
                    <div class="col eight very-small center" data-tooltip="max">
                        {{localize "ABBR.max"}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "wounds"}}
                        <span class="buttons">
                            <a data-char="regenerate" data-action="chRegenerate" class="item" data-mod="regenerate" data-tooltip="regenerate">&nbsp;<i class="fas fa-moon"></i></a>
                        </span>
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.wounds.current}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.wounds.fields.modifier value=document.system.status.wounds.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.wounds.max}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "astralenergy"}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.astralenergy.current}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.astralenergy.fields.modifier value=document.system.status.astralenergy.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.astralenergy.max}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "karmaenergy"}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.karmaenergy.current}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.karmaenergy.fields.modifier value=document.system.status.karmaenergy.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.karmaenergy.max}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "soulpower"}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.soulpower.value}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.soulpower.fields.modifier value=document.system.status.soulpower.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.soulpower.max}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "toughness"}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.toughness.value}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.toughness.fields.modifier value=document.system.status.toughness.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.toughness.max}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "dodge"}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.dodge.value}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.dodge.fields.modifier value=document.system.status.dodge.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.dodge.max}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "speed"}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.speed.initial}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.speed.fields.modifier value=document.system.status.speed.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.speed.max}}
                    </div>
                </div>

                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "initiative"}}
                    </div>
                    <div class="col eight lineheight center">
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.initiative.fields.modifier value=document.system.status.initiative.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{floor document.system.status.initiative.value}}
                    </div>
                </div>
                
                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "initDie"}}
                    </div>
                    <div class="col two lineheight center">
                        {{formInput systemFields.status.fields.initiative.fields.die value=document.system.status.initiative.die}}
                    </div>
                </div>
                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "initDieMod"}}
                    </div>

                    <div class="col two lineheight center">
                        {{formInput systemFields.status.fields.initiative.fields.diemodifier value=document.system.status.initiative.diemodifier}}
                    </div>
                </div>
                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "sizeCategory"}}
                    </div>
                    <div class="col two lineheight center">
                        {{formInput systemFields.status.fields.size.fields.value value=document.system.status.size.value localize=true}}
                    </div>
                </div>
                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "fatePoints"}}
                    </div>
                    <div class="col eight lineheight center">
                        {{formInput systemFields.status.fields.fatePoints.fields.current value=document.system.status.fatePoints.current}}
                    </div>
                    <div class="col eight center">
                        {{formInput systemFields.status.fields.fatePoints.fields.modifier value=document.system.status.fatePoints.modifier}}
                    </div>
                    <div class="col eight lineheight center">
                        {{document.system.status.fatePoints.max}}
                    </div>
                </div>
                {{> systems/dsa5/templates/actors/parts/temperatureSmall.html}}
            </fieldset>

        </div>
        <div class="col morph60">
            {{> systems/dsa5/templates/actors/parts/specialabilities.html}}
        </div>
    </div>
</div>