{{> systems/dsa5/templates/actors/parts/characteristics-small.html}}

<div class="main-row">
    <div class="column1">
        <div class="groupbox">
            <div class="advantages row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "advantages"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.advantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.max.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="disadvantages row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "disadvantages"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.disadvantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.max.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "generalSpecialAbilities"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.general as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a title="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "language"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.language as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a title="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        {{#if actor.schips}}
        <div class="groupbox">
            <div class="fatePointsAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "fatePointsAbilities"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.fatePoints as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a title="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}} {{#if hasTrait}}
        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "traits"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.traits as |trait i|}} {{#each trait as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                {{/each}} {{/each}}

            </div>
        </div>
        {{/if}}
    </div>

    <div class="column2">
        <div class="groupbox" id="derivedAttrs">
            <div class="derivedAttrs row-section">
                <div class="col two">
                </div>
                <div class="col eight very-small center" title="{{localize 'value'}}">
                    {{localize "ABBR.value"}}
                </div>
                <div class="col eight very-small center" title="{{localize 'Modifiers'}}">
                    {{localize "ABBR.modifiers"}}
                </div>
                <div class="col eight very-small center" title="{{localize 'max'}}">
                    {{localize "ABBR.max"}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "wounds"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.wounds.current}}
                </div>
                <div class="col eight center">
                    <input name="data.status.wounds.modifier" type="text" value="{{actor.data.status.wounds.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{actor.data.status.wounds.max}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "astralenergy"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.astralenergy.current}}
                </div>
                <div class="col eight center">
                    <input name="data.status.astralenergy.modifier" type="text" value="{{actor.data.status.astralenergy.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{actor.data.status.astralenergy.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "karmaenergy"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.karmaenergy.current}}
                </div>
                <div class="col eight center">
                    <input name="data.status.karmaenergy.modifier" type="text" value="{{actor.data.status.karmaenergy.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{actor.data.status.karmaenergy.max}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "soulpower"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.soulpower.value}}
                </div>
                <div class="col eight center">
                    <input name="data.status.soulpower.modifier" type="text" value="{{actor.data.status.soulpower.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{actor.data.status.soulpower.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "toughness"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.toughness.value}}
                </div>
                <div class="col eight center">
                    <input name="data.status.toughness.modifier" type="text" value="{{actor.data.status.toughness.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{actor.data.status.toughness.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "dodge"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.dodge.value}}
                </div>
                <div class="col eight center">
                    <input name="data.status.dodge.modifier" type="text" value="{{actor.data.status.dodge.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{actor.data.status.dodge.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "speed"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.speed.initial}}
                </div>
                <div class="col eight center">
                    <input name="data.status.speed.modifier" type="text" value="{{actor.data.status.speed.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{actor.data.status.speed.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "initiative"}}
                </div>
                <div class="col eight lineheight center">
                </div>
                <div class="col eight center">
                    <input name="data.status.initiative.modifier" type="text" value="{{actor.data.status.initiative.modifier}}" data-dtype="Number" />
                </div>

                <div class="col eight lineheight center">
                    {{floor actor.data.status.initiative.value}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "initDie"}}
                </div>
                <div class="col two lineheight center">
                    <select name="data.status.initiative.die" data-dtype="String" style="width:100%">
                        {{selectOptions initDies selected=actor.data.status.initiative.die localize=false}}
                    </select>
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "initDieMod"}}
                </div>

                <div class="col two lineheight center">
                    <select name="data.status.initiative.diemodifier" data-dtype="String" style="width:100%">
                        {{selectOptions initDies selected=actor.data.status.initiative.diemodifier localize=false}}
                    </select>
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "fatePoints"}}
                </div>
                <div class="col eight lineheight center">
                    <input name="data.status.fatePoints.current" type="text" value="{{actor.data.status.fatePoints.current}}" data-dtype="Number" />
                </div>
                <div class="col eight center">
                    <input name="data.status.fatePoints.modifier" type="text" value="{{actor.data.status.fatePoints.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{actor.data.status.fatePoints.max}}
                </div>
            </div>
        </div>

    </div>
</div>