<form class="{{cssClass}} lock{{actor.sheetLocked}}" autocomplete="off">
    <fieldset disabled>
        <header class="sheet-header row-section">

            <div class="charname headerInput col fourty">
                <input class="input name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
                <span class="label name">{{localize "Name"}}</span>
            </div>
            <div class="headerInput col fourty">
                <input class="input species" name="system.details.species.value" type="text" value="{{actor.system.details.species.value}}" readonly placeholder="{{localize 'species'}}" />
                <span class="label species">{{localize "species"}}</span>
            </div>

        </header>
    </fieldset>
    <section id="tab-sections">
        <nav id="dsa5-primarytabs" class="sheet-tabs tabs">
            <a class="item active" data-tab="main">{{localize "MERCHANT.commerce"}}</a>
            <a class="item" data-tab="notes">{{localize "Notes"}}</a>
        </nav>

        <section class="content">
            <div class="tab main save-scroll" data-tab="main">
                <div class="row-section">
                    <div class="col ten"></div>
                    <div class="col fourty center">
                        <img src="{{tradeFriend.img}}" style="height: 50px;max-width:40%;border:none;" />
                    </div>
                    <div class="col ten">{{#if hasOtherTradeFriend}}
                        <a class="removeOtherTradeFriend"><i class="fas fa-times"></i></a> {{else}}
                        <a><i class="fas fa-plus choseTradefriend" data-tooltip="MERCHANT.otherTradeFriend"></i></a>
                         {{/if}}
                    </div>
                    <div class="col ten"></div>
                    <div class="col fourty center">
                        <img src="{{actor.img}}" style="height: 50px;max-width:40%;border:none;" />
                    </div>
                    <div class="col ten"></div>
                </div>
                <div class="row-section">
                    <div class="col two">
                        <h3 class="center">&zwnj;{{tradeFriend.name}}</h3>
                    </div>
                    <div class="col two">
                        <h3 class="center">{{actor.name}}</h3>
                    </div>
                </div>
                {{> systems/dsa5/templates/actors/parts/gearSearch.html}}
                <fieldset disabled>
                    <div class="row-section">
                        <div class="col two">
                             {{#grouped_each 4 tradeFriend.money.coins}}
                            <div class="row-section table-title">
                                {{#each this}}
                                <div class="col four center">
                                    {{localize name}}
                                </div>
                                {{/each}}
                            </div>
                            <div class="row-section">
                                {{#each this}}
                                <div class="col four center">
                                    {{system.quantity.value}}
                                </div>
                                {{/each}}
                            </div>
                            {{/grouped_each}}
                        </div>
                        <div class="col two">
                            {{#grouped_each 4 actor.money.coins}}
                            <div class="row-section table-title">
                                {{#each this}}
                                <div class="col four center">
                                    {{localize name}}
                                </div>
                                {{/each}}
                            </div>
                            <div class="row-section">
                                {{#each this}}
                                <div class="col four center">
                                    {{#if ../../actor.system.merchant.hideMoney}}?{{else}}{{system.quantity.value}}{{/if}}
                                </div>
                                {{/each}}
                            </div>
                            {{/grouped_each}}
                        </div>
                    </div>

                    <div class="row-section">
                        <div class="col two">
                            {{#unless tradeFriend.name}}
                            <div class="row-section">
                                <div class="col">
                                    <p>{{localize 'DSAError.noProperActor'}}</p>
                                    <p>{{localize 'TT.assignCharacter'}}</p>
                                    <p>{{localize 'MERCHANT.otherTradeFriend'}}</p>
                                </div>                            
                            </div>
                            {{/unless}}
                            {{#each tradeFriend.inventory as |section sid|}} {{#if section.show}}
                            <div class="groupbox">
                                <div class="row-section table-title">
                                    <div class="col eight"></div>
                                    <div class="col">
                                        <b>{{localize (concat "Equipment." @key)}}</b>
                                    </div>

                                    <div class="col four center">
                                        <span data-tooltip="UNITS.money"><i class="fas fa-coins"></i></span>
                                    </div>
                                    <div class="col eight center">
                                        <span data-tooltip="quantity">#</span>
                                    </div>
                                    <div class="col eight center">

                                    </div>
                                </div>
                                <div class="row-section wrap rowtable inventory">
                                    {{#each section.items as |item i|}}
                                    <div class="col item" data-item-id="{{item._id}}">
                                        <div class="row-section">
                                            <div class="col eight image {{item.enchantClass}}">
                                                <div class="image" style="background-image: url('{{item.img}}')">

                                                </div>
                                            </div>
                                            <div class="col">
                                                <a class="item-external-edit">{{item.name}}</a>
                                            </div>
                                            <div class="col four center">
                                                {{item.calculatedPrice}}
                                            </div>
                                            <div class="col eight center">
                                                {{item.system.quantity.value}}
                                            </div>
                                            <div class="col eight center">
                                                <a class="sell-item" data-price="{{item.calculatedPrice}}" data-tooltip="MERCHANT.sell"><i class="fas fa-piggy-bank"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{/if}} {{/each}}
                        </div>
                        <div class="col two">
                            {{#each actor.inventory as |section sid|}} {{#if section.show}}
                            <div class="groupbox">
                                <div class="row-section table-title">
                                    <div class="col eight"></div>
                                    <div class="col">
                                        <b>{{localize (concat "Equipment." @key)}}</b>
                                    </div>

                                    <div class="col four center">
                                        <span data-tooltip="UNITS.money"><i class="fas fa-coins"></i></span>
                                    </div>
                                    <div class="col eight center">
                                        <span data-tooltip="quantity">#</span>
                                    </div>
                                    <div class="col eight center">

                                    </div>
                                </div>
                                <div class="row-section wrap rowtable inventory">
                                    {{#each section.items as |item i|}} {{#unless item.system.tradeLocked}}
                                    <div class="col item" data-item-id="{{item._id}}">
                                        <div class="row-section">
                                            <div class="col eight image {{item.enchantClass}}">
                                                <div class="image" style="background-image: url('{{item.img}}')">

                                                </div>
                                            </div>
                                            <div class="col">
                                                <a class="item-edit">{{item.name}}</a>
                                            </div>
                                            <div class="col four center">
                                                {{item.calculatedPrice}}
                                            </div>
                                            <div class="col eight center">
                                                {{item.system.quantity.value}}
                                            </div>
                                            <div class="col eight center">
                                                <a class="buy-item" data-price="{{item.calculatedPrice}}" data-tooltip="MERCHANT.buy"><i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/unless}} {{/each}}
                                </div>
                            </div>
                            {{/if}} {{/each}}
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="tab save-scroll" data-tab="notes">
                <fieldset disabled>
                    {{> systems/dsa5/templates/actors/actor-notes.html}}
                </fieldset>
            </div>
        </section>
    </section>
</form>