<div class="row-section">
    <div class="col two">
        {{> systems/dsa5/templates/actors/parts/purse.html}}
    </div>
    <div class="col two">
        <div class="groupbox">
            <div class="row-section">
                <div class="col fourty">
                    {{localize "creatureClass"}}
                </div>
                <div class="col sixty">
                    <select name="data.merchant.merchantType" data-dtype="String" style="width:100%">
                        {{#select actor.data.merchant.merchantType}}
                        {{#each merchantTypes as |ch char|}}
                        <option value="{{char}}">{{localize ch}}</option>
                        {{/each}}
                        {{/select}}
                      </select>
                </div>
            </div>
            {{#if (eq actor.data.merchant.merchantType "epic")}}
            <div class="row-section">
                <div class="col fourty">
                    Garadan
                </div>
                <div class="col sixty">
                    <select name="data.merchant.garadan" data-dtype="String" style="width:100%">
                    {{#select actor.data.merchant.garadan}}
                    <option value="1">{{localize "GARADAN.1"}}</option>
                    <option value="2">{{localize "GARADAN.2"}}</option>
                    <option value="3">{{localize "GARADAN.3"}}</option>
                    <option value="4">{{localize "GARADAN.4"}}</option>
                    <option value="6">{{localize "GARADAN.6"}}</option>

                    {{/select}}
                  </select>
                </div>
            </div>
            {{/if}} {{#if (eq actor.data.merchant.merchantType "merchant")}}
            <div class="row-section">
                <div class="col fourty">
                    {{localize "MERCHANT.Factor"}}
                </div>
                <div class="col ten center" title="{{localize 'MERCHANT.sellingFactor'}}">
                    <i class="fas fa-piggy-bank"></i>
                </div>
                <div class="col five" title="{{localize 'MERCHANT.sellingFactor'}}">
                    <input name="data.merchant.sellingFactor" type="text" value="{{actor.data.merchant.sellingFactor}}" data-dtype="Number" />
                </div>
                <div class="col ten center" title="{{localize 'MERCHANT.buyingFactor'}}">
                    <i class="fas fa-coins"></i>
                </div>
                <div class="col five" title="{{localize 'MERCHANT.buyingFactor'}}">
                    <input name="data.merchant.buyingFactor" type="text" value="{{actor.data.merchant.buyingFactor}}" data-dtype="Number" />
                </div>
            </div>
            <div class="row-section" title="{{localize 'MERCHANT.hidePlayerHint'}}">
                <div class="col fourty">
                    {{localize 'MERCHANT.hidePlayer'}}
                </div>
                <div class="col sixty">
                    <input name="data.merchant.hidePlayer" type="checkbox" value="1" {{checked actor.data.merchant.hidePlayer}} />
                </div>
            </div>
            {{/if}} {{#if (eq actor.data.merchant.merchantType "loot")}}
            <div class="row-section" title="{{localize 'MERCHANT.hidePlayerHint'}}">
                <div class="col fourty">
                    {{localize 'MERCHANT.hidePlayer'}}
                </div>
                <div class="col ten">
                    <input name="data.merchant.hidePlayer" type="checkbox" value="1" {{checked actor.data.merchant.hidePlayer}} />
                </div>
                <div class="col fourty">
                    {{localize 'MERCHANT.locked'}}
                </div>
                <div class="col ten">
                    <input name="data.merchant.locked" type="checkbox" value="1" {{checked actor.data.merchant.locked}} />
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{#if (ne actor.data.merchant.merchantType "none")}}
<div class="row-section">
    <button class="sheetButton randomGoods">{{localize "MERCHANT.randomGoods"}}</button>
    <button class="sheetButton clearInventory">{{localize "MERCHANT.clearInventory"}}</button>
</div>
<div class="groupbox">
    <div class="row-section lineheight" title="{{localize 'PERMISSION.Configure'}}">
        <div class="col two row-section">
            <div class="col seventy table-title">
                {{localize 'character'}}
            </div>
            {{#if (eq actor.data.merchant.merchantType "merchant")}}
            <div class="col ten center" title="{{localize 'MERCHANT.sellingFactor'}}">
                <i class="fas fa-piggy-bank"></i>
            </div>
            <div class="col ten center" title="{{localize 'MERCHANT.buyingFactor'}}">
                <i class="fas fa-coins"></i>
            </div>
            {{/if}}
            <div class="col ten center">
                <a class="toggleAllAllowMerchant" data-lock="true"><i class="fas fa-unlock"></i></a>
                <a class="toggleAllAllowMerchant" data-lock="false"><i class="fas fa-lock"></i></a>
            </div>
        </div>
        <div class="col two row-section">
            <div class="col seventy table-title">
                {{localize 'character'}}
            </div>
            {{#if (eq actor.data.merchant.merchantType "merchant")}}
            <div class="col ten center" title="{{localize 'MERCHANT.sellingFactor'}}">
                <i class="fas fa-piggy-bank"></i>
            </div>
            <div class="col ten center" title="{{localize 'MERCHANT.buyingFactor'}}">
                <i class="fas fa-coins"></i>
            </div>
            {{/if}}
            <div class="col ten center">
                <a class="toggleAllAllowMerchant" data-lock="true"><i class="fas fa-unlock"></i></a>
                <a class="toggleAllAllowMerchant" data-lock="false"><i class="fas fa-lock"></i></a>
            </div>
        </div>

    </div>
    <div class="row-section wrap">
        {{#each players as |player i|}}
        <div class="col two row-section">
            <div class="col seventy">
                {{player.data.name}}
            </div>
            {{#if (eq ../actor.data.merchant.merchantType "merchant")}}
            <div class="col ten center" title="{{localize 'MERCHANT.sellingFactor'}}">
                <input name="data.merchant.factors.sellingFactor.{{player.id}}" type="text" value="{{player.sellingFactor}}" data-dtype="Number" />

            </div>
            <div class="col ten center" title="{{localize 'MERCHANT.buyingFactor'}}">
                <input name="data.merchant.factors.buyingFactor.{{player.id}}" type="text" value="{{player.buyingFactor}}" data-dtype="Number" />
            </div>
            {{/if}}
            <div class="col ten center">
                <a class="allowMerchant" data-user-id="{{player.id}}">
                    {{#if player.allowedMerchant}}
                    <i class="far fa-check-circle"></i>
                    {{else}}
                    <i class="far fa-circle"></i>
                    {{/if}}
                </a>
            </div>
        </div>

        {{/each}}
    </div>

</div>
{{/if}} {{#each actor.inventory as |section sid|}} {{#if section.show}}
<div class="groupbox">
    <div class="row-section table-title">
        <div class="col eight"></div>
        <div class="col">
            <b>{{localize (concat "Equipment." @key)}}</b>
        </div>
        <div class="col eight center">
            <i class="fa fa-shield-alt" title="{{localize 'equipped'}}"></i>
        </div>
        <div class="col four center">
            <span title="{{localize 'price'}}"><i class="fas fa-coins"></i></span>
        </div>
        <div class="col eight center">
            <span title="{{localize 'quantity'}}">#</span>
        </div>
        <div class="col eight center">
            <i class="fa fa-anchor" title="{{localize 'Weight'}}"></i>
        </div>
        <div class="col ten center">
            <a class="item-create very-small" title="{{localize 'SHEET.addItem'}}" item-section="{{sid}}" data-type="{{section.dataType}}"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row-section wrap rowtable inventory">
        {{#each section.items as |item i|}}
        <div class="col item" data-item-id="{{item._id}}">
            <div class="row-section">
                <div class="col eight image {{item.enchantClass}}">
                    <div class="image" style="background-image: url({{item.img}})">
                        {{#if item.structureMax}}
                        <div class="item-structure" style="--a: {{item.structureMax}}; --b: {{item.structureCurrent}}">
                            <div class="inner"></div>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col">
                    <a class="item-edit {{#if item.consumable}}consume-item{{/if}}">{{item.name}}</a>
                </div>
                <div class="col eight center">
                    {{#if item.toggle}} {{#if item.toggleValue}}
                    <a class="item-toggle"><i class="far fa-check-circle"></i></a> {{else}}
                    <a class="item-toggle"><i class="far fa-circle"></i></a> {{/if}} {{/if}}
                </div>
                <div class="col four center">
                    {{item.defaultPrice}}{{item.priceTag}}
                </div>
                <div class="col eight center">
                    <a class="quantity-click">{{item.data.quantity.value}}</a>
                </div>
                <div class="col eight center">
                    {{item.weight}}
                </div>
                <div class="col ten very-small center">
                    <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
                    <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="row-section lineheight expandDetails {{item.detailed}}">
                <div class="col">
                    <ul>
                    </ul>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>
{{/if}} {{/each}}