<form class="{{cssClass}} lock{{prepare.sheetLocked}}" autocomplete="off" style="max-height: 100%;">

    <section class="content row-section columnFlex" style="max-height: 100%;">
        
        <div class="row-section">
            <div class="col sixty row-section">
                <div class="col ten"></div>
                <div class="col fourty center">
                    <img src="{{tradeFriend.img}}" style="height: 50px;max-width:40%;border:none;" />
                </div>
                <div class="col ten">
                </div>
            </div>
            <div class="col third row-section">
                <div class="col ten"></div>
                <div class="col fourty center">
                    <img src="{{actor.img}}" style="height: 50px;max-width:40%;border:none;" />
                </div>
                <div class="col ten"></div>
            </div>
                                
        </div>
        <div class="row-section">
            <div class="col sixty">
                <h3 class="center">&zwnj;{{tradeFriend.name}}</h3>
            </div>
            <div class="col third">
                <h3 class="center">{{#if actor.token.name}}{{actor.token.name}}{{else}}{{actor.name}}{{/if}}</h3>
            </div>
        </div>
        {{> systems/dsa5/templates/actors/parts/gearSearch.html}}
        <fieldset disabled style="flex:1;overflow-y:hidden" class="row-section">
            <div class="row-section" style="overflow-y:hidden;min-width:100%">
                <div class="col third scrollable thinscroll">
                    {{#each inventory.inventory as |section sid|}} {{#if section.show}}
                    <div class="groupbox">
                        <div class="row-section table-title">
                            <div class="col eight"></div>
                            <div class="col">
                                <b>{{localize (concat "Equipment." @key)}}</b>
                            </div>

                            <div class="col eight center">
                                <span data-tooltip="quantity">#</span>
                            </div>
                            <div class="col eight center">
                            </div>
                        </div>
                        <div class="row-section wrap rowtable inventory">
                            {{#each section.items as |item i|}}
                            <div class="col item" data-item-id="{{item._id}}">
                                <div class="row-section">
                                    <div class="col eight image {{item.enchantClass}}">
                                        <div class="image" style="background-image: url('{{item.img}}')">

                                        </div>
                                    </div>
                                    <div class="col">
                                        <a class="item-edit" data-item-id="{{item._id}}">{{item.name}}</a>
                                    </div>
                                    <div class="col eight center">
                                        {{item.system.quantity.value}}
                                    </div>
                                    <div class="col eight center">
                                        <a class="trade" data-item-id="{{item._id}}" data-tooltip="MERCHANT.exchange"><i class="fas fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}} {{/each}}
                </div>
                
                <div class="col third scrollable thinscroll">
                                                
                    <div class="groupbox">
                        <div class="row-section lineheight center">
                            <div style="cursor: pointer;" class="col specAbs button acceptTrade {{#if tradeData.offerAccepted}}green{{/if}}"><i class="fas fa-handshake"></i>{{localize 'MERCHANT.accept'}}</div>
                        </div>
                        <hr/>
                        <div class="row-section table-title">
                            <div class="col eight"></div>
                            <div class="col">
                                <b>{{localize 'MERCHANT.yourOffer'}}</b>
                            </div>

                            <div class="col eight center">
                                <span data-tooltip="quantity">#</span>
                            </div>
                            <div class="col eight center">
                            </div>
                        </div>
                        <div class="row-section wrap rowtable inventory">
                            {{#each tradeData.offer as |item i|}}
                            <div class="col item" data-item-id="{{item._id}}">
                                <div class="row-section">
                                    <div class="col eight image {{item.enchantClass}}">
                                        <div class="image" style="background-image: url('{{item.img}}')">

                                        </div>
                                    </div>
                                    <div class="col">
                                        <a class="item-edit" data-item-id="{{item._id}}">{{#if (eq item.type 'money')}}{{localize item.name}}{{else}}{{item.name}}{{/if}}</a>
                                    </div>

                                    <div class="col eight center">
                                        {{item.system.quantity.value}}
                                    </div>
                                    <div class="col eight center">
                                        <a class="trade" data-item-id="{{item._id}}" data-stop-trade="true" data-tooltip="MERCHANT.exchange"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    
                </div>
                <div class="col third scrollable thinscroll">
                    
                    <div class="groupbox">
                        <div class="row-section lineheight center">
                            <div class="button col specAbs {{#if tradeData.offeredAccepted}}green{{/if}}" style="cursor:default;"><i class="fas fa-handshake"></i>{{localize 'MERCHANT.accept'}}</div>
                        </div>
                        <hr/>
                        <div class="row-section table-title">
                            <div class="col eight"></div>
                            <div class="col">
                                <b>{{localize 'MERCHANT.otherOffer'}}</b>
                            </div>

                            <div class="col eight center">
                                <span data-tooltip="quantity">#</span>
                            </div>
                        </div>
                        <div class="row-section wrap rowtable inventory">
                            {{#each tradeData.offered as |item i|}}
                            <div class="col item" data-item-id="{{item._id}}">
                                <div class="row-section">
                                    <div class="col eight image {{item.enchantClass}}">
                                        <div class="image" style="background-image: url('{{item.img}}')">

                                        </div>
                                    </div>
                                    <div class="col">
                                        <a class="item-external-edit" data-item-id="{{item._id}}">{{#if (eq item.type 'money')}}{{localize item.name}}{{else}}{{item.name}}{{/if}}</a>
                                    </div>
                                    <div class="col eight center">
                                        {{item.system.quantity.value}}
                                    </div>
                                    <div class="col eight center">
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    
                </div>
            </div>
        </fieldset>

    </section>

</form>