<div class='tab scrollable {{tabs.inventory.cssClass}}' data-tab='inventory'
    data-group='{{tabs.inventory.group}}' class='tab'>
    <div class="row-section wrap reverseFlex">
        <div class="col morph">
            <fieldset>
                <legend>{{localize 'SHEET.actorConfig'}}</legend>
                
                {{formGroup systemFields.merchant.fields.merchantType value=document.system.merchant.merchantType localize=true}}

                {{#if (eq document.system.merchant.merchantType "epic")}}
                
                {{formGroup systemFields.merchant.fields.garadan value=document.system.merchant.garadan localize=true}}

                {{/if}} 
                {{#if (eq document.system.merchant.merchantType "merchant")}}
                <div class="form-group">
                    <label>{{localize "MERCHANT.Factor"}}</label>
                    <div class="form-fields">
                        <div class="row-section" data-tooltip="MERCHANT.sellingFactor">
                            <label class="col ten"><i class="fas fa-piggy-bank"></i></span></label>
                            {{formInput systemFields.merchant.fields.sellingFactor value=document.system.merchant.sellingFactor}}
                        </div>
                        <div class="row-section" data-tooltip="MERCHANT.buyingFactor">
                            <label class="col ten"><i class="fas fa-coins"></i></label>
                            {{formInput systemFields.merchant.fields.buyingFactor value=document.system.merchant.buyingFactor}}
                        </div>
                    </div>
                </div>
                {{#if isGM}}
                <div class="row-section">
                    <div class="col two form-group" data-tooltip="MERCHANT.hidePlayerHint">
                        <label class="col eighty center">{{localize 'MERCHANT.hidePlayer'}}</label>
                        <div class="form-fields col ten">
                            {{formInput systemFields.merchant.fields.hidePlayer value=document.system.merchant.hidePlayer}}
                        </div>
                    </div>
                    <div class="col two form-group" data-tooltip="MERCHANT.hideMoneyHint">                        
                        <label class="col eighty center">{{localize 'MERCHANT.hideMoney'}}</label>
                        <div class="form-fields col ten">
                            {{formInput systemFields.merchant.fields.hideMoney value=document.system.merchant.hideMoney}}
                        </div>
                    </div>
                </div>
                {{/if}} {{/if}} 
                {{#if (eq document.system.merchant.merchantType "loot")}} 
                    {{#if isGM}}
                    <div class="row-section">
                        <div class="col two form-group" data-tooltip="MERCHANT.hidePlayerHint">
                            <label class="col eighty center">{{localize 'MERCHANT.hidePlayer'}}</label>
                            <div class="form-fields col ten">
                                {{formInput systemFields.merchant.fields.hidePlayer value=document.system.merchant.hidePlayer}}
                            </div>
                        </div>
                        <div class="col two form-group">
                            <label class="col eighty center">{{localize 'MERCHANT.locked'}}</label>
                            <div class="form-fields col ten">
                                {{formInput systemFields.merchant.fields.locked value=document.system.merchant.locked}}
                            </div>
                        </div>
                    </div>
                    <div class="row-section">
                        <div class="col two form-group" data-tooltip="MERCHANT.emptyDestroyHint">
                            <label class="col eighty center">{{localize 'MERCHANT.emptyDestroy'}}</label>
                            <div class="form-fields col ten">
                                {{formInput systemFields.merchant.fields.temporary value=document.system.merchant.temporary}}
                            </div>
                        </div>
                        <div class="col two">

                        </div>
                    </div>
                    {{/if}} 
                {{/if}}
            </fieldset>
        </div>
        <div class="col morph">
            {{> systems/dsa5/templates/actors/parts/purse.html}}
        </div>
    </div>

    {{#if (ne document.system.merchant.merchantType "none")}} {{#if isGM}}
    <div class="row-section">
        <button type="button" class="sheetButton randomGoods">{{localize "MERCHANT.randomGoods"}}</button>
        <button type="button" class="sheetButton clearInventory">{{localize "MERCHANT.clearInventory"}}</button>
    </div>
    {{/if}}
    <div class="groupbox">
        <div class="row-section wrap lineheight" data-tooltip="PERMISSION.Configure">
            <div class="col morph row-section">
                <div class="col seventy table-title">
                    {{localize 'character'}}
                </div>
                {{#if (eq document.system.merchant.merchantType "merchant")}}
                <div class="col ten center" data-tooltip="MERCHANT.sellingFactor">
                    <i class="fas fa-piggy-bank"></i>
                </div>
                <div class="col ten center" data-tooltip="MERCHANT.buyingFactor">
                    <i class="fas fa-coins"></i>
                </div>
                {{/if}}
                <div class="col ten center">
                    <a class="toggleAllAllowMerchant" data-lock="true"><i class="fas fa-unlock"></i></a>
                    <a class="toggleAllAllowMerchant" data-lock="false"><i class="fas fa-lock"></i></a>
                </div>
            </div>
            <div class="col two row-section onlyMultiColumn">
                <div class="col seventy table-title">
                    {{localize 'character'}}
                </div>
                {{#if (eq document.system.merchant.merchantType "merchant")}}
                <div class="col ten center" data-tooltip="MERCHANT.sellingFactor">
                    <i class="fas fa-piggy-bank"></i>
                </div>
                <div class="col ten center" data-tooltip="MERCHANT.buyingFactor">
                    <i class="fas fa-coins"></i>
                </div>
                {{/if}}
                <div class="col ten center">
                    <a class="toggleAllAllowMerchant" data-lock="true"><i class="fas fa-unlock"></i></a>
                    <a class="toggleAllAllowMerchant" data-lock="false"><i class="fas fa-lock"></i></a>
                </div>
            </div>

        </div>
        <div class="row-section wrap">
            {{#each players as |player i|}}
            <div class="col morph row-section">
                <div class="col seventy">
                    {{player.name}}
                </div>
                {{#if (eq ../document.system.merchant.merchantType "merchant")}}
                <div class="col ten center" data-tooltip="MERCHANT.sellingFactor">
                    <input name="system.merchant.factors.sellingFactor.{{player.id}}" type="number"
                        value="{{player.sellingFactor}}"/>

                </div>
                <div class="col ten center" data-tooltip="MERCHANT.buyingFactor">
                    <input name="system.merchant.factors.buyingFactor.{{player.id}}" type="number"
                        value="{{player.buyingFactor}}"/>
                </div>
                {{/if}}
                <div class="col ten center">
                    <a class="allowMerchant" data-user-id="{{player.id}}">
                        {{#if player.allowedMerchant}}
                        <i class="far fa-check-circle"></i>
                        {{else}}
                        <i class="far fa-circle"></i>
                        {{/if}}
                    </a>
                </div>
            </div>

            {{/each}}
        </div>

    </div>
    {{/if}} {{> systems/dsa5/templates/actors/parts/gearSearch.html}} {{#each prepare.inventory as |section sid|}} {{#if
    section.show}}
    <div class="groupbox">
        <div class="row-section table-title">
            <div class="col eight"></div>
            <div class="col">
                <b>{{localize (concat "Equipment." @key)}}</b>
            </div>
            {{#if (or (eq ../document.system.merchant.merchantType "merchant") (eq
            ../document.system.merchant.merchantType "loot"))}}
            <div class="col eight center">
                <a class="lockTradeSection" data-type="{{section.dataType}}"><i class="fa fa-lock"
                        data-tooltip="MERCHANT.untradable"></i></a>
            </div>
            {{/if}}
            <div class="col eight center">
                <i class="fa fa-shield-alt" data-tooltip="equipped"></i>
            </div>
            <div class="col four center">
                <span data-tooltip="price"><i class="fas fa-coins"></i></span>
            </div>
            <div class="col eight center">
                <a class="changeAmountAllItems" data-type="{{section.dataType}}"><span
                        data-tooltip="quantity">#</span></a>
            </div>
            <div class="col eight center">
                <i class="fa fa-anchor" data-tooltip="Weight"></i>
            </div>
            <div class="col ten center">
                <a data-action="itemCreate" class="item-create very-small" data-tooltip="SHEET.addItem"
                    item-section="{{sid}}" data-type="{{section.dataType}}"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="row-section wrap rowtable inventory">
            {{#each section.items as |item i|}}
            <div class="col item" data-item-id="{{item._id}}">
                <div class="row-section">
                    <div class="col eight image {{item.enchantClass}}">
                        <div class="image" style="background-image: url('{{item.img}}')">
                            {{#if item.structureMax}}
                            <div class="item-structure"
                                style="--a: {{item.structureMax}}; --b: {{item.structureCurrent}}">
                                <div class="inner"></div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col withContext">
                        <a data-action="itemEdit">{{item.name}}</a>
                    </div>
                    {{#if (or (eq ../../document.system.merchant.merchantType "merchant") (eq
                    ../../document.system.merchant.merchantType "loot"))}}
                    <div class="col eight center" data-tooltip="MERCHANT.untradable">
                        {{#if item.system.tradeLocked}}
                        <a class="item-tradeLock"><i class="fas fa-lock"></i></a> {{else}}
                        <a class="item-tradeLock"><i class="fas fa-unlock"></i></a> {{/if}}
                    </div>
                    {{/if}}
                    <div class="col eight center">
                        {{#if item.toggle}} {{#if item.toggleValue}}
                        <a data-action="item-toggle" data-tooltip="SHEET.EquipItem"><i class="far fa-check-circle"></i></a>
                        {{else}}
                        <a data-action="item-toggle" data-tooltip="SHEET.EquipItem"><i class="far fa-circle"></i></a> {{/if}}
                        {{/if}}
                    </div>
                    <div class="col four center setCustomPrice" data-tooltip="MERCHANT.priceMod">
                        {{item.defaultPrice}}<span class="priceTag">{{item.priceTag}}</span>
                        <input class="customPriceTag" type="number" value="{{item.flags.dsa5.customPriceTag}}" />
                    </div>
                    <div class="col eight center">
                        <a data-action="quantityClick" data-tooltip="TT.strgx10"
                            data-tooltip-direction="RIGHT">{{item.system.quantity.value}}</a>
                    </div>
                    <div class="col eight center">
                        {{item.system.preparedWeight}}
                    </div>
                    <div class="col ten very-small center">
                        {{#if item.OnUseEffect}}<a data-tooltip="SHEET.onUseEffect" class="onUseItem" data-action="onUseItem"><i
                                class="fas fa-dice-six"></i></a>{{/if}}
                        <a class="item-post" data-tooltip="SHEET.PostItem"><i class="fas fa-comment"></i></a>
                        <a data-action="itemEdit" data-tooltip="SHEET.EditItem"><i class="fas fa-edit"></i></a>
                        {{#if item.children}}<a data-action="itemDropdown" data-tooltip="SHEET.Dropdown"><i
                                class="fas fa-chevron-down"></i></a>{{/if}}
                        <a class="item-delete" data-tooltip="SHEET.DeleteItem"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <div class="row-section lineheight expandDetails {{item.detailed}}">
                    <div class="col">
                        {{#if item.children}} {{> systems/dsa5/templates/actors/parts/containerContent.html this}}
                        {{/if}}
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
    {{/if}} {{/each}}
</div>