<div>
    <div class="hideData row-section">
        <div class="col ninety">
            <b>{{item.name}}{{#if item.parent}} ({{item.parent.name}}){{/if}}</b>
        </div>
        <div class="col ten tinyEntityLink">
            {{item.link}}
        </div>
    </div>
    <p>{{localize 'CHATNOTIFICATION.requestInformation'}}</p>
    <button class="informationRequestRoll" data-uuid="{{item.uuid}}" data-skill="{{item.system.skill}}" data-mod="{{item.system.modifier}}">{{item.system.skill}} ({{item.system.modifier}})</button>
</div>