

<div class="card-content test-data" data-actor-id="{{actorId}}" data-loc="{{testData.hitloc.roll}}"
    data-SL="{{testData.SL}}" data-roll="{{testData.roll}}" data-target="{{testData.target}}">
    <b>{{title}}</b>
</div>

<div class="card-content hide-option display-toggle">
    <b>{{localize "Roll"}}</b>:
    
</div>

<div class="card-content hide-option display-toggle" style="display: none;">
    <b>{{localize "Roll"}}</b>:
    <input class="card-edit" type="text" data-edit-type="roll" value="{{testData.roll}}">
    vs
    <input class="card-edit" type="text" data-edit-type="target" value="{{testData.target}}">
</div>

<div class="card-content display-toggle">
    <b>{{localize "SL"}}</b>: {{testData.SL}} {{#if testData.damage}} <span class="card-damage">({{{testData.damage}}}
        {{localize "Damage"}})</span>{{/if}}
</div>

<div class="card-content" roll-description="{{description}}">
    <b>{{localize "Description"}}</b>: {{testData.description}}
    
</div>

