<section class="content" data-cost="{{culture.data.APValue.value}}">
    <h1>{{title}}</h1>
    <p style="margin-bottom:10px;">{{{description}}}</p>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a> {{#if generalToChose}} <a class="item" data-tab="general">{{localize "WIZARD.generalTab"}}</a> {{/if}} {{#if vantagesToChose}} <a class="item" data-tab="vantages">{{localize "vantages"}}</a>        {{/if}}
    </nav>

    <div class="tab description active" data-tab="description">
        <div class="row-section">
            <div class="col two">
                {{{culture.data.description.value}}}
            </div>
            <div class="col two">
                <img src="{{culture.img}}" style="max-width:100%; max-height: 100%;float: left;" data-edit="img" />
            </div>
        </div>
    </div>

    {{#if vantagesToChose}}
    <div class="tab vantages" data-tab="vantages">
        <p>{{localize 'WIZARD.vantageDescriptionCulture'}}</p>
        {{#if advantagesToChose}}
        <h2>{{localize 'recommendedAdvantages'}}</h2>
        <div class="row-section wrap">
            {{#each advantages as |item i|}}
            <div class="col two row-section lineheight">
                <input type="checkbox" id="advantage_{{i}}" class="optional" data-cost="{{item.apCost}}" name="{{item.replaceName}}" data-step="{{item.step}}" value="{{item._id}}" {{#if item.disabled}}disabled{{/if}}>
                <label for="advantage_{{i}}">{{item.replaceName}} {{roman item.step}}  ({{item.apCost}} AP)</label>
                <a class="show-item" data-id="{{item._id}}" title="{{item.tooltip}}"><i class="fas fa-info"></i></a>
            </div>
            {{/each}}
        </div>
        {{/if}} {{#if disadvantagesToChose}}
        <h2>{{localize 'recommendedDisadvantages'}}</h2>
        <div class="row-section wrap">
            {{#each disadvantages as |item i|}}
            <div class="col two row-section lineheight">
                <input type="checkbox" id="disadvantage_{{i}}" class="optional" data-cost="{{item.apCost}}" name="{{item.replaceName}}" data-step="{{item.step}}" value="{{item._id}}" {{#if item.disabled}}disabled{{/if}}>
                <label for="disadvantage_{{i}}">{{item.replaceName}} {{roman item.step}}  ({{item.apCost}} AP)</label>
                <a class="show-item" data-id="{{item._id}}" title="{{item.tooltip}}"><i class="fas fa-info"></i></a>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{/if}}
    <div class="tab general" data-tab="general">
        <h2>{{localize 'localKnowledge'}}</h2>
        <p>{{localize 'WIZARD.localKnowledgeDescr'}}</p>
        <div class="row-section">
            <div class="col">
                <input type="text" class="localKnowledge" placeholder="{{culture.data.localKnowledge.value}}" />
            </div>
        </div>
        {{#if languagesToChose}}
        <h2>{{localize 'language'}}</h2>
        <div class="row-section wrap">
            {{#each languages as |item i|}}
            <div class="col two row-section lineheight">
                <input type="checkbox" id="language_{{i}}" class="optional" data-cost="0" name="{{item.replaceName}}" data-step="{{item.step}}" value="{{item._id}}" disabled checked>
                <label for="language_{{i}}">{{item.replaceName}} {{roman item.step}}</label>
                <a class="show-item" data-id="{{item._id}}" title="{{item.tooltip}}"><i class="fas fa-info"></i></a>
            </div>
            {{/each}}
        </div>
        {{/if}} {{#if writingsToChose}}
        <h2>{{localize 'writing'}}</h2>
        <div class="row-section wrap">
            {{#each writings as |item i|}}
            <div class="col two row-section lineheight">
                <input type="checkbox" id="writing_{{i}}" class="optional" data-cost="{{item.apCost}}" name="{{item.replaceName}}" data-step="{{item.step}}" value="{{item._id}}" {{#if item.disabled}}disabled{{/if}}>
                <label for="writing_{{i}}">{{item.replaceName}} {{roman item.step}}  ({{item.apCost}} AP)</label>
                <a class="show-item" data-id="{{item._id}}" title="{{item.tooltip}}"><i class="fas fa-info"></i></a>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>


</section>
<div class="dialog-buttons">
    <button class="dialog-button ok default" data-button="ok">
    <i class="fas fa-check"></i>
    {{localize 'Ok'}}
  </button>
    <button class="dialog-button cancel default" data-button="cancel">
    <i class="fas fa-close"></i>
    {{localize 'Cancel'}}
  </button>
</div>