{{#each actor.inventory as |section sid|}} {{#if section.show}}
<div class="groupbox">
    <div class="row-section table-title">
        <div class="col eight"></div>
        <div class="col">
            <b>{{localize (concat "Equipment." @key)}}</b>
        </div>
        <div class="col eight center">
            {{#if section.toggle}}
            <i class="fa fa-shield-alt" title="{{localize section.toggleName}}"></i> {{/if}}
        </div>
        <div class="col eight center">
            <span title="{{localize 'quantity'}}">#</span>
        </div>
        <div class="col eight center">
            <i class="fa fa-anchor" title="{{localize 'Weight'}}"></i>
        </div>
        <div class="col ten center">
            <a class="item-create very-small" title="{{localize 'SHEET.addItem'}}" item-section="{{sid}}" data-type="{{section.dataType}}"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row-section wrap rowtable inventory">
        {{#each section.items as |item i|}}
        <div class="col item" data-item-id="{{item._id}}">
            <div class="row-section">
                <div class="col eight image" style="background-image: url({{item.img}})">
                    {{#if item.structureMax}}
                    <div class="item-structure" style="--a: {{item.structureMax}}; --b: {{item.structureCurrent}}">
                        <div class="inner"></div>
                    </div>
                    {{/if}}
                </div>
                <div class="col">
                    <a class="item-edit {{#if item.consumable}}consume-item{{/if}}">{{item.name}}</a>
                </div>
                <div class="col eight center">
                    {{#if section.toggle}} {{#if item.toggleValue}}
                    <a class="item-toggle"><i class="far fa-check-circle"></i></a> {{else}}
                    <a class="item-toggle"><i class="far fa-circle"></i></a> {{/if}} {{/if}}
                </div>

                <div class="col eight center">
                    <a class="quantity-click">{{item.data.quantity.value}}</a>
                </div>
                <div class="col eight center">
                    {{item.weight}}
                </div>
                <div class="col ten very-small center">
                    <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
                    <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="row-section lineheight expandDetails">
                <div class="col">
                    <ul>
                    </ul>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>
{{/if}} {{/each}}

<div class="row-section">
    <div class="col two">
        <div class="groupbox" title="{{localize 'UNITS.weight'}}">
            <div class="row-section">
                <div class="col header-label">
                    <b>{{localize "carrycapacity"}}</b>
                </div>
            </div>
            <div class="row-section table-title">
                <div class="col three center">
                    {{localize "carrycapacity"}}
                </div>
                <div class="col three center">
                    {{localize "Current"}}
                </div>
                <div class="col three center">
                    {{localize "encumbrance"}}
                </div>
            </div>
            <div class="row-section">
                <div class="col three center">
                    {{actor.carrycapacity}}
                </div>
                <div class="col three center">
                    {{actor.totalweight}}
                </div>
                <div class="col three center">
                    {{actor.encumbrance}}
                </div>
            </div>
        </div>
    </div>
    <div class="col two">
        {{> systems/dsa5/templates/actors/parts/purse.html}}
    </div>
</div>