<div class="groupbox">
    <div class="row-section table-header">
        <div class="col">
            {{localize "Notes"}}
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
<div class="groupbox">
    <div class="row-section table-header">
        <div class="col">
            {{localize "biography"}}
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>