{{> systems/dsa5/templates/actors/parts/characteristics-large.html}}

<div class="main-row">
    <div class="column1">
        <div class="groupbox">
            <div class="advantages row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "advantages"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.advantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}{{roman item.system.step.value item.system.max.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="disadvantages row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "disadvantages"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.disadvantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}{{roman item.system.step.value item.system.max.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "generalSpecialAbilities"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.general as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a data-tooltip="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.system.step.value item.system.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "language"}}</b> <span data-tooltip="{{localize 'freeLanguagePoint'}}">{{actor.languagePoints.used}} / {{actor.languagePoints.available}}</span>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.language as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a data-tooltip="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.system.step.value item.system.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="fatePointsAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "fatePointsAbilities"}}</b> {{actor.system.notifications}}
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.fatePoints as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a data-tooltip="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.system.step.value item.system.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{#if actor.hasTrait}}
        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "traits"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.traits as |trait i|}} {{#each trait as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                {{/each}} {{/each}}

            </div>
        </div>
        {{/if}}
    </div>

    <div class="column2">
        <div class="groupbox" id="derivedAttrs">
            <div class="derivedAttrs row-section">
                <div class="col two">
                </div>
                <div class="col eight very-small center" data-tooltip="{{localize 'value'}}">
                    {{localize "ABBR.value"}}
                </div>
                <div class="col eight very-small center" data-tooltip="{{localize 'Modifiers'}}">
                    {{localize "ABBR.modifiers"}}
                </div>
                <div class="col eight very-small center" data-tooltip="{{localize 'Advances'}}">
                    {{localize "ABBR.advances"}}
                </div>
                <div class="col eight very-small center" data-tooltip="{{localize 'max'}}">
                    {{localize "ABBR.max"}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "wounds"}} {{#if actor.canAdvance}}<a data-attr="wounds" class="advance refund-points"><i data-tooltip="{{actor.system.status.wounds.refund}}" class="fas fa-minus"></i></a>
                    <a data-attr="wounds" class="advance advance-points"><i data-tooltip="{{actor.system.status.wounds.cost}}" class="fas fa-plus"></i></a>{{/if}}
                    <span class="buttons">
                        <a data-char="regenerate" class="ch-regenerate item" data-mod="regenerate" data-tooltip="{{localize 'regenerate'}}">&nbsp;<i class="fas fa-moon"></i></a>
                    </span>
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.wounds.current}}
                </div>
                <div class="col eight center">
                    <input name="system.status.wounds.modifier" type="text" value="{{actor.system.status.wounds.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight center">
                    <input name="system.status.wounds.advances" type="text" value="{{actor.system.status.wounds.advances}}" data-dtype="Number" />
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.wounds.max}}
                </div>
            </div>
            
                <div class="derivedAttrs row-section">
                    <div class="col two lineheight">
                        {{localize "CHARAbbrev.LeP"}} {{localize 'regenerate'}}
                    </div>
                    <div class="col eight lineheight center">

                    </div>
                    <div class="col eight center inputTooltipAvailable">
                        <input name="system.status.regeneration.LePMod" type="text" value="{{actor.system.status.regeneration.LePMod}}" data-dtype="Number" data-tooltip="{{localize 'SHEET.permRegeneration'}}" />
                    </div>
                    <div class="col eight center inputTooltipAvailable">
                        <input name="system.status.regeneration.LePTemp" type="text" value="{{actor.system.status.regeneration.LePTemp}}" data-dtype="Number" data-tooltip="{{localize 'SHEET.tempRegeneration'}}" />
                    </div>
                    <div class="col eight lineheight center">
                        {{actor.system.status.regeneration.LePmax}}
                    </div>
                </div>
           
            {{#if actor.magic.hasSpells}}
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "astralenergy"}} {{#if actor.canAdvance}}<a data-attr="astralenergy" class="advance refund-points"><i data-tooltip="{{actor.system.status.astralenergy.refund}}" class="fas fa-minus"></i></a>
                    <a data-attr="astralenergy" class="advance advance-points"><i data-tooltip="{{actor.system.status.astralenergy.cost}}" class="fas fa-plus"></i></a>{{/if}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.astralenergy.current}}
                </div>
                <div class="col eight center">
                    <input name="system.status.astralenergy.modifier" type="text" value="{{actor.system.status.astralenergy.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight center">
                    <input name="system.status.astralenergy.advances" type="text" value="{{actor.system.status.astralenergy.advances}}" data-dtype="Number" />
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.astralenergy.max}}
                </div>
            </div>
           
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "CHARAbbrev.AsP"}} {{localize 'regenerate'}}
                </div>
                <div class="col eight lineheight center">

                </div>
                <div class="col eight center inputTooltipAvailable">
                    <input name="system.status.regeneration.AsPMod" type="text" value="{{actor.system.status.regeneration.AsPMod}}" data-dtype="Number" data-tooltip="{{localize 'SHEET.permRegeneration'}}" />
                </div>
                <div class="col eight center inputTooltipAvailable">
                    <input name="system.status.regeneration.AsPTemp" type="text" value="{{actor.system.status.regeneration.AsPTemp}}" data-dtype="Number" data-tooltip="{{localize 'SHEET.tempRegeneration'}}" />
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.regeneration.AsPmax}}
                </div>
            </div>
           
            {{/if}} {{#if actor.magic.hasPrayers}}
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "karmaenergy"}} {{#if actor.canAdvance}} <a data-attr="karmaenergy" class="advance refund-points"><i data-tooltip="{{actor.system.status.karmaenergy.refund}}"
                        class="fas fa-minus"></i></a>
                    <a data-attr="karmaenergy" class="advance advance-points"><i data-tooltip="{{actor.system.status.karmaenergy.cost}}"
                            class="fas fa-plus"></i></a>{{/if}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.karmaenergy.current}}
                </div>
                <div class="col eight center">
                    <input name="system.status.karmaenergy.modifier" type="text" value="{{actor.system.status.karmaenergy.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight center">
                    <input name="system.status.karmaenergy.advances" type="text" value="{{actor.system.status.karmaenergy.advances}}" data-dtype="Number" />
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.karmaenergy.max}}
                </div>
            </div>
            
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "CHARAbbrev.KaP"}} {{localize 'regenerate'}}
                </div>
                <div class="col eight lineheight center">

                </div>
                <div class="col eight center inputTooltipAvailable">
                    <input name="system.status.regeneration.KaPMod" type="text" value="{{actor.system.status.regeneration.KaPMod}}" data-dtype="Number" data-tooltip="{{localize 'SHEET.permRegeneration'}}" />
                </div>
                <div class="col eight center inputTooltipAvailable">
                    <input name="system.status.regeneration.KaPTemp" type="text" value="{{actor.system.status.regeneration.KaPTemp}}" data-dtype="Number" data-tooltip="{{localize 'SHEET.tempRegeneration'}}" />
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.regeneration.KaPmax}}
                </div>
            </div>
            
            {{/if}}
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "soulpower"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.soulpower.value}}
                </div>
                <div class="col eight center">
                    <input name="system.status.soulpower.modifier" type="text" value="{{actor.system.status.soulpower.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.soulpower.max}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "toughness"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.toughness.value}}
                </div>
                <div class="col eight center">
                    <input name="system.status.toughness.modifier" type="text" value="{{actor.system.status.toughness.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.toughness.max}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "dodge"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.dodge.value}}
                </div>
                <div class="col eight center">
                    <input name="system.status.dodge.modifier" type="text" value="{{actor.system.status.dodge.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.dodge.max}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "speed"}}
                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.speed.initial}}
                </div>
                <div class="col eight center">
                    <input name="system.status.speed.modifier" type="text" value="{{actor.system.status.speed.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.speed.max}}
                </div>
            </div>
            
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "initiative"}}
                </div>
                <div class="col eight lineheight center">
                </div>
                <div class="col eight center">
                    <input name="system.status.initiative.modifier" type="text" value="{{actor.system.status.initiative.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{floor actor.system.status.initiative.value}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "initDie"}}
                </div>
                <div class="col two lineheight center">
                    <select name="system.status.initiative.die" data-dtype="String" style="width:100%">
                        {{selectOptions initDies selected=actor.system.status.initiative.die localize=false}}
                    </select>
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "initDieMod"}}
                </div>

                <div class="col two lineheight center">
                    <select name="system.status.initiative.diemodifier" data-dtype="String" style="width:100%">
                        {{selectOptions initDies selected=actor.system.status.initiative.diemodifier localize=false}}
                    </select>
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "sizeCategory"}}
                </div>
                <div class="col two lineheight center">
                    <select name="system.status.size.value" data-dtype="String" style="width:100%">
                        {{selectOptions sizeCategories selected=actor.system.status.size.value localize=true}}
                    </select>
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "fatePoints"}}
                </div>
                <div class="col eight lineheight center">
                    <input name="system.status.fatePoints.current" type="text" value="{{actor.system.status.fatePoints.current}}" data-dtype="Number" />
                </div>
                <div class="col eight center">
                    <input name="system.status.fatePoints.modifier" type="text" value="{{actor.system.status.fatePoints.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{actor.system.status.fatePoints.max}}
                </div>
            </div>
        </div>

        <div class="groupbox">
            <div class="experience row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "Experience"}}</b>
                </div>
            </div>
            <div class="experience row-section">
                <div class="col center">
                    {{localize actor.system.details.experience.description}}
                </div>
            </div>
            <div class="experience row-section">
                <div class="col three header-label">
                    {{localize "Current"}}
                </div>
                <div class="col three header-label">
                    {{localize "Spent"}}
                </div>
                <div class="col three header-label">
                    {{localize "Total"}}
                </div>
            </div>
            <div class="experience row-section">
                <div class="col three lineheight center">
                    {{actor.system.details.experience.current}}
                </div>
                <div class="col three center">
                    <input name="system.details.experience.spent" type="text" value="{{actor.system.details.experience.spent}}" data-dtype="Number" />
                </div>
                <div class="col three center">
                    <input name="system.details.experience.total" type="text" value="{{actor.system.details.experience.total}}" data-dtype="Number" />
                </div>

            </div>
        </div>

    </div>
</div>