<div class="characteristics">
    <div class="characteristics-table" cellpadding="0">
        <div class="table-row">
            <div class="table-header"></div>
            {{#each actor.data.characteristics as |ch c|}}
            <div title="{{localize ch.label}}" class="table-header">
                <div class="header-label">
                    {{localize ch.abrev}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="table-row">
            <div class="row-type table-data">
                <div class="header-block lineheight">
                    {{localize "Initial"}}
                </div>
            </div>
            {{#each actor.data.characteristics as |ch c|}}
            <div class="table-data">
                <input name="data.characteristics.{{c}}.initial" type="text" value="{{ch.initial}}" data-dtype="Number">
            </div>
            {{/each}}
        </div>
        <div class="table-row">
            <div class="row-type table-data">
                <div class="header-block lineheight">
                    {{localize "Advances"}}
                </div>
            </div>
            {{#each actor.data.characteristics as |ch c|}}
            <div class="table-data">
                <input name="data.characteristics.{{c}}.advances" type="text" value="{{ch.advances}}" data-dtype="Number">
            </div>
            {{/each}}
        </div>
        <div class="table-row">
            <div class="row-type table-data">
                <div class="header-block lineheight">
                    {{localize "Modifiers"}}
                </div>
            </div>
            {{#each actor.data.characteristics as |ch c|}}
            <div class="table-data">
                <input name="data.characteristics.{{c}}.modifier" type="text" value="{{ch.modifier}}" data-dtype="Number">
            </div>
            {{/each}}
        </div>
        <div class="table-row bottom">
            <div class="row-type table-data">
                <div class="header-block d20height">
                    {{localize "Current"}}
                </div>
            </div>
            {{#each actor.data.characteristics as |ch c|}}
            <div class="table-data ch-value" data-char="{{c}}"><a class="d20 die-{{c}}">{{ch.value}}</a></div>
            {{/each}}
        </div>
    </div>
</div>

<div class="main-row">
    <div class="column1">
        <div class="groupbox">
            <div class="advantages row-section">
                <div class="col header-label lineheight">
                    {{localize "advantages"}}
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.advantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit rightclick-delete">{{item.name}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="disadvantages row-section">
                <div class="col header-label lineheight">
                    {{localize "disadvantages"}}
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.disadvantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit rightclick-delete">{{item.name}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    {{localize "generalSpecialAbilities"}}
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.generalSpecialAbilites as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit rightclick-delete">{{item.name}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="fatePointsAbilities row-section">
                <div class="col header-label lineheight">
                    {{localize "fatePointsAbilities"}}
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.fatePointsAbilities as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit rightclick-delete">{{item.name}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="column2">
        <div class="groupbox">
            <div class="derivedAttrs row-section">
                <div class="col two">
                </div>
                <div class="col eight very-small" title="{{localize 'value'}}">
                    {{localize "ABBR-value"}}
                </div>
                <div class="col eight very-small" title="{{localize 'Modifiers'}}">
                    {{localize "ABBR-modifiers"}}
                </div>
                <div class="col eight very-small" title="{{localize 'Advances'}}">
                    {{localize "ABBR-advances"}}
                </div>
                <div class="col eight very-small" title="{{localize 'max'}}">
                    {{localize "ABBR-max"}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "wounds"}}
                </div>
                <div class="col eight lineheight center">
                    {{data.status.wounds.value}}
                </div>
                <div class="col eight">
                    <input name="data.status.wounds.modifier" type="text" value="{{data.status.wounds.modifier}}" data-dtype="Number" />

                </div>
                <div class="col eight">
                    <input name="data.status.wounds.advances" type="text" value="{{data.status.wounds.advances}}" data-dtype="Number" />

                </div>
                <div class="col eight lineheight center">
                    {{data.status.wounds.max}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "astralenergy"}}
                </div>
                <div class="col eight lineheight center">
                    {{data.status.astralenergy.value}}
                </div>
                <div class="col eight">
                    <input name="data.status.astralenergy.modifier" type="text" value="{{data.status.astralenergy.modifier}}" data-dtype="Number" />

                </div>
                <div class="col eight">
                    <input name="data.status.astralenergy.advances" type="text" value="{{data.status.astralenergy.advances}}" data-dtype="Number" />

                </div>
                <div class="col eight lineheight center">
                    {{data.status.astralenergy.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "karmaenergy"}}
                </div>
                <div class="col eight lineheight center">
                    {{data.status.karmaenergy.value}}
                </div>
                <div class="col eight">
                    <input name="data.status.karmaenergy.modifier" type="text" value="{{data.status.karmaenergy.modifier}}" data-dtype="Number" />

                </div>
                <div class="col eight">
                    <input name="data.status.karmaenergy.advances" type="text" value="{{data.status.karmaenergy.advances}}" data-dtype="Number" />

                </div>
                <div class="col eight lineheight center">
                    {{data.status.karmaenergy.max}}
                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "soulpower"}}
                </div>
                <div class="col eight lineheight center">
                    {{data.status.soulpower.value}}
                </div>
                <div class="col eight">
                    <input name="data.status.soulpower.modifier" type="text" value="{{data.status.soulpower.modifier}}" data-dtype="Number" />

                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{data.status.soulpower.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "toughness"}}
                </div>
                <div class="col eight lineheight center">
                    {{data.status.toughness.value}}
                </div>
                <div class="col eight">
                    <input name="data.status.toughness.modifier" type="text" value="{{data.status.toughness.modifier}}" data-dtype="Number" />

                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{data.status.toughness.max}}

                </div>
            </div>
            <div class="derivedAttrs row-section">
                <div class="col two lineheight">
                    {{localize "dodge"}}
                </div>
                <div class="col eight lineheight center">
                    {{data.status.dodge.value}}
                </div>
                <div class="col eight">
                    <input name="data.status.dodge.modifier" type="text" value="{{data.status.dodge.modifier}}" data-dtype="Number" />

                </div>
                <div class="col eight">

                </div>
                <div class="col eight lineheight center">
                    {{data.status.dodge.max}}

                </div>
            </div>
        </div>
        <div class="groupbox">
            <div class="derivedAttrs row-section">
                <div class="col two">
                </div>
                <div class="col eight">

                </div>
                <div class="col eight very-small" title="{{localize 'value'}}">
                    {{localize "ABBR-value"}}
                </div>
                <div class="col eight very-small" title="{{localize 'Modifiers'}}">
                    {{localize "ABBR-modifiers"}}
                </div>

                <div class="col eight very-small" title="{{localize 'max'}}">
                    {{localize "ABBR-max"}}
                </div>
            </div>
            <div class="fate row-section">

                <div class="col two lineheight">
                    {{localize "fatePoints"}}
                </div>
                <div class="col eight lineheight">

                </div>
                <div class="col eight">
                    <input name="data.status.fatePoints.value" type="text" value="{{data.status.fatePoints.value}}" data-dtype="Number" />
                </div>
                <div class="col eight">
                    <input name="data.status.fatePoints.modifier" type="text" value="{{data.status.fatePoints.modifier}}" data-dtype="Number" />

                </div>

                <div class="col eight lineheight center">
                    {{data.status.fatePoints.max}}

                </div>
            </div>
        </div>
        <div class="groupbox">
            <div class="experience row-section">
                <div class="col header-label lineheight">
                    <span>{{localize "Experience"}}</span>
                </div>
            </div>
            <div class="experience row-section">
                <div class="col center">
                    {{localize data.details.experience.description}}
                </div>
            </div>
            <div class="experience row-section">
                <div class="col three header-label">
                    {{localize "Current"}}
                </div>
                <div class="col three header-label">
                    {{localize "Spent"}}
                </div>
                <div class="col three header-label">
                    {{localize "Total"}}
                </div>
            </div>
            <div class="experience row-section">
                <div class="col three lineheight">
                    {{data.details.experience.current}}
                </div>
                <div class="col three">
                    <input name="data.details.experience.spent" type="text" value="{{data.details.experience.spent}}" data-dtype="Number" />
                </div>
                <div class="col three">
                    <input name="data.details.experience.total" type="text" value="{{data.details.experience.total}}" data-dtype="Number" />
                </div>

            </div>
        </div>


    </div>
</div>