<form class="{{cssClass}} lock{{actor.sheetLocked}}" autocomplete="off">

    <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
        <div class="charname headerInput">
            <input class="input name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
            <span class="label name">{{localize "Name"}}</span>
        </div>

        <div class="headerInput">
            <input class="input species" name="data.details.species.value" type="text" value="{{data.details.species.value}}" readonly placeholder="{{localize 'species'}}" />
            <span class="label species">{{localize "species"}}</span>
        </div>
        <div id="field-careerlevel" class="headerInput">
            <input class="input-details" name="data.details.career.value" type="text" value="{{data.details.career.value}}" placeholder="{{localize 'career'}}" />
            <span class="label-details">{{localize "career"}}</span>
        </div>
    </header>

    <div class="general" ondragstart="return false;" ondrop="return false;">
        <img class="charimg profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">

        <div class="row-section" style="width: 100%;margin-bottom: 20px">
            <div class="col">
                <div class="row-section wrap charBtns">
                    {{#each actor.data.characteristics as |ch c|}}
                    <div title="{{localize ch.label}}" class="col eight center">
                        {{localize ch.abrev}}
                    </div>
                    {{/each}}
                </div>
                <div class="row-section wrap charBtns">
                    {{#each actor.data.characteristics as |ch c|}}
                    <div class="ch-value col eight center" data-char="{{c}}"><a class="d20 die-{{c}}">{{ch.value}}</a></div>
                    {{/each}}
                </div>

                {{> systems/dsa5/templates/actors/parts/healthbar.html}}
                <div class="row-section">
                    <div class="col ten lineheight center" title="{{localize 'fatePoints'}}">
                        {{localize 'CHARAbbrev.fatePoints'}}
                    </div>
                    <div class="col eighty center" title="{{localize 'fatePoints'}}">
                        <input class="dsahidden" type="text" name="data.status.fatePoints.value" data-dtype="Number" value="{{actor.data.status.fatePoints.value}}" /> {{#each actor.schips as |item i|}}
                        <a class="schip {{item.cssClass}}" data-val="{{item.value}}"></a> {{/each}}
                    </div>
                    <div class="col ten center">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- TABS -->
    <section id="tab-sections">
        <nav id="dsa5-primarytabs" class="sheet-tabs tabs" ondragstart="return false;" ondrop="return false;">
            <a class="item active" data-tab="skills">{{localize "skills"}}</a>
            <a class="item" data-tab="combat">{{localize "Combat"}}</a> {{#if actor.magic.hasSpells}}
            <a class="item" data-tab="magic">{{localize "Magic"}}</a> {{/if}} {{#if actor.magic.hasPrayers}}
            <a class="item" data-tab="religion">{{localize "Religion"}}</a> {{/if}}
            <a class="item" data-tab="main">{{localize "attributes"}}</a>
            <a class="item" data-tab="inventory">{{localize "equipment"}}</a>
            <a class="item" data-tab="status">{{localize "status"}}</a>
            <a class="item" data-tab="notes">{{localize "Notes"}}</a>
        </nav>

        <section class="content">
            <div class="tab main save-scroll" data-tab="main">
                {{> systems/dsa5/templates/actors/actor-main.html}}
            </div>
            <div class="tab skills save-scroll" data-tab="skills">
                {{> systems/dsa5/templates/actors/actor-talents.html}} {{> systems/dsa5/templates/actors/character/actor-aggregatedtests.html}}
            </div>
            <div class="tab combat save-scroll" data-tab="combat">
                {{> systems/dsa5/templates/actors/actor-combat.html}}
            </div>
            {{#if actor.magic.hasSpells}}
            <div class="tab magic save-scroll" data-tab="magic">
                {{> systems/dsa5/templates/actors/character/actor-magic.html}}
            </div>
            {{/if}} {{#if actor.magic.hasPrayers}}
            <div class="tab religion save-scroll" data-tab="religion">
                {{> systems/dsa5/templates/actors/character/actor-religion.html}}
            </div>
            {{/if}}
            <div class="tab inventory save-scroll" data-tab="inventory">
                {{> systems/dsa5/templates/actors/actor-equipment.html}}
            </div>
            <div class="tab status save-scroll" data-tab="status">
                {{> systems/dsa5/templates/actors/parts/status_effects.html}}
            </div>
            <div class="tab save-scroll" data-tab="notes">
                {{> systems/dsa5/templates/actors/actor-notes.html}}
            </div>
        </section>
    </section>
</form>