<div class="row-section skills table-header searchbox">
    <div class="col two lineheight">
        <b>{{localize "skills"}}</b>
    </div>
    <div class="col fourty lineheight">
        <i class="fas fa-search"></i>
        <input type="search" data-dtype="String" class="talentSearch" placeholder="{{localize 'searchTalents'}}" />
    </div>
    <div class="col ten center lineheight">
        <a><i class="fas fa-filter filterTalents"></i></a>
    </div>
</div>


<div class="row-section wrap allTalents showAll">
    <div class="col morph">
        {{#each actor.allSkillsLeft}}
        <div class="row-section skills table-header lineheight {{@key}}" style="margin-top:10px;">
            <div class="col two">
                {{localize (concat "SKILL." @key)}}
            </div>
            <div class="col two">{{{localize (concat "SKILLAbrev." @key)}}}</div>
        </div>
        <div class="row-section skills table-title">
            <div class="col two">
                {{localize "skill"}}
            </div>
            <div class="col third">{{localize "probe"}}</div>
            <div class="col ten" title="{{localize 'BE'}}">{{localize "CHARAbbrev.BE"}}</div>
            <div class="col ten" title="{{localize 'Fw'}}">{{localize "CHARAbbrev.FW"}}</div>
        </div>
        {{#each this as |item i|}}
        <div class="row-section skills lineheight tableOdd item{{#when item.data.talentValue.value 'eq' 0}} notLearned{{/when}}" data-item-id="{{item._id}}">
            <div class="col two">
                <a class="item-edit talentName">{{item.name}}</a> {{#if item.canAdvance}}
                <a class="advance refund-item"><i title="{{item.refund}}" class="fas fa-minus"></i></a>
                <a class="advance advance-item"><i title="{{item.cost}}" class="fas fa-plus"></i></a> {{/if}}
            </div>
            <div class="col third">
                <a class="skill-select">
                    <span class="d20 diet-{{item.data.characteristic1.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic1.value)}}</span>
                    <span class="d20 diet-{{item.data.characteristic2.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic2.value)}}</span>
                    <span class="d20 diet-{{item.data.characteristic3.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic3.value)}}</span>
                </a>
            </div>
            <div class="col ten">{{localize item.data.burden.value}}</div>
            <div class="col ten"><input class="skill-advances" type="text" data-dtype="Number" value="{{item.data.talentValue.value}}" /></div>
        </div>
        {{/each}} {{/each}}
    </div>
    <div class="col morph">
        {{#each actor.allSkillsRight}}
        <div class="row-section skills table-header lineheight {{@key}}" style="margin-top:10px;">
            <div class="col two">
                {{localize (concat "SKILL." @key)}}
            </div>
            <div class="col two">{{{localize (concat "SKILLAbrev." @key)}}}</div>
        </div>
        <div class="row-section skills table-title">
            <div class="col two">
                {{localize "skill"}}
            </div>
            <div class="col third">{{localize "probe"}}</div>
            <div class="col ten" title="{{localize 'BE'}}">{{localize "CHARAbbrev.BE"}}</div>
            <div class="col ten" title="{{localize 'Fw'}}">{{localize "CHARAbbrev.FW"}}</div>
        </div>
        {{#each this as |item i|}}
        <div class="row-section skills lineheight tableOdd item{{#when item.data.talentValue.value 'eq' 0}} notLearned{{/when}}" data-item-id="{{item._id}}">
            <div class="col two">
                <a class="item-edit talentName">{{item.name}}</a> {{#if item.canAdvance}}
                <a class="advance refund-item"><i title="{{item.refund}}" class="fas fa-minus"></i></a>
                <a class="advance advance-item"><i title="{{item.cost}}" class="fas fa-plus"></i></a>{{/if}}
            </div>
            <div class="col third">
                <a class="skill-select">
                    <span class="d20 diet-{{item.data.characteristic1.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic1.value)}}</span>
                    <span class="d20 diet-{{item.data.characteristic2.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic2.value)}}</span>
                    <span class="d20 diet-{{item.data.characteristic3.value}}">{{localize (concatUp "CHARAbbrev." item.data.characteristic3.value)}}</span>
                </a>
            </div>
            <div class="col ten">{{localize item.data.burden.value}}</div>
            <div class="col ten"><input class="skill-advances" type="text" data-dtype="Number" value="{{item.data.talentValue.value}}" /></div>
        </div>
        {{/each}}
        <div class="row-section">
            <div class="col">&nbsp;</div>
        </div>{{/each}}
    </div>
</div>