<form class="{{cssClass}} lock{{actor.sheetLocked}}" autocomplete="off">


    <header class="sheet-header" ondragstart="return false;" ondrop="return false;">

        <div class="headerInput">
            <input class="input name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
            <span class="label name">{{localize "Name"}}</span>
        </div>
        <div class="headerInput">
            <input class="input creatureClass" data-dtype="String" name="data.creatureClass.value" type="text" value="{{data.creatureClass.value}}" placeholder="{{localize 'creatureClass'}}" />
            <span class="label creatureClass ">{{localize "creatureClass"}}</span>
        </div>

    </header>
    <div class="general" ondragstart="return false;" ondrop="return false; ">

        <div class="row-section ">
            <div class="col five ">
                <div class="imagebox ">
                    <img class="charimg profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
                </div>
            </div>
            <div class="col eighty ">
                <div class="row-section wrap charBtns">
                    {{#each actor.data.characteristics as |ch c|}}
                    <div title="{{localize ch.label}}" class="col eight center">
                        {{localize ch.abrev}}
                    </div>
                    {{/each}}
                </div>
                <div class="row-section wrap charBtns">
                    {{#each actor.data.characteristics as |ch c|}}
                    <div class="ch-value col eight center" data-char="{{c}}"><a class="d20 die-{{c}}">{{ch.value}}</a></div>
                    {{/each}}
                </div>
                <div class="row-section" style="margin-top:10px;">
                    <div class="col ten center  lineheight" title="{{localize 'wounds'}}">
                        {{localize 'CHARAbbrev.LeP'}}
                    </div>
                    <div class="col fourty">
                        <div class="healthbar barLeft{{#if actor.hasPrayers}}{{else if actor.hasSpells}}{{else}} soloBar{{/if}}" title="{{localize 'wounds'}}">

                            <div class="bar LeP" style="--a: {{actor.data.status.wounds.value}}; --b: {{actor.data.status.wounds.max}}">
                            </div>
                            <div class="barLabel">
                                <input type="text" title="{{localize 'Current'}}" name="data.status.wounds.value" data-dtype="Number" value="{{actor.data.status.wounds.value}}" /> /
                                <span title="{{localize 'max'}}">{{actor.data.status.wounds.max}}</span>
                            </div>
                        </div>
                    </div>
                    {{#if actor.hasPrayers}}
                    <div class="col fourty">
                        <div class="healthbar barRight" title="{{localize 'karmaenergy'}}">
                            <div class="barLabel">
                                <input type="text" title="{{localize 'Current'}}" name="data.status.karmaenergy.value" data-dtype="Number" value="{{actor.data.status.karmaenergy.value}}" /> /
                                <span title="{{localize 'max'}}">{{actor.data.status.karmaenergy.max}}</span>
                            </div>
                            <div class="bar KaP" style="--a: {{actor.data.status.karmaenergy.value}}; --b: {{actor.data.status.karmaenergy.max}}">

                            </div>
                        </div>
                    </div>
                    <div class="col ten center lineheight" title="{{localize 'karmaenergy'}}">
                        {{localize 'CHARAbbrev.KaP'}}
                    </div>
                    {{else if actor.hasSpells}}
                    <div class="col fourty">
                        <div class="healthbar barRight" title="{{localize 'astralenergy'}}">
                            <div class="barLabel">
                                <input type="text" title="{{localize 'Current'}}" name="data.status.astralenergy.value" data-dtype="Number" value="{{actor.data.status.astralenergy.value}}" /> /
                                <span title="{{localize 'max'}}">{{actor.data.status.astralenergy.max}}</span>
                            </div>
                            <div class="bar AsP" style="--a: {{actor.data.status.astralenergy.value}}; --b: {{actor.data.status.astralenergy.max}}">

                            </div>
                        </div>
                    </div>
                    <div class="col ten center lineheight" title="{{localize 'astralenergy'}}">
                        {{localize 'CHARAbbrev.AsP'}}
                    </div>
                    {{else}}
                    <div class="col two">

                    </div>
                    {{/if}}
                </div>
            </div>

        </div>


    </div>
    <section id="tab-sections ">
        <nav id="dsa5-primarytabs" class="sheet-tabs tabs" ondragstart="return false;" ondrop="return false; ">

            <a class="item active" data-tab="skills">{{localize "skills"}}</a>
            <a class="item" data-tab="combat">{{localize "Combat"}}</a> {{#if actor.hasSpells}}
            <a class="item" data-tab="magic">{{localize "Magic"}}</a> {{/if}} {{#if actor.hasPrayers}}
            <a class="item" data-tab="religion">{{localize "Religion"}}</a> {{/if}}
            <a class="item" data-tab="main">{{localize "attributes"}}</a>
            <a class="item" data-tab="inventory">{{localize "equipment"}}</a>
            <a class="item" data-tab="notes">{{localize "Notes"}}</a>
        </nav>

        <section class="content ">
            <div class="tab main save-scroll" data-tab="main">
                {{> systems/dsa5/templates/actors/creature/creature-main.html}}
            </div>
            <div class="tab skills save-scroll" data-tab="skills">
                {{> systems/dsa5/templates/actors/actor-talents.html}}
            </div>
            <div class="tab combat save-scroll" data-tab="combat">
                {{> systems/dsa5/templates/actors/creature/creature-combat.html}}
            </div>
            {{#if actor.hasSpells}}
            <div class="tab magic save-scroll" data-tab="magic">
                {{> systems/dsa5/templates/actors/creature/creature-magic.html}}
            </div>
            {{/if}} {{#if actor.hasPrayers}}
            <div class="tab religion save-scroll" data-tab="religion">
                {{> systems/dsa5/templates/actors/creature/creature-religion.html}}
            </div>
            {{/if}}
            <div class="tab inventory save-scroll" data-tab="inventory">
                {{> systems/dsa5/templates/actors/creature/creature-loot.html}}
            </div>
            <div class="tab save-scroll" data-tab="notes">
                {{> systems/dsa5/templates/actors/creature/creature-notes.html}}
            </div>
        </section>
    </section>
</form>