<form class="{{cssClass}}" autocomplete="off">
    <div class="header personal">
        <a id="configure-actor">{{localize "personalDetails"}}</a>
    </div>

    <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
        <div class="charname item">
            <input class="input name" style="box-shadow: none !important;" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Character Name'}}" />
            <span class="label name">{{localize "Name"}}</span>
        </div>

        <div class="item">
            <input class="input species" style="box-shadow: none !important;" name="data.details.species.value" type="text" value="{{data.details.species.value}}" readonly placeholder="{{localize 'species'}}" />
            <span class="label species">{{localize "species"}}</span>
        </div>
        <div id="field-careerlevel" class="item">
            <input class="input-details" style="box-shadow: none !important;" name="data.details.career.value" type="text" value="{{data.details.career.value}}" placeholder="{{localize 'career'}}" />
            <span class="label-details">{{localize "career"}}</span>
        </div>

    </header>

    <section class="general" ondragstart="return false;" ondrop="return false;">
        <img class="charimg profile" src="{{actor.img}}" title="{{actor.name}}" height="95" width="95" data-edit="img">

        <div class="items">
            <div class="row">
                <div id="field-gender" class="item">
                    <input class="input gender" style="box-shadow: none !important;" name="data.details.gender.value" type="text" value="{{data.details.gender.value}}" placeholder="{{localize 'Gender'}}" />
                    <span class="label gender">{{localize "Gender"}}</span>
                </div>

                <div id="field-culture" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.Culture.value" type="text" value="{{data.details.Culture.value}}" placeholder="{{localize 'Culture'}}" />
                    <span class="label-details">{{localize "culture"}}</span>
                </div>
                <div id="field-status" class="item">
                    <input id="input-status" class="input-details" style="box-shadow: none !important;" type="text" value="{{actor.data.details.socialstate.value}}" placeholder="{{localize 'Sozialstatus'}}" readonly />
                    <span id="label-status" class="label-details">{{localize "Socialstate"}}</span>
                </div>
                <div id="field-home" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.Home.value" type="text" value="{{data.details.Home.value}}" placeholder="{{localize 'Home'}}" />
                    <span class="label-details">{{localize "Home"}}</span>
                </div>
            </div>

            <div class="row">

                <div id="field-family" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.family.value" type="text" value="{{data.details.family.value}}" placeholder="{{localize 'Family'}}" />
                    <span class="label-details">{{localize "Family"}}</span>
                </div>

                <div id="field-age" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.age.value" type="text" value="{{data.details.age.value}}" placeholder="{{localize 'Age'}}" />
                    <span class="label-details">{{localize "Age"}}<span>
                </div>

                <div id="field-haircolor" class="item">
                    <input class="input-details" style="box-shadow: none !important;"
                        name="data.details.haircolor.value" type="text" value="{{data.details.haircolor.value}}"
                        placeholder="{{localize 'Hair_color'}}" />
                    <span class="label-details">{{localize "Hair_color"}}</span>
                </div>
                <div id="field-eyecolor" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.eyecolor.value" type="text" value="{{data.details.eyecolor.value}}" placeholder="{{localize 'Eye_color'}}" />
                    <span class="label-details">{{localize "Eye_color"}}</span>
                </div>
            </div>

            <div class="row">

                <div id="field-height" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.height.value" type="text" value="{{data.details.height.value}}" placeholder="{{localize 'Height'}}" />
                    <span class="label-details">{{localize "Height"}}</span>
                </div>

                <div id="field-weight" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.weight.value" type="text" value="{{data.details.weight.value}}" placeholder="{{localize 'Weight'}}" />
                    <span class="label-details">{{localize "Weight"}}</span>
                </div>

                <div id="field-distinguishingmark" class="item">
                    <input class="input-details" style="box-shadow: none !important;" name="data.details.distinguishingmark.value" type="text" value="{{data.details.distinguishingmark.value}}" placeholder="{{localize 'Distinguishing_mark'}}" />
                    <span class="label-details">{{localize "Distinguishing_mark"}}</span>
                </div>

            </div>


    </section>
    <!-- TABS -->
    <section id="tab-sections">
        <nav id="dsa5-primarytabs" class="sheet-tabs tabs" ondragstart="return false;" ondrop="return false;">
            <a class="item active" data-tab="main">{{localize "attributes"}}</a>
            <a class="item" data-tab="skills">{{localize "skills"}}</a>
            <a class="item" data-tab="combat">{{localize "Combat"}}</a> {{#if actor.hasSpells}}
            <a class="item" data-tab="magic">{{localize "Magic"}}</a> {{/if}} {{#if actor.hasPrayers}}
            <a class="item" data-tab="religion">{{localize "Religion"}}</a> {{/if}}
            <a class="item" data-tab="inventory">{{localize "equipment"}}</a>
            <a class="item" data-tab="notes">{{localize "Notes"}}</a>
        </nav>

        <section class="content">
            <div class="tab main save-scroll" data-tab="main">
                {{> systems/dsa5/templates/actors/npc/npc-main.html}}
            </div>
            <div class="tab skills save-scroll" data-tab="skills">
                {{> systems/dsa5/templates/actors/actor-talents.html}}
            </div>
            <div class="tab combat save-scroll" data-tab="combat">
                {{> systems/dsa5/templates/actors/actor-combat.html}}
            </div>
            {{#if actor.hasSpells}}
            <div class="tab magic save-scroll" data-tab="magic">
                {{> systems/dsa5/templates/actors/character/actor-magic.html}}
            </div>
            {{/if}} {{#if actor.hasPrayers}}
            <div class="tab religion save-scroll" data-tab="religion">
                {{> systems/dsa5/templates/actors/character/actor-religion.html}}
            </div>
            {{/if}}
            <div class="tab inventory save-scroll" data-tab="inventory">
                {{> systems/dsa5/templates/actors/actor-equipment.html}}
            </div>
            <div class="tab notes save-scroll" data-tab="notes">
                {{> systems/dsa5/templates/actors/actor-notes.html}}
            </div>
        </section>
    </section>
</form>