{{> systems/dsa5/templates/actors/parts/characteristics-large.html}} 


<div class="row-section wrap reverseFlex">
    <div class="col morph40">
        {{#if prepare.canAdvance}} 

        {{> systems/dsa5/templates/actors/parts/creature-derived-attributes-large.html}} 
        {{> systems/dsa5/templates/actors/parts/experienceBox.html}} 

        {{else}} 

        {{> systems/dsa5/templates/actors/parts/creature-derived-attributes-small.html}} 

        {{/if}} 

    </div>
    <div class="col morph60">
        {{> systems/dsa5/templates/actors/parts/specialabilities.html}}
    </div>
</div>