<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "Description"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" data-tooltip="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor (enrich actor.system.description.value owner) target="system.description.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "behaviour"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" data-tooltip="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor (enrich actor.system.behaviour.value owner) target="system.behaviour.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "flight"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" data-tooltip="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor (enrich actor.system.flight.value owner) target="system.flight.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "specialRules"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" data-tooltip="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor (enrich actor.system.specialRules.value owner) target="system.specialRules.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
{{#if actor.isOwner}}
<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "ownerNotes"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" data-tooltip="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor (enrich actor.system.details.notes.ownerdescription owner) target="system.details.notes.ownerdescription" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
{{/if}}