<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "Description"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" title="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "behaviour"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" title="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor content=data.behaviour.value target="data.behaviour.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "flight"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" title="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor content=data.flight.value target="data.flight.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
<div class="groupbox">
    <div class="row-section header-label">
        <div class="col ninety lineheight">
            <b>{{localize "specialRules"}}</b>
        </div>
        <div class="col lineheight ten">
            <a class="ch-collapse"><i class="fas fa-angle-up" title="{{localize 'SHEET.collapse'}}"></i></a>
        </div>
    </div>
    <div class="row-section">
        <div class="col notes-box">
            {{editor content=data.specialRules.value target="data.specialRules.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>