{{#each actor.inventory as |section sid|}} {{#if section.show}}
<div class="groupbox">
    <div class="row-section table-title">
        <div class="col eight"></div>
        <div class="col">
            {{localize @key}}
        </div>
        <div class="col eight center">
            {{#if section.toggle}}
            <i class="fa fa-shield-alt" title="{{localize section.toggleName}}"></i> {{/if}}
        </div>
        <div class="col eight center">
            <span title="{{localize 'quantity'}}
            ">#</span>
        </div>
        <div class="col eight center">
            <i class="fa fa-anchor" title="{{localize 'Weight'}}"></i>
        </div>
        <div class="col ten center"></div>
    </div>
    <div class="row-section wrap rowtable inventory">
        {{#each section.items as |item i|}}
        <div class="col item" data-item-id="{{item._id}}">
            <div class="row-section">
                <div class="col eight image" style="background-image: url({{item.img}})">
                </div>
                <div class="col">
                    {{item.name}}
                </div>
                <div class="col eight center">
                    {{#if section.toggle}} {{#if item.toggleValue}}
                    <a class="item-toggle"><i class="far fa-check-circle"></i></a> {{else}}
                    <a class="item-toggle"><i class="far fa-circle"></i></a> {{/if}} {{/if}}
                </div>

                <div class="col eight center">
                    <a class="quantity-click">{{item.data.quantity.value}}</a>
                </div>
                <div class="col eight center">
                    {{item.weight}}
                </div>
                <div class="col ten very-small center">
                    <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
                    <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>
{{/if}} {{/each}}

<div class="row-section">
    <div class="col two">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label">
                    {{localize "carrycapacity"}}
                </div>
            </div>
            <div class="row-section table-title">
                <div class="col three center small">
                    {{localize "carrycapacity"}}
                </div>
                <div class="col three center small">
                    {{localize "Current"}}
                </div>
                <div class="col three center small">
                    {{localize "encumbrance"}}
                </div>
            </div>
            <div class="row-section">
                <div class="col three center small">
                    {{actor.carrycapacity}}
                </div>
                <div class="col three center small">
                    {{actor.totalweight}}
                </div>
                <div class="col three center small">
                    {{actor.encumbrance}}
                </div>
            </div>
        </div>
    </div>
    <div class="col two">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label">
                    {{localize "purse"}}
                </div>
            </div>
            <div class="row-section table-title">
                {{#each actor.money.coins as |item i|}}
                <div class="col four center item small" data-item-id="{{item._id}}">
                    <a class="item-edit">{{localize item.name}}</a>
                </div>
                {{/each}}
            </div>
            <div class="row-section">
                {{#each actor.money.coins as |item i|}}
                <div class="col four center item small" data-item-id="{{item._id}}">
                    <a class="col-{{item.name}} quantity-click">{{item.data.quantity.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>