{{#if actor.canAdvance}} {{> systems/dsa5/templates/actors/parts/characteristics-large.html}} {{else}} {{> systems/dsa5/templates/actors/parts/characteristics-small.html}} {{/if}}

<div class="main-row">
    <div class="column1">
        <div class="groupbox">
            <div class="advantages row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "advantages"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.advantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.max.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="disadvantages row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "disadvantages"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.disadvantages as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.max.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "generalSpecialAbilities"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.general as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a title="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        {{#if actor.specAbs.language.length}}
        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "language"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.language as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a title="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}} {{#if actor.schips}}
        <div class="groupbox">
            <div class="fatePointsAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "fatePointsAbilities"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.fatePoints as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a title="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}

        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "animalSpecialAbilities"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.specAbs.animal as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{#if item.OnUseEffect}}<a title="{{localize 'SHEET.onUseEffect'}}" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.data.step.value item.data.maxRank.value}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="groupbox">
            <div class="generalSpecialAbilities row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "traits"}}</b>
                    <a class="item-create very-small" title="{{localize 'SHEET.addItem'}}" item-section="trait" data-type="trait"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each actor.traits as |trait i|}} {{#each trait as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                {{/each}} {{/each}}

            </div>
        </div>
    </div>

    <div class="column2">
        {{#if actor.canAdvance}} {{> systems/dsa5/templates/actors/parts/creature-derived-attributes-large.html}} {{else}} {{> systems/dsa5/templates/actors/parts/creature-derived-attributes-small.html}} {{/if}} {{#if actor.canAdvance}}
        <div class="groupbox">
            <div class="experience row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "Experience"}}</b>
                </div>
            </div>
            <div class="experience row-section">
                <div class="col center">
                    {{localize actor.data.details.experience.description}}
                </div>
            </div>
            <div class="experience row-section">
                <div class="col three header-label">
                    {{localize "Current"}}
                </div>
                <div class="col three header-label">
                    {{localize "Spent"}}
                </div>
                <div class="col three header-label">
                    {{localize "Total"}}
                </div>
            </div>
            <div class="experience row-section">
                <div class="col three lineheight center">
                    {{actor.data.details.experience.current}}
                </div>
                <div class="col three center">
                    <input name="data.details.experience.spent" type="text" value="{{actor.data.details.experience.spent}}" data-dtype="Number" />
                </div>
                <div class="col three center">
                    <input name="data.details.experience.total" type="text" value="{{actor.data.details.experience.total}}" data-dtype="Number" />
                </div>

            </div>
        </div>
        {{/if}}

    </div>
</div>