<div class="row-section wrap">
    <div class="col two">
        <div class="row-section skills table-title">
            <div class="col fourty">
                {{localize "combatskill"}}
            </div>
            <div class="col five center">
                {{localize "guidevalue_small"}}
            </div>

            <div class="col eight center" title="{{localize 'KTW'}}">
                {{localize "CHARAbbrev.KTW"}}
            </div>
            <div class="col eight center">
                {{localize "CHARAbbrev.ATFK"}}
            </div>
            <div class="col eight center" title="{{localize 'CHAR.PARRY'}}">
                {{localize "CHARAbbrev.PA"}}
            </div>
        </div>
    </div>
    <div class="col two">
        <div class="row-section skills table-title">
            <div class="col fourty">
                {{localize "combatskill"}}
            </div>
            <div class="col five center">
                {{localize "guidevalue_small"}}
            </div>

            <div class="col eight center" title="{{localize 'KTW'}}">
                {{localize "CHARAbbrev.KTW"}}
            </div>
            <div class="col eight center">
                {{localize "CHARAbbrev.ATFK"}}
            </div>
            <div class="col eight center" title="{{localize 'CHAR.PARRY'}}">
                {{localize "CHARAbbrev.PA"}}
            </div>
        </div>
    </div>
    {{#each actor.combatskills as |item i|}}
    <div class="col two">
        <div class="row-section item skills lineheight" data-item-id="{{item._id}}">
            <div class="col fourty">
                <a class="item-edit">{{item.name}}</a>
            </div>
            <div class="col five center">
                {{localize (concatUp "CHARAbbrev." item.data.guidevalue.value)}}
            </div>

            <div class="col eight center">
                <input class="skill-advances" type="text" data-dtype="{{item.data.talentValue.type}}" value="{{item.data.talentValue.value}}" />
            </div>
            <div class="col eight center">
                <a class="ch-combatskill-attack d20 diet-mu">{{item.data.attack.value}}</a>
            </div>
            <div class="col eight center">
                {{#when item.data.weapontype.value 'eq' 'melee'}} <a class="ch-combatskill-parry d20 diet-in">{{item.data.parry.value}}</a> {{else}}- {{/when}}
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="groupbox">
    <div class="row-section table-title lineheight">
        <div class="col ten"></div>
        <div class="col third">
            {{localize "meleeweapons"}}
            <span class="buttons">
                <a data-char="dodge" class="ch-status" title="{{localize 'dodge'}}"><i class="fas fa-reply"></i></a>
            </span>
        </div>
        <div class="col five center small">
            {{localize "Group"}}
        </div>
        <div class="col ten center small" title="{{localize 'CHAR.ATTACK'}}">
            {{localize "CHARAbbrev.AT"}}
        </div>
        <div class="col ten center small" title="{{localize 'CHAR.PARRY'}}">
            {{localize "CHARAbbrev.PA"}}
        </div>

        <div class="col ten center small">
            {{localize "damage"}}
        </div>
        <div class="col ten center small">
            {{localize "reach"}}
        </div>
    </div>
    <div class="row-section wrap rowtable inventory">
        {{#each actor.wornMeleeWeapons as |item i|}}
        <div class="col item" data-item-id="{{item._id}}">
            <div class="row-section">
                <div class="col ten image" style="background-image: url({{item.img}})">
                </div>
                <div class="col third">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                <div class="col five center small">
                    {{localize item.data.combatskill.value}}
                </div>
                <div class="col ten center">
                    <a class="ch-rollCombat d20 die-attack">{{item.attack}}</a>
                </div>
                <div class="col ten center">
                    <a class="ch-rollCombatParry d20 die-parry">{{item.parry}}</a>
                </div>

                <div class="col ten center">
                    <a class="ch-rollDamage d6 die-damage">{{item.damagedie}}</a><span title="{{localize 'damageOverThreshold'}}">{{item.damageAdd}}</span>
                </div>
                <div class="col ten center small">
                    {{localize (concat "Range-" item.data.reach.value)}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="groupbox">
    <div class="row-section table-title lineheight">
        <div class="col ten"></div>
        <div class="col four">
            {{localize "rangeweapons"}}
        </div>
        <div class="col five center small">
            {{localize "Group"}}
        </div>
        <div class="col ten center small" title="{{localize 'reloadTime'}}">
            {{localize "CHARAbbrev.reloadTime"}}
        </div>
        <div class="col ten center small" title="{{localize 'CHAR:ATTACK'}}">
            {{localize "CHARAbbrev.AT"}}
        </div>
        <div class="col eight center small">
            {{localize "damage"}}
        </div>
        <div class="col ten center small">
            {{localize "reach"}}
        </div>
        <div class="col five center small">
            {{localize "ammunition"}}
        </div>
    </div>
    <div class="row-section wrap rowtable inventory">
        {{#each actor.wornRangedWeapons as |item i|}}
        <div class="col item" data-item-id="{{item._id}}">
            <div class="row-section">
                <div class="col ten image" style="background-image: url({{item.img}})">
                </div>
                <div class="col four">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                <div class="col five center small">
                    {{localize item.data.combatskill.value}}
                </div>
                <div class="col ten center">
                    {{item.data.reloadTime.value}}
                </div>
                <div class="col ten center">
                    <a class="ch-rollCombat d20 die-attack">{{item.attack}}</a>
                </div>
                <div class="col eight center">
                    <a class="ch-rollDamage d6 die-damage">{{item.damagedie}}</a><span title="{{localize 'damageOverThreshold'}}">{{item.damageAdd}}</span>
                </div>
                <div class="col ten center">
                    {{item.data.reach.value}}
                </div>
                <div class="col five center">

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="groupbox">
    <div class="row-section table-title lineheight">
        <div class="col ten"></div>
        <div class="col four">
            {{localize "armor"}}
        </div>
        <div class="col four center small">{{localize "protection"}}</div>
        <div class="col four center small">{{localize "encumbrance"}}</div>
    </div>
    <div class="row-section wrap rowtable inventory">
        {{#each actor.wornArmor as |item i|}}
        <div class="col item" data-item-id="{{item._id}}">
            <div class="row-section">
                <div class="col ten image" style="background-image: url({{item.img}})">
                </div>
                <div class="col four">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                <div class="col four center">
                    {{item.data.protection.value}}
                </div>
                <div class="col four center">
                    {{item.data.encumbrance.value}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="groupbox">
    <div class="row-section">
        <div class="col header-label lineheight">
            {{localize "combatspecialtalents"}}
        </div>
    </div>
    <div class="row-section wrap cards">
        {{#each actor.combatSpecialAbilities as |item i|}}
        <div class="item" data-item-id="{{item._id}}">
            <a class="item-edit rightclick-delete">{{item.name}}</a>
        </div>
        {{/each}}
    </div>

</div>

<div class="row-section">
    <div class="col two">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label lineheight">
                    {{localize "wounds"}}
                </div>
            </div>
            <div class="row-section table-title">
                <div class="col two center small">
                    {{localize "max"}}
                </div>
                <div class="col two center small">
                    {{localize "Current"}}
                </div>
            </div>
            <div class="row-section">
                <div class="col two center small lineheight">
                    {{actor.data.status.wounds.max}}
                </div>
                <div class="col two center small lineheight">
                    <input type="text" name="data.status.wounds.value" data-dtype="{{actor.data.status.wounds.type}}" value="{{actor.data.status.wounds.value}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="col two">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label lineheight">
                    {{localize "statuseffects"}}
                </div>
            </div>
            <div class="row-section">
                <div class="col two very-small">
                    {{localize "condition"}}
                </div>
                <div class="col eight very-small center" title="{{localize 'value'}}">
                    {{localize "ABBR-value"}}
                </div>
                <div class="col eight very-small center" title="{{localize 'Modifiers'}}">
                    {{localize "ABBR-modifiers"}}
                </div>
                <div class="col eight very-small center" title="{{localize 'max'}}">
                    {{localize "Current"}}
                </div>
            </div>
            {{#each data.conditions as |item i|}}
            <div class="row-section lineheight">
                <div class="col two">
                    {{localize (concat "CONDITION." item.label)}}
                </div>
                <div class="col eight center" title="{{localize 'value'}}">
                    {{item.value}}
                </div>
                <div class="col eight center" title="{{localize 'Modifiers'}}">
                    <input name="data.conditions.{{item.label}}.modifier" type="number" value="{{item.modifier}}" data-dtype="Number" />
                </div>
                <div class="col eight center" title="{{localize 'max'}}">
                    {{item.max}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>