{{> systems/dsa5/templates/actors/parts/spells.html}}

{{> systems/dsa5/templates/actors/parts/specblock.html currentCat="magical"}}

<div class="row-section">

    <div class="col ">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "magictricks"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each prepare.magic.magictrick as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                {{/each}}
            </div>

        </div>
        {{> systems/dsa5/templates/actors/parts/magicalSigns.html}}
    </div>
</div>