<div class='tab scrollable {{tabs.magic.cssClass}}' data-tab='magic' data-group='{{tabs.magic.group}}'
    class='tab'>
    {{> systems/dsa5/templates/actors/parts/spells.html}}

    {{> systems/dsa5/templates/actors/parts/specblock.html currentCat="magical"}}

    <div class="row-section">

        <div class="col ">
            <fieldset>
                <legend>{{localize "magictricks"}}</legend>
                <div class="row-section wrap cards">
                    {{#each prepare.magic.magictrick as |item i|}}
                    <div class="item" data-item-id="{{item._id}}">
                        <a data-action="itemEdit">{{item.name}}</a>
                    </div>
                    {{/each}}
                </div>

            </fieldset>
            {{> systems/dsa5/templates/actors/parts/magicalSigns.html}}
        </div>
    </div>
</div>