{{> systems/dsa5/templates/actors/parts/liturgies.html}}

<div class="groupbox">
    <div class="row-section">
        <div class="col header-label lineheight">
            <b>{{localize "clericspecialtalents"}}</b>
        </div>
    </div>
    <div class="row-section wrap cards">
        {{#each prepare.specAbs.clerical as |item i|}}
        <div class="item" data-item-id="{{item._id}}">
            {{#if item.OnUseEffect}}<a data-tooltip="SHEET.onUseEffect" class="onUseItem"><i class="fas fa-dice-six"></i></a>{{/if}}<a class="item-edit">{{item.name}}{{roman item.system.step.value item.system.maxRank.value}}</a>
        </div>
        {{/each}}
    </div>

</div>

<div class="row-section">

    <div class="col ">
        <div class="groupbox">
            <div class="row-section">
                <div class="col header-label lineheight">
                    <b>{{localize "blessings"}}</b>
                </div>
            </div>
            <div class="row-section wrap cards">
                {{#each prepare.magic.blessing as |item i|}}
                <div class="item" data-item-id="{{item._id}}">
                    <a class="item-edit">{{item.name}}</a>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>