{{#if book.id}}
<h2>
    <a class="loadBook">{{book.id}}</a>
</h2>
{{/if}} {{#each chapters as |category i|}}
<b>{{category.name}}</b>
<ul class="toc" data-type="{{category.name}}">
    {{#each category.content as |item i|}}
    <li><a data-id="{{item.id}}" class="{{item.cssClass}} getChapter">{{item.name}}</a>{{#if item.subChapters}}
        <ul>
            {{#each item.subChapters as |item i|}}
            <li class="fas fa-caret-right"><a data-id="{{item}}" class="subChapter">{{item}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </li>
    {{/each}}
</ul>
{{/each}}