<div class="dsa5 chat-card" data-actor-id="{{actorId}}" data-hide={{hideData}}>
    {{> systems/dsa5/templates/chat/roll/test-card.html}}

    <div class="card-content">
        <b>{{localize "damage"}}</b>: {{{diceThingsUp testData.damageeffect}}}
    </div>
    <div class="card-content">
        <b>{{localize "duration"}}</b>: {{testData.duration}}
    </div>
    <div class="card-content">
        <b>{{localize "incubation"}}</b>: {{testData.preData.source.data.incubation.value}}
    </div>
</div>