<div class="dsa5 chat-card" data-actor-id="{{actorId}}" data-hide={{hideData}}>
    {{> systems/dsa5/templates/chat/roll/test-card.html}}

    <div class="card-content">
        <b>{{localize "effect"}}</b>: {{{diceThingsUp testData.effect}}}
    </div>
    <div class="card-content">
        <b>{{localize "start"}}</b>: {{preData.source.system.start.value}}
    </div>
    <div class="card-content">
        <b>{{localize "duration"}}</b>: {{testData.duration}}
    </div>
    {{#if applyEffect}}
    <div class="row-section" style="margin-top:10px">
        <div class="col two center">
            <button class="applyEffect selfButton" data-target="target"
                data-tooltip="TT.applyEffectTargets">{{localize 'ActiveEffects.applyTarget'}}</button>
        </div>
    </div>
    {{/if}}
</div>