<div class="dsa5 chat-card" data-actor-id="{{actorId}}" data-hide={{hideData}}>
    {{> systems/dsa5/templates/chat/roll/test-card.html}} {{#when testData.preData.regenerationFactor 'noteq' '1'}}
    <div class="card-content">
        <b>{{localize "badEnvironment"}}</b>: x 0.5
    </div>
    {{/when}}
    <div class="card-content">
        <b>{{localize "wounds"}}</b>: {{testData.LeP}}
    </div>
    {{#if testData.AsP}}
    <div class="card-content">
        <b>{{localize "astralenergy"}}</b>: {{testData.AsP}}
    </div>
    {{/if}} {{#if testData.KaP}}
    <div class="card-content">
        <b>{{localize "karmaenergy"}}</b>: {{testData.KaP}}
    </div>
    {{/if}}
</div>