<div class="dsa5 chat-card">
    <div>
        <b>{{localize 'ActiveEffects.resistRoll'}}</b>
    </div>
    <div class="row-section">
        <div class="col third attacker"><img src="{{actor.img}}" width="50" height="50"></div>
        <div class="col ten"></div>
        <div class="col sixty" style="margin-top: 10px;">
            <div>
                {{localize 'ActiveEffects.resistPain'}}
            </div>
            <div>
                <b>{{localize 'target'}}</b>: {{actor.name}}
            </div>
        </div>
    </div>
    
    <div class="center">
        <button style="margin-top:10px;" class="resistPain onlyTarget"  data-actor="{{actor.id}}" data-token="{{actor.token.id}}">
            {{localize 'LocalizedIDs.selfControl'}}
        </button>
    </div>
</div>