<div class="dsa5 chat-card" data-actor-id="{{actorId}}" data-hide={{hideData}}>
    {{> systems/dsa5/templates/chat/roll/test-card.html}} {{#if (gt testData.successLevel 0)}}

    <div class="card-content chatModifiers">
        <b>{{localize "effect"}}</b>: ...
        <a class="expand-mods"><i class="fas fa-plus"></i></a>
        <div>
            {{{replaceConditions (diceThingsUp preData.source.data.effect.value)}}}
        </div>
    </div>
    <div class="card-content">
        <b>{{localize "castingTime"}}</b>: {{preData.calculatedSpellModifiers.castingTime}}
    </div>
    <div class="card-content">
        <b>{{localize "duration"}}</b>: {{preData.source.data.duration.value}}
    </div>
    <div class="card-content">
        <b>{{localize "reach"}}</b>: {{preData.calculatedSpellModifiers.reach}}
    </div>
    {{/if}}
    <div class="card-content" title="{{preData.calculatedSpellModifiers.description}}">
        <b>{{localize "cost"}}</b>: {{preData.calculatedSpellModifiers.finalcost}} <span class="costCheck"></span>
    </div>
    {{#if (ne preData.calculatedSpellModifiers.maintainCost '')}}
    <div class="card-content">
        <b>{{localize "maintainCost"}}</b>: {{preData.calculatedSpellModifiers.maintainCost}}
    </div>
    {{/if}} {{#if preData.extensions }}
    <div class="card-content">
        <b>{{localize 'extensions'}}</b>: {{{preData.extensions}}}
    </div>
    {{/if}} {{#if applyEffect}}
    <div class="row-section" style="margin-top:10px">
        <div class="col two center">
            <button class="applyEffect selfButton" data-target="self" title="{{localize 'TT.applyEffectCaster'}}">{{localize 'ActiveEffects.applySelf'}}</button>
        </div>
        <div class="col two center">
            <button class="applyEffect selfButton" data-target="target" title="{{localize 'TT.applyEffectTargets'}}">{{localize 'ActiveEffects.applyTarget'}}</button>
        </div>
    </div>
    {{/if}}
</div>