<div class="form-group tripple">
    <label class="label-text" data-tooltip="ABBR.AoE">{{localize "AoE"}}</label>
    <input class="input-text" type="text" placeholder="{{localize 'gridUnits'}}" name="system.target.value" value="{{system.target.value}}" data-dtype="String" />
    <select name="system.target.type" data-dtype="String">
        {{selectOptions targetTypes selected=system.target.type blank="-"}}
    </select>
</div>
{{#if (eq system.target.type 'line')}}
<div class="form-group">
    <label class="label-text">{{localize "aoewidth"}}</label>
    <input class="input-text" type="text" placeholder="{{localize 'gridUnits'}}" name="system.target.width" value="{{system.target.width}}" data-dtype="String" />
</div>
{{/if}}
{{#if (eq system.target.type 'cone')}}
<div class="form-group">
    <label class="label-text">{{localize "aoeangle"}} °</label>
    <input class="input-text" type="number" name="system.target.angle" value="{{system.target.angle}}" data-dtype="String" />
</div>
{{/if}}