<div class="row-section ">
    <div class="col ten">
        <img src="{{item.img}}" data-edit="img" />
    </div>
    <div class="col ninety item-main">
        <div class="row-section">
            <div class="col four">
                <label class="label-text table-title">{{localize "Category"}}</label>
            </div>
            <div class="col fourty">
                <label>{{itemCategory item.type}}</label>
            </div>
            <div class="col four">
                <label class="label-text table-title">{{localize "quantity"}}</label>
            </div>
            <div class="col fifteen">
                <input class="input-text" type="number" name="system.quantity.value" value="{{system.quantity.value}}" />
            </div>
        </div>
        <div class="row-section">
            <div class="col four">
                <label data-tooltip="UNITS.money" class="label-text table-title">{{localize "price"}}</label>
            </div>
            <div class="col fourty">
                <input data-tooltip="UNITS.money" class="input-text" type="number" name="system.price.value" value="{{system.price.value}}" />
            </div>
            <div class="col four">
                <label data-tooltip="UNITS.weight" class="label-text table-title">{{localize "Weight"}}</label>
            </div>
            <div class="col fifteen">
                <input data-tooltip="UNITS.weight" class="input-text" type="number" name="system.weight.value" value="{{system.weight.value}}" />
            </div>
        </div>
    </div>
</div>