<div class="eqipment">

    <div class="form-group">
        <label class="label-text">{{localize "price"}}: </label>
        <div class="input-box">
            <input class="input-text" type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="form-group">
        <label class="label-text">{{localize "Weight"}}: </label>
        <div class="input-box">
            <input class="input-text" type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="Number" />
        </div>
    </div>
</div>