<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsa5/templates/items/item-header.html}}

    <div class="row-section ">

        <div class="col item-main noequipment" style="margin-bottom: 10px;">
            <div class="row-section">
                <div class="col fourty">
                    <label class="label-text table-title">{{localize "Category"}}</label>
                </div>
                <div class="col sixty">
                    <label>{{localize item.type}}</label>
                </div>
            </div>

        </div>
    </div>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
    </nav>

    <section class="content">
        <div class="tab description active" data-tab="description">
            <div class="row-section">
                <div class="col sixty">
                    {{editor enrichedDescription target="system.description.value" button=true owner=owner editable=editable}}

                </div>
                <div class="col fourty">
                    <img src="{{item.img}}" style="max-width:100%; max-height: 100%;float: left;" data-edit="img" />{{editor enrichedClothing target="system.clothing.value" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        <div class="tab details" data-tab="details">
            <div class="form-group">
                <label class="label-text">{{localize "APValue"}}</label>
                <input class="input-text" type="text" name="system.APValue.value" value="{{system.APValue.value}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "language"}}</label>
                <input class="input-text" type="text" name="system.language.value" value="{{system.language.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "writing"}}</label>
                <input class="input-text" type="text" name="system.writing.value" value="{{system.writing.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "LocalizedIDs.localKnowledge"}}</label>
                <input class="input-text" type="text" name="system.localKnowledge.value" value="{{system.localKnowledge.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "recommendedProfessions"}}</label>
                <input class="input-text" type="text" name="system.suitableProfessions.value" value="{{system.suitableProfessions.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "Socialstate"}}</label>
                <input class="input-text" type="text" name="system.socialstate.value" value="{{system.socialstate.value}}" data-dtype="String" />
            </div>
            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "recommendedAdvantages"}}</label>
                <textarea class="input-text" type="text" name="system.recommendedAdvantages.value" data-dtype="String">{{system.recommendedAdvantages.value}}</textarea>
            </div>
            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "recommendedDisadvantages"}}</label>
                <textarea class="input-text" type="text" name="system.recommendedDisadvantages.value" data-dtype="String">{{system.recommendedDisadvantages.value}}</textarea>
            </div>
            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "notsuitableAdvantages"}}</label>
                <textarea class="input-text" type="text" name="system.notsuitableAdvantages.value" data-dtype="String">{{system.notsuitableAdvantages.value}}</textarea>
            </div>
            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "notsuitableDisadvantages"}}</label>
                <textarea class="input-text" type="text" name="system.notsuitableDisadvantages.value" data-dtype="String">{{system.notsuitableDisadvantages.value}}</textarea>
            </div>
            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "recommendedTalents"}}</label>
                <textarea class="input-text" type="text" name="system.recommendedTalents.value" data-dtype="String">{{system.recommendedTalents.value}}</textarea>
            </div>
            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "notsuitableTalents"}}</label>
                <textarea class="input-text" type="text" name="system.notsuitableTalents.value" data-dtype="String">{{system.notsuitableTalents.value}}</textarea>
            </div>
            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "skills"}}</label>
                <textarea class="input-text" type="text" name="system.skills.value" data-dtype="String">{{system.skills.value}}</textarea>
            </div>
        </div>
    </section>
</form>