<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    <header class="item-header">
        <h1>
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
        </h1>
    </header>

    <img src="{{item.img}}" {{#if showBorder}}class="no-image-border" {{/if}} data-edit="img" />

    <div class="item-details row2">
        <label class="label-text" style="flex-grow: 0; width: 69px;">{{localize "Category"}}</label>
        <div class="input-box category" style="margin-right: 0px; flex-grow: 2; padding-top: 0px; text-align: center;">
            {{localize "ammunition"}}
        </div>
        {{> systems/dsa5/templates/items/item-equipment.html}}
    </div>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
    </nav>
    <div class="sheet-tabs edges left"></div>
    <div class="sheet-tabs edges right"></div>

    <section class="content">

        {{> systems/dsa5/templates/items/item-description.html}}

        <div class="tab details" data-tab="details">

            <div class="form-group">
                <label class="label-text">{{localize "quantity"}}: </label>
                <div class="input-box">
                    <input class="input-text" type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="String" />
                </div>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "ammunitiongroup"}}</label>
                <select name="data.ammunitiongroup.value" data-dtype="{{data.ammunitiongroup.type}}">
                  {{#select data.ammunitiongroup.value}}
                  {{#each ammunitiongroups as |ch char|}}
                  <option value="{{char}}">{{localize ch}}</option>
                  {{/each}}
                  {{/select}}
                </select>
            </div>


        </div>
    </section>
</form>