<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsa5/templates/items/item-header.html}} {{> systems/dsa5/templates/items/item-stat.html}}

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "statuseffects"}}</a>
    </nav>

    <section class="content">

        {{> systems/dsa5/templates/items/item-description.html}}

        <div class="tab details" data-tab="details">
            <div class="form-group">
                <label class="label-text">{{localize "stepValue"}}</label>
                <input class="input-text" type="text" name="system.step.value" value="{{system.step.value}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "incubation"}}</label>
                <input class="input-text" type="text" name="system.incubation.value" value="{{system.incubation.value}}" data-dtype="String" />
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "damage"}}</label>
                <textarea class="input-text" type="text" name="system.damage.value" data-dtype="String">{{system.damage.value}}</textarea>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "duration"}}</label>
                <input class="input-text" type="text" name="system.duration.value" value="{{system.duration.value}}" data-dtype="String" />
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "source"}}</label>
                <textarea class="input-text" type="text" name="system.source.value" data-dtype="String">{{system.source.value}}</textarea>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "treatment"}}</label>
                <textarea class="input-text" type="text" name="system.treatment.value" data-dtype="String">{{system.treatment.value}}</textarea>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "antidot"}}</label>
                <textarea class="input-text" type="text" name="system.antidot.value" data-dtype="String">{{system.antidot.value}}</textarea>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "resistanceModifier"}}</label>
                <select name="system.resistance.value" data-dtype="String">
                    {{selectOptions resistances selected=system.resistance.value localize=true}}
                </select>
            </div>


        </div>
        {{> systems/dsa5/templates/items/item-effects.html}}
    </section>
</form>