<div class="row-section ">
    <div class="col ten">
        <img src="{{item.img}}" {{#if showBorder}}class="no-image-border" {{/if}} data-edit="img" />
    </div>
    <div class="col ninety item-main">
        <div class="row-section">
            <div class="col four">
                <label class="label-text table-title">{{localize "Category"}}</label>
            </div>
            <div class="col fourty">
                <label>{{localize item.type}}</label>
            </div>
            <div class="col four">
                <label class="label-text table-title">{{localize "quantity"}}</label>
            </div>
            <div class="col fifteen">
                <input class="input-text" type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="Number" />

            </div>

        </div>
        <div class="row-section">
            <div class="col four">
                <label title="{{localize 'UNITS.money'}}" class="label-text table-title">{{localize "price"}}</label>
            </div>
            <div class="col fourty">
                <input title="{{localize 'UNITS.money'}}" class="input-text" type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="Number" />
            </div>
            <div class="col four">
                <label title="{{localize 'UNITS.weight'}}" class="label-text table-title">{{localize "Weight"}}</label>
            </div>
            <div class="col fifteen">
                <input title="{{localize 'UNITS.weight'}}" class="input-text" type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="Number" />
            </div>
        </div>
    </div>
</div>