<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    <header class="item-header">
        <h1>
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
        </h1>
    </header>

    <div class="row-section ">

        <div class="col item-main noequipment">
            <div class="row-section">
                <div class="col fourty">
                    <label class="label-text table-title">{{localize "Category"}}</label>
                </div>
                <div class="col sixty">
                    <label>{{localize item.type}}</label>
                </div>
            </div>

        </div>
    </div>

    <div class="row-section">
        <div class="col fourty">
            <img src="{{item.img}}" style="max-width:100%; max-height: 100%;" data-edit="img" />
        </div>
        <div class="col sixty">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
    </div>
    <div class="row-section">
        <div class="col">
            <div class="form-group">
                <label class="label-text">{{localize "APvalue"}}:</label>
                <input class="input-text" type="text" name="data.APValue.value" value="{{data.APValue.value}}" data-dtype="Number" />
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "wounds"}}- {{localize "baseValue"}}: </label>
                <input class="input-text" type="text" name="data.baseValues.wounds.value" value="{{data.baseValues.wounds.value}}" data-dtype="Number" />
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "soulpower"}}- {{localize "baseValue"}}: </label>
                <input class="input-text" type="text" name="data.baseValues.soulpower.value" value="{{data.baseValues.soulpower.value}}" data-dtype="Number" />
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "toughness"}}- {{localize "baseValue"}}: </label>
                <input class="input-text" type="text" name="data.baseValues.toughness.value" value="{{data.baseValues.toughness.value}}" data-dtype="Number" />
            </div>

            <div class="form-group full-height">
                <label class="label-text">{{localize "speed"}}: </label>
                <input class="input-text" type="text" name="data.baseValues.speed.value" value="{{data.baseValues.speed.value}}" data-dtype="Number" />
            </div>
        </div>
    </div>




</form>