<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsa5/templates/items/item-header.html}} {{> systems/dsa5/templates/items/item-stat.html}}


    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a> {{#if isOwned}}<a class="item" data-tab="extensions">{{localize "extensions"}}</a>{{/if}}
        <a class="item" data-tab="effects">{{localize "statuseffects"}}</a>
    </nav>


    <section class="content">

        {{> systems/dsa5/templates/items/item-description.html}} {{> systems/dsa5/templates/items/item-extension.html}}

        <div class="tab details" data-tab="details">

            <div class="form-group">
                <label class="label-text">{{localize "Characteristic"}} 1</label>
                <select name="data.characteristic1.value" data-dtype="String">
                    {{selectOptions characteristics selected=data.characteristic1.value localize=true}}  
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Characteristic"}} 2</label>
                <select name="data.characteristic2.value" data-dtype="String">
                    {{selectOptions characteristics selected=data.characteristic2.value localize=true}}  
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Characteristic"}} 3</label>
                <select name="data.characteristic3.value" data-dtype="String">
                    {{selectOptions characteristics selected=data.characteristic3.value localize=true}}  
                </select>
            </div>

            <div class="form-group tripple">
                <label class="label-text" title="{{localize 'reach'}} ({{localize 'modifyable'}})">{{localize "reach"}} ({{localize 'CHAR.modifyable'}})</label>
                <input class="input-text" type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="String" />
                <select name="data.canChangeRange.value" data-dtype="String">
                    {{#select data.canChangeRange.value}}
                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "duration"}}</label>
                <input class="input-text" type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "targetCategory"}}</label>
                <input class="input-text" type="text" name="data.targetCategory.value" value="{{data.targetCategory.value}}" data-dtype="String" />
            </div>

            <div class="form-group tripple">
                <label class="label-text" title="{{localize 'castingTime'}} ({{localize 'modifyable'}})">{{localize "castingTime"}} ({{localize "CHAR.modifyable"}})</label>
                <input class="input-text" type="text" name="data.castingTime.value" value="{{data.castingTime.value}}" data-dtype="String" />
                <select name="data.canChangeCastingTime.value" data-dtype="String">
                    {{#select data.canChangeCastingTime.value}}
                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group tripple">
                <label class="label-text" title="{{localize 'AsPCost'}} ({{localize 'modifyable'}})">{{localize "CHAR.AsPCost"}} ({{localize "CHAR.modifyable"}})</label>
                <input class="input-text" type="number" name="data.AsPCost.value" value="{{data.AsPCost.value}}" data-dtype="Number" />
                <select name="data.canChangeCost.value" data-dtype="String">
                    {{#select data.canChangeCost.value}}
                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "AsPCostDetail"}}</label>
                <input class="input-text" type="text" name="data.AsPCostDetail.value" value="{{data.AsPCostDetail.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "maintainCost"}}</label>
                <input class="input-text" type="text" name="data.maintainCost.value" value="{{data.maintainCost.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "variableCost"}}</label>
                <select name="data.variableBaseCost" data-dtype="String">
                    {{#select data.variableBaseCost}}
                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "effect"}}</label>
                <textarea class="input-text" type="text" name="data.effect.value" data-dtype="String">{{data.effect.value}}</textarea>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "effectFormula"}}</label>
                <input class="input-text" type="text" name="data.effectFormula.value" value="{{data.effectFormula.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "distribution"}}</label>
                <input class="input-text" type="text" name="data.distribution.value" value="{{data.distribution.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "feature"}}</label>
                <input class="input-text" type="text" name="data.feature" value="{{data.feature}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "resistanceModifier"}}</label>
                <select name="data.resistanceModifier.value" data-dtype="String">
                    {{selectOptions resistances selected=data.resistanceModifier.value localize=true}} 
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "StF"}}</label>
                <select name="data.StF.value" data-dtype="String">
                    {{selectOptions StFs selected=data.StF.value localize=true}} 
                </select>
            </div>
        </div>

        {{> systems/dsa5/templates/items/item-effects.html}}
    </section>
</form>