<div class="form-group tripple">
    <label class="label-text" data-tooltip="ABBR.AoE">{{localize "AoE"}}</label>
    <input class="input-text" type="text" placeholder="{{localize 'gridUnits'}}" name="system.target.value" value="{{system.target.value}}" data-dtype="String" />
    <select name="system.target.type" data-dtype="String">
        <option value="">-</option>
        {{#select system.target.type}}
        {{#each targetTypes as |name key|}}
            <option value="{{key}}">{{localize (concat 'areaTargetTypes.' name)}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{#if (eq system.target.type 'line')}}
<div class="form-group">
    <label class="label-text">{{localize "aoewidth"}}</label>
    <input class="input-text" type="text" placeholder="{{localize 'gridUnits'}}" name="system.target.width" value="{{system.target.width}}" data-dtype="String" />
</div>
{{/if}}