<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsa5/templates/items/item-header.html}} {{> systems/dsa5/templates/items/item-stat.html}}

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "statuseffects"}}</a>
    </nav>


    <section class="content">

        {{> systems/dsa5/templates/items/item-description.html}}

        <div class="tab details" data-tab="details">

            <div class="form-group">
                <label class="label-text">{{localize "APValue"}}</label>
                <input class="input-text" type="text" name="data.APValue.value" value="{{data.APValue.value}}" data-dtype="String" />
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "requirements"}}</label>
                <input class="input-text" type="text" name="data.requirements.value" value="{{data.requirements.value}}" data-dtype="String" />
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Category"}}</label>
                <select name="data.category.value" data-dtype="String">
                    {{selectOptions categories selected=data.category.value localize=true}}  
                </select>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "rule"}}</label>
                <textarea class="input-text" type="text" name="data.rule.value" data-dtype="String">{{data.rule.value}}</textarea>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "maxlevel"}}</label>
                <input class="input-text" type="Number" name="data.maxRank.value" value="{{data.maxRank.value}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "effect"}}</label>
                <input class="input-text" type="text" name="data.effect.value" value="{{data.effect.value}}" data-dtype="String" />
            </div>

            {{#if (eq data.category.value 'pact')}}
            <div class="form-group">
                <label class="label-text">{{localize "distribution"}}</label>
                <input class="input-text" type="text" name="data.distribution" value="{{data.distribution}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "circle"}}</label>
                <input class="input-text" type="number" name="data.step.circle" value="{{data.step.circle}}" data-dtype="Number" />
            </div>
            {{/if}} {{#if (eq data.category.value 'staff')}}
            <div class="form-group">
                <label class="label-text">{{localize "volume"}}</label>
                <input class="input-text" type="number" name="data.volume" value="{{data.volume}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "AsPCost"}}</label>
                <input class="input-text" type="text" name="data.AsPCost" value="{{data.AsPCost}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "feature"}}</label>
                <input class="input-text" type="text" name="data.feature" value="{{data.feature}}" data-dtype="String" />
            </div>

            {{/if}} {{#if (eq data.category.value 'Combat')}}
            <div class="form-group">
                <label class="label-text">{{localize "combatskill"}}</label>
                <input class="input-text" type="text" name="data.list.value" value="{{data.list.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "COMBATSKILLCATEGORY.subcategory"}}</label>
                <select name="data.category.sub" data-dtype="String">
                    {{selectOptions subCategories selected=data.category.sub localize=true}}
                </select>
            </div>
            {{/if}} {{#if isOwned}}
            <div class="form-group">
                <label class="label-text">{{#if canAdvance}}<a class="refund-step"><i class="fas fa-minus"></i></a> {{/if}}{{localize "stepValue"}}{{#if canAdvance}} <a class="advance-step"><i class="fas fa-plus"></i></a>{{/if}}</label>
                <input class="input-text" type="number" name="data.step.value" value="{{data.step.value}}" data-dtype="Number" />
            </div>
            {{/if}}

        </div>

        {{> systems/dsa5/templates/items/item-effects.html}}
    </section>
</form>