<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsa5/templates/items/item-header.html}}
    {{> systems/dsa5/templates/items/item-stat.html}}

    <div class="navWrapper">
        <i class="fas fa-angle-left left-btn"></i>
        <i class="fas fa-angle-right right-btn"></i>
        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item" data-tab="details">{{localize "Details"}}</a> 
        </nav>
    </div>


    <section class="content">

        <div class="tab details" data-tab="details">
            <div class="form-group">
                <label class="label-text">{{localize "skill"}}</label>
                <select class="select2"  name="system.skill" data-dtype="String">
                    {{#select system.skill}}
                    {{#each allSkills as |ch|}}
                    <option value="{{ch}}">{{ch}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "Modifier"}}</label>
                <input class="input-text" type="number" name="system.modifier" value="{{system.modifier}}" data-dtype="Number" />
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CHARAbbrev.QS"}} 1</label>
                {{editor enrichedqs1 target="system.qs1" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CHARAbbrev.QS"}} 2</label>
                {{editor enrichedqs2 target="system.qs2" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CHARAbbrev.QS"}} 3</label>
                {{editor enrichedqs3 target="system.qs3" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CHARAbbrev.QS"}} 4</label>
                {{editor enrichedqs4 target="system.qs4" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CHARAbbrev.QS"}} 5</label>
                {{editor enrichedqs5 target="system.qs5" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CHARAbbrev.QS"}} 6</label>
                {{editor enrichedqs6 target="system.qs6" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <hr style="margin:20px 0px;"/>
            <div class="form-group full-height">
                <label class="label-text">{{localize "Failure"}}</label>
                {{editor enrichedFail target="system.fail" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CriticalFailure"}}</label>
                {{editor enrichedBotch target="system.botch" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "CriticalSuccess"}}</label>
                {{editor enrichedCrit target="system.crit" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
        </div>

    </section>
</form>