<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    <header class="item-header">
        <h1>
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
        </h1>
    </header>

    {{> systems/dsa5/templates/items/item-stat.html}}


    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a> {{#if isOwned}}<a class="item" data-tab="extensions">{{localize "extensions"}}</a>{{/if}}
    </nav>


    <section class="content">

        {{> systems/dsa5/templates/items/item-description.html}} {{#if isOwned}}
        <div class="tab extensions" data-tab="extensions">
            {{#if extensions}} {{#each extensions as |item i|}}
            <div class="groupbox item inventory" data-item-id="{{item._id}}">
                <div class="row-section table-title">
                    <div class="col center">
                        <b>{{item.name}}</b>
                    </div>
                </div>
                <div class="row-section">
                    <div class="col ten image extension">
                    </div>
                    <div class="col eighty">
                        {{{item.data.description.value}}}
                    </div>
                    <div class="col ten very-small">
                        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
            {{/each}} {{else}}
            <p>{{localize "DSAError.NotUnlocked"}}</p>
            {{/if}}
        </div>
        {{/if}}


        <div class="tab details" data-tab="details">

            <div class="form-group">
                <label class="label-text">{{localize "Characteristic"}} 1</label>
                <select name="data.characteristic1.value" data-dtype="String">
                    {{#select data.characteristic1.value}}
                    {{#each characteristics as |ch char|}}
                    <option value="{{char}}">{{localize ch}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Characteristic"}} 2</label>
                <select name="data.characteristic2.value" data-dtype="String">
                    {{#select data.characteristic2.value}}
                    {{#each characteristics as |ch char|}}
                    <option value="{{char}}">{{localize ch}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Characteristic"}} 3</label>
                <select name="data.characteristic3.value" data-dtype="String">
                    {{#select data.characteristic3.value}}
                    {{#each characteristics as |ch char|}}
                    <option value="{{char}}">{{localize ch}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group tripple">
                <label class="label-text" title="{{localize 'reach'}} ({{localize 'modifyable'}})">{{localize "reach"}} ({{localize 'CHAR.modifyable'}}): </label>
                <input class="input-text" type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="String" />
                <select name="data.canChangeRange.value" data-dtype="String">
                    {{#select data.canChangeRange.value}}

                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "duration"}}: </label>
                <input class="input-text" type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "targetCategory"}}: </label>
                <input class="input-text" type="text" name="data.targetCategory.value" value="{{data.targetCategory.value}}" data-dtype="String" />
            </div>

            <div class="form-group tripple">
                <label class="label-text" title="{{localize 'castingTime'}} ({{localize 'modifyable'}})">{{localize "castingTime"}} ({{localize "CHAR.modifyable"}}): </label>
                <input class="input-text" type="text" name="data.castingTime.value" value="{{data.castingTime.value}}" data-dtype="String" />
                <select name="data.canChangeCastingTime.value" data-dtype="String">
                    {{#select data.canChangeCastingTime.value}}

                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group tripple">
                <label class="label-text" title="{{localize 'AsPCost'}} ({{localize 'modifyable'}})">{{localize "CHAR.AsPCost"}} ({{localize "CHAR.modifyable"}}): </label>
                <input class="input-text" type="number" name="data.AsPCost.value" value="{{data.AsPCost.value}}" data-dtype="Number" />
                <select name="data.canChangeCost.value" data-dtype="String">
                    {{#select data.canChangeCost.value}}

                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "permanentCost"}}: </label>
                <input class="input-text" type="text" name="data.permanentCost.value" value="{{data.permanentCost.value}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "AsPCostDetail"}}: </label>
                <input class="input-text" type="text" name="data.AsPCostDetail.value" value="{{data.AsPCostDetail.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "maintainCost"}}: </label>
                <input class="input-text" type="text" name="data.maintainCost.value" value="{{data.maintainCost.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "variableCost"}}: </label>
                <select name="data.variableBaseCost" data-dtype="String">
                    {{#select data.variableBaseCost}}
    
                    <option value="true">{{localize "yes"}}</option>
                    <option value="false">{{localize "no"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "effect"}}: </label>
                <textarea class="input-text" type="text" name="data.effect.value" data-dtype="String">{{data.effect.value}}</textarea>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "effectFormula"}}: </label>
                <input class="input-text" type="text" name="data.effectFormula.value" value="{{data.effectFormula.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "distribution"}}: </label>
                <input class="input-text" type="text" name="data.distribution.value" value="{{data.distribution.value}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "feature"}}: </label>
                <input class="input-text" type="text" name="data.feature" value="{{data.feature}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "resistanceModifier"}}</label>
                <select name="data.resistanceModifier.value" data-dtype="String">
                    {{#select data.resistanceModifier.value}}
                    {{#each resistances as |type sktype|}}
                    <option value="{{sktype}}">{{localize type}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "StF"}}</label>
                <select name="data.StF.value" data-dtype="String">
                    {{#select data.StF.value}}
                    {{#each StFs as |type sktype|}}
                    <option value="{{sktype}}">{{localize type}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </section>
</form>