<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsa5/templates/items/item-header.html}}

    <div class="row-section ">

        <div class="col item-main noequipment" style="margin-bottom: 10px;">
            <div class="row-section">
                <div class="col fourty">
                    <label class="label-text table-title">{{localize "Category"}}</label>
                </div>
                <div class="col sixty">
                    <label>{{localize item.type}}</label>
                </div>
            </div>

        </div>
    </div>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
    </nav>


    <section class="content career">

        <div class="tab description active" data-tab="description">
            <div class="row-section">
                <div class="col two">
                    {{editor enrichedDescription target="system.description.value" button=true owner=owner editable=editable}}
                </div>
                <div class="col two">
                    <img src="{{item.img}}" class="fullImg" data-edit="img" /> {{editor enrichedClothing target="system.clothing.value" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        <div class="tab details" data-tab="details">

            <div class="form-group">
                <label class="label-text">{{localize "APValue"}}</label>
                <input class="input-text" type="text" name="system.APValue.value" value="{{system.APValue.value}}" data-dtype="Number" />
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "languagePoints"}}</label>
                <input class="input-text" type="text" name="system.languagePoints.value" value="{{system.languagePoints.value}}" data-dtype="Number" />
            </div>

            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "requirements"}}</label>
                <textarea class="input-text" type="text" name="system.requirements.value" data-dtype="String">{{system.requirements.value}}</textarea>
            </div>

            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "recommendedAdvantages"}}</label>
                <textarea class="input-text" type="text" name="system.recommendedAdvantages.value" data-dtype="String">{{system.recommendedAdvantages.value}}</textarea>
            </div>

            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "recommendedDisadvantages"}}</label>
                <textarea class="input-text" type="text" name="system.recommendedDisadvantages.value" data-dtype="String">{{system.recommendedDisadvantages.value}}</textarea>
            </div>

            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "notsuitableAdvantages"}}</label>
                <textarea class="input-text" type="text" name="system.notsuitableAdvantages.value" data-dtype="String">{{system.notsuitableAdvantages.value}}</textarea>
            </div>

            <div class="form-group full-height" data-tooltip="TT.commaSeparated">
                <label class="label-text">{{localize "notsuitableDisadvantages"}}</label>
                <textarea class="input-text" type="text" name="system.notsuitableDisadvantages.value" data-dtype="String">{{system.notsuitableDisadvantages.value}}</textarea>
            </div>

            <div class="form-group full-height" data-tooltip="TT.careerSkills">
                <label class="label-text">{{localize "skills"}}</label>
                <textarea class="input-text" type="text" name="system.skills.value" data-dtype="String">{{system.skills.value}}</textarea>
            </div>

            <div class="form-group full-height" data-tooltip="TT.careerSkills">
                <label class="label-text">{{localize "combatskill"}}</label>
                <textarea class="input-text" type="text" name="system.combatSkills.value" data-dtype="String">{{system.combatSkills.value}}</textarea>
            </div>

            <div class="form-group full-height" data-tooltip="TT.careerSkills">
                <label class="label-text">{{localize "specialAbilities"}}</label>
                <textarea class="input-text" type="text" name="system.specialAbilities.value" data-dtype="String">{{system.specialAbilities.value}}</textarea>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "mageLevel"}}</label>
                <select name="system.mageLevel.value" data-dtype="String">
                    {{selectOptions mageLevels selected=system.mageLevel.value localize=true}}  
                </select>
            </div>
            {{#if (ne system.mageLevel.value "mundane")}}
            <div class="form-group">
                <label class="label-text">{{localize "guidevalue"}}</label>
                <select name="system.guidevalue.value" data-dtype="String">
                    {{selectOptions guidevalues selected=system.guidevalue.value localize=true}}  
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "energyfactor"}}</label>
                <input class="input-text" type="text" name="system.guidevalue.factor" value="{{system.guidevalue.factor}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "tradition"}}</label>
                <input class="input-text" type="text" name="system.tradition.value" value="{{system.tradition.value}}" data-dtype="String" />
            </div>

            <div class="form-group">
                <label class="label-text">{{#if (eq system.mageLevel.value 'clerical')}}{{localize "aspect"}}{{else}}{{localize "feature"}}{{/if}}</label>
                <input class="input-text" type="text" name="system.feature.value" value="{{system.feature.value}}" data-dtype="String" />
            </div>
            {{#if (eq system.mageLevel.value 'clerical')}}
            <div class="form-group full-height">
                <label class="label-text">{{localize "happyTalents"}}</label>
                <textarea class="input-text" type="text" name="system.happyTalents.value" data-dtype="String">{{system.happyTalents.value}}</textarea>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "liturgies"}}</label>
                <textarea class="input-text" type="text" name="system.liturgies.value" data-dtype="String">{{system.liturgies.value}}</textarea>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "blessings"}}</label>
                <textarea class="input-text" type="text" name="system.blessings.value" data-dtype="String">{{system.blessings.value}}</textarea>
            </div>
            {{/if}} {{#if (eq system.mageLevel.value 'magical')}}
            <div class="form-group full-height">
                <label class="label-text">{{localize "spells"}}</label>
                <textarea class="input-text" type="text" name="system.spells.value" data-dtype="String">{{system.spells.value}}</textarea>
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "magictricks"}}</label>
                <textarea class="input-text" type="text" name="system.spelltricks.value" data-dtype="String">{{system.spelltricks.value}}</textarea>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "spelltrickCount"}}</label>
                <input class="input-text" type="text" name="system.spelltrickCount.value" value="{{system.spelltrickCount.value}}" data-dtype="Number" />
            </div>
            {{/if}} {{/if}}


        </div>
    </section>
</form>