<form class="dsa5 item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsa5/templates/items/item-header.html}}
    <div class="row-section ">
        <div class="col ten">
            <img src="{{item.img}}" data-edit="img" />
        </div>
        <div class="col ninety item-main">
            <div class="row-section">
                <div class="col four">
                    <label class="label-text table-title">{{localize "Category"}}</label>
                </div>
                <div class="col fourty">
                    <label>{{localize item.type}}</label>
                </div>
                <div class="col four">
                    <label class="label-text table-title">{{localize "quantity"}}</label>
                </div>
                <div class="col fifteen">
                    <input class="input-text" type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="Number" />

                </div>

            </div>
            <div class="row-section">
                <div class="col four">
                    <label data-tooltip="{{localize 'UNITS.money'}}" class="label-text table-title">{{localize "price"}}</label>
                </div>
                <div class="col fifteen">
                    <input data-tooltip="{{localize 'UNITS.money'}}" class="input-text" type="text" name="system.price.raw" value="{{system.price.raw}}" data-dtype="Number" />
                </div>
                <div class="col ten lineheight center">
                    /
                </div>
                <div class="col fifteen">
                    <input data-tooltip="{{localize 'UNITS.money'}}" class="input-text" type="text" name="system.price.value" value="{{system.price.value}}" data-dtype="Number" />
                </div>

                <div class="col four">
                    <label data-tooltip="{{localize 'UNITS.weight'}}" class="label-text table-title">{{localize "Weight"}}</label>
                </div>
                <div class="col fifteen">
                    <input data-tooltip="{{localize 'UNITS.weight'}}" class="input-text" type="text" name="system.weight.value" value="{{system.weight.value}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </div>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
    </nav>

    <section class="content">
        {{> systems/dsa5/templates/items/item-description.html}}

        <div class="tab details" data-tab="details">
            <div class="center">
                {{#each attributes}}
                <label class="plantContainer {{this.name}}" data-tooltip="{{localize (concat 'PLANT.' this.name)}}">
                    <input type="checkbox" name="system.planttype.{{this.name}}" value="true" data-dtype="Boolean" {{checked this.checked}}/>
                    <span></span>
                </label> {{/each}}

            </div>

            {{#if isGM}}
                {{{enrichedInformation}}}
            {{/if}}

            <div class="form-group">
                <label class="label-text">{{localize "PLANT.landscape"}}</label>
                <input class="input-text" type="text" name="system.location.landscape" value="{{system.location.landscape}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "PLANT.region"}}</label>
                <input class="input-text" type="text" name="system.location.region" value="{{system.location.region}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "PLANT.search"}}</label>
                <input class="input-text" type="text" name="system.difficulty.search" value="{{system.difficulty.search}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "PLANT.identify"}}</label>
                <input class="input-text" type="text" name="system.difficulty.identify" value="{{system.difficulty.identify}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "PLANT.usages"}}</label>
                <input class="input-text" type="text" name="system.usages" value="{{system.usages}}" data-dtype="String" />
            </div>

            <div class="form-group full-height">
                <label class="label-text">{{localize "effect"}}</label> {{editor enrichedEffect target="system.effect" button=true owner=owner editable=editable}}
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "PLANT.recipes"}}</label> {{editor enrichedRecipes target="system.recipes" button=true owner=owner editable=editable}}
            </div>
            <div class="form-group">
                <b class="label-text">{{localize "PLANT.availability"}}</b>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.highNorth"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.highNorth" value="{{system.availability.highNorth}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.highNorth}}</label>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.grasLands"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.grasLands" value="{{system.availability.grasLands}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.grasLands}}</label>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.swamps"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.swamps" value="{{system.availability.swamps}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.swamps}}</label>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.woods"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.woods" value="{{system.availability.woods}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.woods}}</label>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.jungle"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.jungle" value="{{system.availability.jungle}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.jungle}}</label>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.mountains"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.mountains" value="{{system.availability.mountains}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.mountains}}</label>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.desert"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.desert" value="{{system.availability.desert}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.desert}}</label>
            </div>
            <div class="form-group doubleInput">
                <label class="label-text">{{localize "PLANT.maraskan"}}</label>
                <input class="input-text" type="range" dtype="number" name="system.availability.maraskan" value="{{system.availability.maraskan}}" min="0" max="5" />
                <label class="input-text">{{plantify system.availability.maraskan}}</label>
            </div>
        </div>

    </section>
</form>