<div class="tab description active" data-tab="description">
    <div>
        {{editor enrichedDescription target="system.description.value" button=true owner=owner editable=editable}} 
    </div>
    {{#if isGM}}
    <div class="groupbox">
        <div class="row-section table-title lineheight">
            <div class="col col90">
                {{localize "GM Notes"}}
            </div>
            <div class="col ten center">
                <i class="fas fa-mask" data-tooltip="{{localize 'TT.onlyGM'}}"></i>
            </div>
        </div>
        <div style="min-height: 200px;">
            {{editor enrichedGmdescription target="system.gmdescription.value" button=true owner=owner editable=editable}} 
        </div>
    </div>
    {{/if}}
</div>