<div class="row-section ">
    <div class="col ten">
        <img src="{{item.img}}" {{#if showBorder}}class="no-image-border" {{/if}} data-edit="img" />
    </div>
    <div class="col ninety item-main noequipment">
        <div class="row-section">
            <div class="col four">
                <label class="label-text table-title">{{localize "Category"}}</label>
            </div>
            <div class="col eighty">
                <label>{{localize item.type}}</label>
            </div>
        </div>

    </div>
</div>