<div class="tab effects" data-tab="effects">

    <div class="row-section wrap">

        <div class="col row-section skills table-title">
            <div class="col ten">

            </div>
            <div class="col two">
                {{localize "condition"}}
            </div>

            <div class="col ten center">
                {{localize "ABBR.modifiers"}}
            </div>
            <div class="col ten center" data-tooltip="value">
                {{localize "ABBR.value"}}
            </div>
            <div class="col five right">
                <a class="status-add" data-tooltip="CONDITION.add"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        {{#each conditions as |item i|}}
        <div class="row-section col skills statusEffect" data-id="{{item.id}}">
            <div class="col ten">
                {{#if item.disabled}}
                <img style="opacity:0.5;" src="{{item.icon}}" /> {{else}}
                <img src="{{item.icon}}" /> {{/if}}
            </div>
            <div class="col two">
                <a class="condition-show" data-id="{{item.id}}">{{localize item.label}}</a>
            </div>
            <div class="col ten center">
                {{#if item.editable}}{{#unless item.boolean}}<a class="condition-value">{{item.manual}}</a>{{/unless}}{{/if}}
            </div>
            <div class="col ten center" data-tooltip="value">
                <span>{{item.value}}</span>
            </div>
            <div class="col five right">
                <a class="condition-edit" data-id="{{item.id}}"><i class="fa fa-edit"></i></a> {{#if item.disabled}}
                <a class="condition-toggle" data-tooltip="SHEET.activate"><i class="far fa-circle"></i></a> {{else}}
                <a class="condition-toggle" data-tooltip="SHEET.deactivate"><i class="far fa-check-circle"></i></a> {{/if}}
            </div>
        </div>
        {{/each}} {{#each transferedConditions as |item i|}}
        <div class="row-section col skills statusEffect" data-id="{{item.id}}">
            <div class="col ten">
                {{#if item.disabled}}
                <img style="opacity:0.5;" src="{{item.icon}}" /> {{else}}
                <img src="{{item.icon}}" /> {{/if}}
            </div>
            <div class="col two">
                <a class="condition-show" data-id="{{item.id}}">{{localize item.label}}</a>
            </div>
            <div class="col ten center">
                {{#if item.editable}}{{#unless item.boolean}}<a class="condition-value">{{item.manual}}</a>{{/unless}}{{/if}}
            </div>
            <div class="col ten center" data-tooltip="value">
                <span>{{item.value}}</span>
            </div>
            <div class="col five right">
                <a class="condition-edit" data-id="{{item.id}}"><i class="fa fa-edit"></i></a> {{#if item.disabled}}
                <a class="condition-toggle" data-tooltip="SHEET.activate"><i class="far fa-circle"></i></a> {{else}}
                <a class="condition-toggle" data-tooltip="SHEET.deactivate"><i class="far fa-check-circle"></i></a> {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    {{#if canOnUseEffect}}

    <div class="form-group full-height" style="margin-top:40px;">
        <label class="label-text">{{localize 'ActiveEffects.advancedFunctions.onUseEffect'}}</label>
        <textarea class="input-text" rows="10" type="text" data-dtype="String" name="flags.dsa5.onUseEffect" placeholder="{{localize 'ActiveEffects.placeholder.onUseEffect'}}">{{flags.dsa5.onUseEffect}}</textarea>
    </div>

    {{/if}}
</div>