.dsa5 .unified-fate-dialog {
    .dsa-fate-header {
        width: 100%;
    }

    .dsa-fate-title {
        font-weight: bold;
        font-size: 1.1rem;
    }

    .dsa-fate-pools {
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .dsa-fate-pool {
        padding: 5px 15px;
        align-items: center;
        transition: background-color 0.2s;
        background-color: transparent;
    }

    .dsa-fate-pool-border {
        border-right: 1px solid var(--color-border-dark);
    }

    .dsa-fate-pool-active {
        background-color: var(--oddColor);
        border-radius: 8px;
    }

    .dsa-fate-pool-img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-bottom: 5px;
        border: 1px solid var(--color-border-dark);
        cursor: pointer;
    }

    .dsa-fate-pool-hint {
        font-size: 0.95em;
        font-style: italic;
        color: var(--color-text-dark-secondary);
    }
}
