:root {
  --app-height: 100vh;
}

body {
  height: var(--app-height);
}

hr {
  min-height: 2px;
}

/*foundry13*/
.dsa5 {
  prose-mirror,
  .prosemirror {
    position: relative;
    border-radius: 4px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);

      button.toggle {
        opacity: 1;
      }
    }

    button.toggle {
      opacity: 0;
      position: absolute;
      top: 5px;
      right: 5px;
      height: 32px;
      width: 32px;
    }

    .editor-content {
      position: unset;
    }
  }
}

#pause.dsa5Pause {
  top: calc(57vh);
}

// fixes tooltip wiggling
/*#interface {
  //min-width: 100vw;
  min-width: calc(100% - var(--av-width));
}*/

/* Fixes for Foundry 13 */
