#hotbar.hotbarV4 {
    --hotbar-size: 90px;
    --hotbar-width: 600px;
    --base-bar-height: 45px;
    --border-radius: 10px;
    --actorSize: 150px;
    --border-color: #000;
    --hover-color: orangered;
    --active-color: darkgreen;
    --shadow-inset: inset 0 0 5px #636363;
    --bg-transparent: rgba(0, 0, 0, 0.5);
    --button-padding: 80px;
    --text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    margin-bottom: 0;
    min-height: 140px;
    pointer-events: all;


    .sections {
        max-height: var(--hotbar-size);
        height: var(--hotbar-size);
        background-color: var(--bg-transparent);
        width: calc(var(--hotbar-width) - var(--button-padding));
    }

    .actorPart {
        --color-frame: #3f3128;
        --ressource-color: #FF9900;
        --text-color: #cfbea2;

        pointer-events: all;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;

        .hotbar-avatar-container {
            position: relative;
            min-width: 180px;
            align-items: center;
            justify-content: center;
        }

        .hotbar-avatar {
            position: relative;
            z-index: 1;
            width: 100px;
            flex: 0 0 100px;
            min-width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
            background: rgba(28, 26, 26, 0.5);
            pointer-events: none;

            &.myRound {
                border-color: darkred;
            }
        }

        button {
            border-color: var(--color-frame);
            background: rgba(28, 26, 26, 0.5);
            color: var(--text-color);

            &:hover {
                border-color: darkred;
                box-shadow: 0 0 10px darkred;
            }
        }


        .resources {
            position: relative;
            align-items: center;
            justify-content: center;
            top: 10px;
            gap: 40px;

            z-index: 1;

            div {
                border: 2px solid var(--color-frame);
                border-radius: 7px;
                padding: 2px;
                color: white;
            }
        }

        .dsa-indicator,
        .dsa-indicator i:before {
            text-align: center;
            text-shadow:
                -1px -1px 0 var(--color-frame),
                1px -1px 0 var(--color-frame),
                -1px 1px 0 var(--color-frame),
                1px 1px 0 var(--color-frame);
        }

        .quickbuttons {
            align-items: center;
            justify-content: center;
            margin-top: -10px;
            position: relative;
            z-index: 1;
        }

        .weapon {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid var(--color-frame);
            background: rgba(28, 26, 26, 0.8);
            cursor: var(--cursor-pointer);
            color: var(--text-color);
            position: absolute;
            z-index: 2;

            &:hover {
                border-color: darkred;
                box-shadow: 0 0 10px darkred;
            }

            img {
                border-radius: 50%;
                object-fit: contain;
            }
        }
    }

    .categoryFilters {
        height: 30px;
    }

    .actorEffects {
        align-items: flex-end;
    }

    .function {
        position: relative;
        color: white;
        &.coinIcon:before {
            filter: invert(1);
        }
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li .fa {
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    }

    .actorEffect {
        align-self: flex-end;

        &:first-child {
            margin-left: auto;
        }

        div {
            width: 28px;
            height: 28px;
            background-size: contain;
        }
    }

    .categoryFilter {
        overflow: hidden;

        &:first-child {
            border-top-left-radius: var(--border-radius);
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
        }
    }

    .hotbarv4-hotbar-inner {
        width: var(--hotbar-width);
        max-width: var(--hotbar-width);
        gap: 0;

        &.withActor .sections {
            width: calc(var(--hotbar-width) - var(--actorSize) - var(--button-padding));
        }

    }

    .actorEffect,
    .categoryFilter {
        flex: 0 0 30px;
        border: 1px solid var(--border-color);
        box-shadow: var(--shadow-inset);
        height: 30px;
        width: 30px;
        cursor: pointer;
        background: var(--bg-transparent) no-repeat center / cover;
        line-height: 30px;
        text-align: center;
        color: var(--color-text-light-heading);
        transition: border-color 0.15s ease-in-out;

        &.active {
            border-color: var(--active-color);
        }

        &:hover {
            border-color: var(--hover-color);
        }

        div {
            background-size: cover;
            height: 100%;
            width: 100%;
        }
    }

    .hotbar-controls {
        gap: 0;
        flex-wrap: nowrap;
    }

    .effect div {
        color: black;
        font-size: 24px;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }

    .itdarkness {
        line-height: 0;
    }

    .longLayout .hSection li {
        flex: 0 0 var(--hotbar-size);
        text-align: center;
        max-width: var(--hotbar-size);

        div {
            display: none;
        }

        .nameContent {
            line-height: 45px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            color: black;
        }
    }

    .hSection {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        display: flex;
        flex: 1 0 0;
        gap: 0;
        height: calc(var(--base-bar-height) * 2);
        max-height: calc(var(--base-bar-height) * 2);
        transition: all 0.15s ease-in-out;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        min-width: 0;
        flex-wrap: wrap;
        scrollbar-gutter: stable;

        &.dsahidden {
            display: none;
        }

        &.collapsedKeydown,
        &.collapsed {
            width: 0;
            flex: 0;
        }

        input {
            height: 100%;
            display: block;
            width: 100%;
            margin: 0;
            float: left;
            text-align: center;
            font-size: 20px;
            color: white;
        }

        .nameContent {
            display: none;
            color: white;
        }

        .skillgm,
        .skill {
            .nameContent {
                color: black;
            }

            $skill-colors: (
                body: #4f6d65,
                social: #85302e,
                knowledge: #4b6585,
                trade: #cda25e,
                nature: #535829
            );

        @each $type, $color in $skill-colors {
            &.#{$type} {
                background: linear-gradient(90deg, $color 0%, #fff 100%);
                box-shadow: none;
            }
        }
    }

    >li {
        width: var(--base-bar-height);
        height: var(--base-bar-height);
        border: 1px solid var(--border-color);
        background: var(--bg-transparent) no-repeat center / cover;
        pointer-events: all;
        box-shadow: var(--shadow-inset);
        position: relative;
        box-sizing: border-box;
        scroll-snap-align: start;
        transition: border-color 0.15s ease-in-out;

        &.unequipped {
            background-color: var(--active-color);
            box-shadow: inset 0 0 25px #000;
            filter: grayscale(100%);
        }

        &:hover {
            border-color: var(--hover-color);
        }

        div {
            background-size: cover;
            height: 100%;
            width: 100%;
            position: absolute;
            color: #fff;
            text-shadow: var(--text-shadow);
            transition: transform 0.15s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

#macro-list {
    border: none;
}
}

@media (max-width: 1120px) {
    #DSAHotbarV4.hotbarV4 {
        height: var(--hotbar-height);
    }
}