.dsa5-immersive {
    .tokenQuickHot li {
        box-shadow: inset 0px 0px 5px #403014;
        background-image: url('../../icons/backgrounds/macrobg.webp');

        input { 
            color: black;
        }
    }
    .sidebar-tab .directory-list .directory-item {
        &.collapsed {
          color: white;
          h3 {
            color: white;
          }
        }
      
        h3 {
          color: black;
        }
      }

    #sidebar-tabs {
        border-bottom: 1px solid black;
        box-shadow: 0 0 10px black;
        background-color: #100d087a;
    }

    .chat-message {
        background:none;
    }

    .chat-message .message-header {
        padding: 10px 5px;
        background-image: url('../../icons/backgrounds/kapitelstart.webp');
        background-size: 112% 110%;
        background-repeat: no-repeat;

        /*background-position: -20px -5px;*/
        background-position: 67% -5px;
        color: #191815;
    }

    .sidebar-popout .chat-message,
    #sidebar .chat-message {
        padding: 8px 15px 15px 15px;
        padding-left: 18px;
        margin-bottom: 8px;

        border-image: url('../../icons/backgrounds/chatpaper.webp');
        border-image-width: 30px;
        border-image-slice: 50 50 fill;
        border-image-repeat: round;
    }

    .app.sidebar-popout .window-content {
        color: rgb(51, 51, 51);
    }

    .sidebar-popout .dice-tray input[type="text"],
    #sidebar .dice-tray input[type="text"] {
        color: black;
    }

    .compendium-footer .source{
        color: white;
    }

    .window-app {
        &.actor .window-content {
            box-shadow: 0 0 20px #000;
        }

        &.image-popout .window-content {
            background: url('../../icons/backgrounds/sheet2.webp') no-repeat;
            background-position: center;
            background-repeat: repeat-y;
            background-size: 101% 1400px;
        }

        .window-content {
            background: url('../../icons/backgrounds/sheet2.webp') no-repeat;
            background-position: center;
            background-repeat: repeat-y;
            background-size: 101% 1400px;
        }

        &.dsajournal .window-content,
        &.bookWizardsheet .window-content {
            background-image: url('../../icons/backgrounds/journalentry_v45.webp');
            background-size: 97% 1000px;
            background-position: center;
            background-repeat: repeat-y;

            a.content-link,
            a.inline-roll {
                border: none;
                color: #b93d00;
                font-weight: bold;
                background: none;

                i {
                    color: #b93d00;
                }
            }
        }

        &.dsajournal .window-content {            
            padding: 0 40px;            
        }

        &.bookWizardsheet,
        &.dsajournal .window-content{
            .video-container {
                position: relative;
                width: 100%;
                padding-bottom: 56.25%;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 0;
                }
            }
        }

        &.dialog .window-content {
            padding-top: 14px;
            padding-bottom: 14px;
        }

        &.npc-sheet .window-header,
        &.character-sheet .window-header,
        &.item .window-header {
            background-image: url('../../icons/backgrounds/sidebar-top.webp');
            border: none;
            top: 2px;
        }

        &.npc-sheet:not(.monarch):after,
        &.character-sheet:not(.monarch):after,
        &.item:not(.monarch):after {
            background-image: url('../../icons/backgrounds/sidebar-bot.webp');
            bottom: 2px;
            content: '';
        }

        background: none;
        box-shadow: none;

        &:not(.monarch) .window-header,
        &:after {
            background-repeat: no-repeat;
            position: relative;
            min-height: 40px;
            z-index: 1;
            height: 40px;
            width: 100%;
            background-size: 100% 40px;
        }

        &.creature-sheet .window-content {
            box-shadow: none;
        }

        &.monarch {

            .window-header,
            &:after {
                background-image: none;
            }
        }

        .window-header {
            background-image: url('../../icons/backgrounds/blackhat.webp');
            top: 7px;
            border: none;
        }

        &:not(.monarch):after {
            background-image: url('../../icons/backgrounds/blackbook.webp');
            bottom: 12px;
            content: '';
        }

        &.creature-sheet:after {
            background-image: url('../../icons/backgrounds/blackcreaturebot.webp');
        }

        &.masterMenu:after {
            background-image: url('../../icons/backgrounds/masterborder.webp');
        }

        &.creature-sheet .window-resizable-handle {
            bottom: 18px;
        }

        .window-header {

            .aa-item-settings,
            [id^="popout_"] {
                width: 15px;
                height: 15px;
                margin-top: 10px;
            }
        }

        &:not(.monarch) .window-header>a {
            width: 15px;
            height: 15px;
            margin-top: 10px;

            i {
                width: 22px;
                border: 1px solid #111;
                padding: 3px;
                background-color: #444;
                text-align: center;
                border-radius: 100%;
                color: white;
            }
        }

        .aa-item-settings i,
        .window-header [id^="popout_"] i {
            width: 22px;
            border: 1px solid #111;
            padding: 3px;
            background-color: #444;
            text-align: center;
            border-radius: 100%;
            color: white;
        }

        .window-resizable-handle {
            z-index: 2;
            bottom: 11px;
            right: 25px;
        }

        .window-header .window-title {
            text-align: center;
            margin-left: 15%;
            margin-top: 5px;
            color: white;
            font-family: var(--boldFont);
            font-weight: bold;
            font-family: 'GentiumBasic-Bold';
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
        }

        &.npc-sheet .window-header .window-title,
        &.character-sheet .window-header .window-title {
            margin-top: 10px;
            color: black;
            text-shadow: 1px 1px white;
        }

        .header-button.close {
            margin-right: 25px;
        }

        &.actor .window-content,
        &.item .window-content {
            margin-left: 15px;
            margin-right: 15px;
        }

        &.dsa5Decent:after {
            background: none;
            margin: 0;
            padding: 0;
            overflow: visible;
        }

        &.initTracker {

            &::after,
            .window-content {
                background: none;
                margin: 0;
                padding: 0;
                overflow: visible;
            }
        }

        &.tokenQuickHot {

            &::after,
            .window-content {
                background: none;
                margin: 0;
                padding: 0;
                overflow: visible;
            }
        }

        &.initTracker::after,
        &.tokenQuickHot::after {
            content: none;
        }

        &.dsa5Decent {
            .window-content, .window-header {
              background: rgba(0, 0, 0, 0.5);
              padding: 0;
              position: unset;
              color: white;
            }
        
            .window-content li {
              background: rgba(255, 255, 255, 0.2);
        
              &:hover {
                background: rgba(255, 255, 255, 0.5);
              }
            }
            &:after {
                background: none;
                margin: 0;
                padding: 0;
                overflow: visible;
              }
          }
    }

    .app.sidebar-popout .window-content {
        background: url('../../icons/backgrounds/sheet2.webp') no-repeat;
        background-position: center;
        background-repeat: repeat-y;
        background-size: 101% 1400px;
    }

    .character-sheet form {
        border-color: black;
        border-style: double;
        border-width: 10px;
        border-image: url('../../icons/backgrounds/actor.webp') 27 28 28 28;
        padding: 4px;
        margin: 0px;
    }

    #settings .fshopButton div {
        display: inline-block;
        background-image: url("../../lazy/patchimages/UlissesDigital.png");
        background-size: contain;
        width: 20px;
        height: 19px;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 5px;
    }

    #sidebar {
        border: none;
        margin: 0px;
        height: 100vh;

        .sidebar-tab .folder.collapsed .folder-header a i {
            color: rgb(216, 212, 212);
        }

        .playlists-sidebar .sound-control {
            color: rgb(59, 59, 59);
        }
        .playlists-sidebar .sound-control.inactive i {
            color: rgb(121, 115, 115);
        }

        .sidebar-tab.playlists-sidebar a.sound-control[data-action="sound-stop"],
        .sidebar-tab.playlists-sidebar .folder a.sound-control[data-action="playlist-stop"] i,
        .sidebar-tab.playlists-sidebar .folder .folder-header a.sound-control[data-action="playlist-stop"] i {
            color: var(--color-text-hyperlink);
        }

        button.fshopButton {
            background: rgb(0, 111, 61);
            background: linear-gradient(90deg, rgba(0, 38, 13, 1) 0%, rgba(0, 111, 61, 1) 100%);
            position: relative;
        }

        &.collapsed:before {
            content: none;
        }

        .directory-list .documentName,
        .playlist.now-playing,
        .directory-list .directory-item.compendium,
        .directory-list .directory-item.document {
            background-color: var(--sheet-bg);
            margin: 3px;
            border: 1px solid var(--sheet-border);
            border-radius: 5px;
            color: black;
            margin-left: 10px;
        }

        .sidebar-tab {
            color: #555;

            a {
                                
                &.inactive i {
                    color: rgb(172, 172, 172);
                }
            }

            .jump-to-bottom{
                color: white;
                i { color: white; }
            }
        }

        .global-control {
            margin-left: 10px;
            .playlist-header{
                color: white;
            }            
        }

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -13px;
            right: 0;
            content: '';
            background-image: url('../../icons/backgrounds/menu.webp');
            background-repeat: repeat-y;
            background-size: 100%;
            z-index: -1;
        }
    }

    .dsa5.item {
        .item-header {
            background-image: url('../../icons/backgrounds/kapitelstart.webp');
        }

        &.minimized .window-header .window-title {
            color: black;
        }

        .window-header .window-title {
            color: transparent;
            text-shadow: none;
        }
    }

    .sidebar-popout {
        color: #555;

        a {
            i {
                color: #555;
            }

            &.inactive i {
                color: rgb(172, 172, 172);
            }
        }

        .jump-to-bottom{
            color: white;
            i { color: white; }
        }
    }

    .itemTooltip {
        background-image: url("../../icons/backgrounds/macrobg.webp");
        background-size: cover;
        color: black;
        padding: 1px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 5px;
      }

    #hotbar {
        &:before {
            background-image: url('../../icons/backgrounds/hotbarpart.webp'), url('../../icons/backgrounds/hotbarpart.webp'), url('../../icons/backgrounds/hotbar4.webp');
            background-size: 30px 48px, 66px 48px, 100% 100%;
            background-repeat: no-repeat;
            content: '';
            position: absolute;
            left: 0px;
            right: -32px;
            bottom: -10px;
            top: -10px;
            z-index: -1;
            background-position: 8px 11px, calc(100% - 8px) 11px, center;
        }

        &.hotbarV3{
            margin-bottom: 10px;
            &:before {
                background-size: 30px 91px,34px 91px,calc(100% - 26px) calc(100% - 20px);
                background-position: 8px 39px,calc(100% - 33px) 39px,0px 18px;
            }
            .function {
                color: black;
              }
            .sections {
                background: none;
            }
            .nameContent{
                color: black;
            }
            .actorEffect,
            .categoryFilter {
                background-image: url("../../icons/backgrounds/macrobg.webp");
                background-size: cover;
                color: black;
            }
            .actorEffect {
                box-shadow: inset 0px 0px 25px #403014;
            }
            #macro-list,
            .skillItems {
                li {
                    box-shadow: inset 0px 0px 25px #403014;
                    background-image: url("../../icons/backgrounds/macrobg.webp");

                    &.unequipped {
                        box-shadow: inset 0px 0px 25px #000;      
                    }
                }
                input{ 
                    color: black;
                }
            }
        }

        &.collapsedHotbar:before {
            background-image: url('../../icons/backgrounds/hotbarpart.webp');
        }

        .macro {
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.5);

            &.active {
                box-shadow: inset 0px 0px 25px #403014;
                background: url('../../icons/backgrounds/macrobg.webp');

                &.parry {
                    box-shadow: inset 0px 0px 15px #016e0a;
                }

                &.attack {
                    box-shadow: inset 0px 0px 15px #7e0202;
                }
            }
        }

        #macro-list {
            border: none;
            margin: 0;
        }

        .bar-controls {
            margin: 0;
            background: none;

            /*color:silver;*/
            color: #000000;
            border: none;

            /*text-shadow:0px 0px 8px black,0px 0px 8px black;*/
            box-shadow: none;

            &:first-child {
                margin-left: 5px;
            }
        }
    }

    @media (max-width: 1120px) {
        #hotbar {
            &:before{
                background-size: 36px 88px, 66px 88px, 190% 100%;
                background-position: -3px 18px, calc(100% + 3px) 18px, center;
                right: -58px;
                left: 6px;
            }
            &.hotbarV3:before{
                background-size: 36px 105px,66px 105px,190% 100%;
                background-position: -1px 24px,calc(100% + 30px) 24px,center;
                left: 0px;
                right: 0px;
            }
            #hotbar-page-controls, #hotbar-directory-controls {
                a {
                    margin: 6px 0;
                }
            }
        }
    }

    .window-app.npc-sheet.app .window-content {
        box-shadow: none;
    }

    #players {
        background: none;
        border: none;
        box-shadow: none;

        &:before {
            background-image: url('../../icons/backgrounds/dsabot.webp');
            background-size: 100% 15px;
            background-repeat: no-repeat;
            content: '';
            position: absolute;
            left: -2px;
            right: -2px;
            bottom: -5px;
            top: -20px;
            z-index: -1;
            background-position: center calc(100%);
        }

        h3 {
            &:before {
                background-image: url('../../icons/backgrounds/dsahead.webp'), url('../../icons/backgrounds/dsamid.webp');
                background-size: 100% 30px, 100% calc(100% - 30px);
                background-repeat: no-repeat;
                content: '';
                position: absolute;
                left: -5px;
                right: -5px;
                bottom: 0px;
                top: -20px;
                z-index: -1;
                background-position: center 0px, center 30px;
            }

            border: none;
            position: relative;
            overflow: visible;
        }

        #player-list {
            border: none;
            position: relative;
            overflow: visible;

            &:before {
                background-image: url('../../icons/backgrounds/dsamid.webp');
                background-size: 100% 50px;
                background-repeat: repeat-y;
                content: '';
                position: absolute;
                left: -2px;
                right: -2px;
                bottom: 5px;
                top: -3px;
                z-index: -1;
                background-position: center 0px;
            }
        }
    }

    #sidebar button,
    .initTracker button,
    .masterMenu button,
    .sheetButton,
    .sidebar-popout button,
    .sidebar-popout .dice-tray button {
        background-image: linear-gradient(to right top, #be2020, #af1622, #9f0d22, #8f0522, #7f0021);
        color: white;
        border: 1px solid black;

        &:active {
            box-shadow: inset 0 0 5px black;
        }

        &:hover {
            box-shadow: inset 0 0 3px white;
        }

        &.lastRound{
            background-color: #02234d;
            background-image: none;
        }
    }

    .dsajournal {
        &.sheet.journal-entry .journal-entry-content {
          background: none;
          border: none;
        }
      
        .header-search, &.sheet.journal-entry .pages-list .directory-item .page-number, .directory-item {
          color: black;
        }  
      }

      #compendium {
        li.compendium-pack {
          background-color: var(--sheet-bg);
          margin: 3px;
          border: 1px solid var(--sheet-border);
          border-radius: 5px;
          color: black;
          margin-left: 10px;
          padding: 5px;
        }
      
        &.sidebar-tab .entry-name i{
            color: white;
        }
        .compendium h3 {
          color: white;
          margin-left: 3px;
        }
      }

      .compendium.directory .directory-header .compendium-name{
        color: white;
      }

      #compendium li.compendium-pack .compendium-footer, #playlists li.sound .sound-playback .sound-timer {
        color: rgb(14, 12, 12);
      }  

      #playlists.sidebar-tab .directory-list .directory-item.playlist.collapsed {
        color: #555;
      }

      .sound-name {
        color: rgb(92, 92, 92);
      }

      .app.sidebar-popout{
        backdrop-filter: none;
      }
}