.initTracker {
    position: absolute;

    .iniItem.newRound,
    .newRound {
        border-color: #496fd7;
        background-color: #496fd72d;
        box-shadow: inset 0px 0px 10px #496fd7;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .dragHandler {
        width: 15px;
        background: none;
        border: none;
        line-height: var(--iniTrackerSize);
    }

    .waitTitle {
        background-image: none;

        i {
            float: left;
            width: 100%;
            line-height: calc(var(--iniTrackerSize) * 0.5);
            text-align: center;
            color: white;
        }
    }

    .hoverbuttons {
        color: white;
        position: absolute;
        right: 0;
        top: 25%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    li:hover .hoverbuttons {
        opacity: 1;
    }

    .controls {
        i {
            color: white;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 5px;
        }

        &.right {
            text-align: right;
        }
    }

    button {
        line-height: 21px;
    }    

    .token-initiative {
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
    }

    .aggroButton {
        left: 0;
        right: 0;
        margin: 0 auto 0;
        bottom: 0;
    }

    li {
        width: var(--iniTrackerSize);
        height: var(--iniTrackerSize);
        box-shadow: none;
        border: 1px solid transparent;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;

        .roll:before {
            position: absolute;
            content: '6';
            color: white;
            left: 0;
            right: 0;
            top: 0px;
            bottom: 0;
            text-align: center;
        }

        .roll {
            position: relative;
            display: block;
            width: 25px;
            height: 25px;
            background: url('../../icons/dice/d6white.svg') no-repeat 50% 50%;
            margin: 0 auto;
        }

        &.active {
            border-color: white;
            box-shadow: inset 0px 0px 10px white;
        }

        &.defeated,
        &.hidden {
            opacity: 0.5;
        }

        &.defeated {
            background-size: 75% 75%;
            background-position: center;
        }
    }

    .item-structure {
        top: -102%;
        border-color: rgb(14, 12, 12);
    }

    .combatant-advanced {
        height: var(--iniTrackerSize);

        .actions {
            right: 0;
            left: unset;
        }

        .ongoing {
            bottom: 4px;
            top: unset;
        }

        i {
            left: 4px;
            bottom: 4px;
            right: unset;
        }
    }

    .waitingTackerList {
        position: absolute;
        top: calc(var(--iniTrackerSize) * -0.5);
        left: 30px;

        li {
            width: calc(var(--iniTrackerSize) * 0.5);
            height: calc(var(--iniTrackerSize) * 0.5);
        }
    }

    .iniTrackerList {
        margin: 0;
        padding: 0;
        display: inline-block;

        li:last-child {
            margin-bottom: 0.25rem;
        }
    }
}