.dsa5 {
    .droparea {
        padding: 16px;
        text-align: center;
        border: 3px dashed var(--border-color);
        border-radius: 4px;
        margin: 8px;
        opacity: 0.6;
        font-style: italic;
    }

    .dsa-grid {
        --grid-min: 40px;
        --grid-max: 80px;
        --grid-repeat: auto-fit;
        display: grid;
        grid-template-columns: repeat(var(--grid-repeat), minmax(var(--grid-min), var(--grid-max)));
        gap: 0.75rem;
        align-items: stretch;
    }
}