.dsa5 {
    .droparea {
        padding: 16px;
        text-align: center;
        border: 3px dashed var(--border-color);
        border-radius: 4px;
        margin: 8px;
        opacity: 0.6;
        font-style: italic;
    }
}