.theme-dark {
    --oddColor: rgba(255, 255, 255, 0.05);
    --select2bg: #302831;

    .changes .selMenu {
        &+.select2 {
            background: var(--select2bg);
            color: white;
        }
    }

    .select2-container {
        .select2-dropdown {
            background: var(--select2bg);
            color: white;
        }
    }

    .application {
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: white;
        }
    }
}