<div class="form-group custom-select">
    <label>{{localize "ActorConfig.autoBar"}}</label>
    <input type="checkbox" name="autoBar" {{checked actor.system.config.autoBar}}>
</div>
<div class="form-group custom-select">
    <label>{{localize "ActorConfig.autoSize"}}</label>
    <input type="checkbox" name="autoSize" {{checked actor.system.config.autoSize}}>
</div>
<hr/>
<div class="form-group">
    <button class="updateSpells">{{localize 'Migrakel.spellsShort'}}</button>
</div>
<div class="form-group">
    <button class="updateAbilities">{{localize 'Migrakel.abilitiesShort'}}</button>
</div>
<div class="form-group">
    <button class="updateSkills">{{localize 'Migrakel.skillsShort'}}</button>
</div>
<div class="form-group">
    <button class="updatecSkills">{{localize 'Migrakel.cskillsShort'}}</button>
</div>
<div class="form-group">
    <button class="updateGear">{{localize 'Migrakel.gearShort'}}</button>
</div>