<div class="general">
    <img class="charimg profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" {{#if (eq merchantType 'loot')}}style="margin-left: calc(50% - 57px)" {{/if}} data-edit="img">
    

    <div class="row-section" style="width: 100%;margin-bottom: 20px">
        {{#if (ne merchantType 'loot')}}
        <div class="col">
            <div class="row-section wrap charBtns">
                <div class="col morph row-section" style="min-width:150px">
                    {{#each actor.system.characteristics as |ch c|}}
                    <div class="col eight center row-section wrap" data-tooltip="{{attrName c}}">
                        <div class="col">
                            {{attrAbbr c}}
                        </div>
                        <div class="ch-value col" data-char="{{c}}">
                            <a class="d20 die-{{c}}">{{ch.value}}</a>
                        </div>
                    </div>    
                    {{#if (eq c "ch")}} 
                </div>
                <div class="col morph row-section" style="min-width:150px">
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <span class="buttons regenPlace">
                <a data-char="regenerate" class="ch-regenerate item" data-mod="regenerate" data-tooltip="regenerate">&nbsp;<i class="fas fa-moon"></i></a>
            </span>
            {{> systems/dsa5/templates/actors/parts/healthbar.html}}
            {{> systems/dsa5/templates/actors/parts/schipspart.html}}
        </div>
        {{/if}}
    </div>

</div>