<div class="groupbox">
    <div class="row-section">
        <div class="col nintey header-label lineheight">
            <b>{{localize "Types.Item.combatskill"}}</b>
        </div>
        <div class="col lineheight ten center">
            <a class="ch-collapse"><i class="fas fa-angle-up" data-tooltip="SHEET.collapse"></i></a>
        </div>
    </div>
    <div class="row-section wrap">
        <div class="col morph">
            <div class="row-section skills table-title">
                <div class="col fourty">
                    {{localize "Types.Item.combatskill"}}
                </div>
                <div class="col five center">
                    {{{localize "guidevalue_small"}}}
                </div>

                <div class="col eight center" data-tooltip="KTW">
                    {{localize "CHARAbbrev.KTW"}}
                </div>
                <div class="col eight center">
                    {{localize "CHARAbbrev.ATFK"}}
                </div>
                <div class="col eight center" data-tooltip="CHAR.PARRY">
                    {{localize "CHARAbbrev.PA"}}
                </div>
            </div>
        </div>
        <div class="col morph onlyMultiColumn">
            <div class="row-section skills table-title">
                <div class="col fourty">
                    {{localize "combatskill"}}
                </div>
                <div class="col five center">
                    {{{localize "guidevalue_small"}}}
                </div>

                <div class="col eight center" data-tooltip="KTW">
                    {{localize "CHARAbbrev.KTW"}}
                </div>
                <div class="col eight center">
                    {{localize "CHARAbbrev.ATFK"}}
                </div>
                <div class="col eight center" data-tooltip="CHAR.PARRY">
                    {{localize "CHARAbbrev.PA"}}
                </div>
            </div>
        </div>
        {{#each prepare.combatskills as |item i|}}
        <div class="col morph">
            <div class="row-section item skills lineheight" data-item-id="{{item._id}}">
                <div class="col fourty">
                    <a class="item-edit">{{item.name}}</a> {{#if ../prepare.canAdvance}}
                    <a class="advance refund-item"><i data-tooltip="{{item.refund}}" class="fas fa-minus"></i></a>
                    <a class="advance advance-item"><i data-tooltip="{{item.cost}}" class="fas fa-plus"></i></a>{{/if}}
                </div>
                <div class="col five center">
                    {{localize (concatUp "CHARAbbrev." item.system.guidevalue.value)}}
                </div>

                <div class="col eight center">
                    <input class="skill-advances" type="text" data-dtype="Number" value="{{item.system.talentValue.value}}" />
                </div>
                <div class="col eight center item" data-item-id="{{item._id}}" data-mod="attack">
                    <a data-mode="attack" class="ch-rollCombat d20 diet-mu">{{item.system.attack.value}}</a>
                </div>
                <div class="col eight center item" data-item-id="{{item._id}}" data-mod="parry">
                    {{#if (eq item.system.weapontype.value 'melee')}} <a data-mode="parry" class="ch-rollCombat d20 diet-in">{{item.system.parry.value}}</a> {{else}}- {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
        {{#if (oddLength prepare.combatskills)}}
        <div class="col morph">
        </div>
        {{/if}}
    </div>
</div>