<fieldset>
    <legend>{{localize "Experience"}}</legend>

    <div class="experience row-section">
        <div class="experience-level col center">
            {{localize document.system.details.experience.description}}
        </div>
    </div>
    <div class="experience row-section">
        <div class="col three header-label">
            {{localize "Current"}}
        </div>
        <div class="col three header-label">
            {{localize "Spent"}}
        </div>
        <div class="col three header-label">
            {{localize "Total"}}
        </div>
    </div>
    <div class="experience row-section">
        <div class="col three lineheight center">
            {{document.system.details.experience.current}}
        </div>
        <div class="col three center">
            {{formInput systemFields.details.fields.experience.fields.spent value=document.system.details.experience.spent}}
        </div>
        <div class="col three center">
            {{formInput systemFields.details.fields.experience.fields.total value=document.system.details.experience.total}}
        </div>
    </div>
</fieldset>