<div class="row-section" style="margin-top:10px;">
    <div class="col ten center lineheight" data-tooltip="{{localize 'wounds'}}">
        {{localize 'CHARAbbrev.LeP'}}
    </div>
    <div class="col {{#if actor.magic.hasPrayers}}{{#if actor.magic.hasSpells}}third{{else}}fourty{{/if}}{{else}}fourty{{/if}}">
        <div class="healthbar barLeft{{#if actor.magic.hasPrayers}}{{else if actor.magic.hasSpells}}{{else}} soloBar{{/if}}" data-tooltip="{{localize 'wounds'}}">

            <div class="bar LeP" style="--a: {{actor.system.status.wounds.value}}; --b: {{actor.system.status.wounds.max}}">
            </div>
            <div class="barLabel">
                <input type="text" data-tooltip="{{localize 'Current'}}" name="system.status.wounds.value" data-dtype="Number" value="{{actor.system.status.wounds.value}}" /> /
                <span data-tooltip="{{localize 'max'}}">{{actor.system.status.wounds.max}}</span>
            </div>
        </div>
    </div>
    {{#if actor.magic.hasPrayers}} {{#if actor.magic.hasSpells}}
    <div class="col third">
        <div class="healthbar barRight middle" data-tooltip="{{localize 'karmaenergy'}}">
            <div class="barLabel">
                <input type="text" data-tooltip="{{localize 'Current'}}" name="system.status.karmaenergy.value" data-dtype="Number" value="{{actor.system.status.karmaenergy.value}}" /> /
                <span data-tooltip="{{localize 'max'}}">{{actor.system.status.karmaenergy.max}}</span>
            </div>
            <div class="bar KaP" style="--a: {{actor.system.status.karmaenergy.value}}; --b: {{actor.system.status.karmaenergy.max}}">

            </div>
        </div>
    </div>
    <div class="col third">
        <div class="healthbar barRight" data-tooltip="{{localize 'astralenergy'}}">
            <div class="barLabel">
                <input type="text" data-tooltip="{{localize 'Current'}}" name="system.status.astralenergy.value" data-dtype="Number" value="{{actor.system.status.astralenergy.value}}" /> /
                <span data-tooltip="{{localize 'max'}}">{{actor.system.status.astralenergy.max}}</span>
            </div>
            <div class="bar AsP" style="--a: {{actor.system.status.astralenergy.value}}; --b: {{actor.system.status.astralenergy.max}}">

            </div>
        </div>
    </div>
    {{else}}
    <div class="col fourty">
        <div class="healthbar barRight" data-tooltip="{{localize 'karmaenergy'}}">
            <div class="barLabel">
                <input type="text" data-tooltip="{{localize 'Current'}}" name="system.status.karmaenergy.value" data-dtype="Number" value="{{actor.system.status.karmaenergy.value}}" /> /
                <span data-tooltip="{{localize 'max'}}">{{actor.system.status.karmaenergy.max}}</span>
            </div>
            <div class="bar KaP" style="--a: {{actor.system.status.karmaenergy.value}}; --b: {{actor.system.status.karmaenergy.max}}">

            </div>
        </div>
    </div>
    <div class="col ten center  lineheight" data-tooltip="{{localize 'karmaenergy'}}">
        {{localize 'CHARAbbrev.KaP'}}
    </div>
    {{/if}} {{else if actor.magic.hasSpells}}
    <div class="col fourty">
        <div class="healthbar barRight" data-tooltip="{{localize 'astralenergy'}}">
            <div class="barLabel">
                <input type="text" data-tooltip="{{localize 'Current'}}" name="system.status.astralenergy.value" data-dtype="Number" value="{{actor.system.status.astralenergy.value}}" /> /
                <span data-tooltip="{{localize 'max'}}">{{actor.system.status.astralenergy.max}}</span>
            </div>
            <div class="bar AsP" style="--a: {{actor.system.status.astralenergy.value}}; --b: {{actor.system.status.astralenergy.max}}">

            </div>
        </div>
    </div>
    <div class="col ten center lineheight" data-tooltip="{{localize 'astralenergy'}}">
        {{localize 'CHARAbbrev.AsP'}}
    </div>
    {{else}}
    <div class="col two">

    </div>
    {{/if}}
</div>