<div class="actor-purse groupbox">
    <div class="row-section">
        <div class="col header-label">
            <b>{{localize "purse"}}</b>
        </div>
    </div>
    {{#grouped_each 4 prepare.money.coins}}
    <div class="row-section table-title">
        {{#each this}}
        <div class="col four center item" data-item-id="{{_id}}">
            <a class="item-edit withContext">{{localize name}}</a>
        </div>
        {{/each}}
    </div>
    <div class="actor-purse-content row-section">
        {{#each this}}
        <div class="number-input col four center item" data-item-id="{{_id}}">
            <input class="col-{{name}} money-change" type="number" data-dtype="Number" value="{{system.quantity.value}}" />
        </div>
        {{/each}}
    </div>
    {{/grouped_each}}
</div>