<div class="groupbox">
    <div class="row-section">
        <div class="col ten">

        </div>
        <div class="col eighty header-label lineheight">
            <b>{{localize "statuseffects"}}</b>
        </div>
        <div class="col ten center">
            <div class="statusEffectMenu">
                <a class="status-create lineheight very-small" title="{{localize 'CONDITIONS.add'}}"><i class="fas fa-plus"></i></a>
                <ul>
                    <li class="search">
                        <input type="search" data-dtype="String" class="conditionSearch" placeholder="{{localize 'search'}}" />
                    </li>
                    {{#each manualConditions as |item i|}}
                    <li>
                        <a class="status-add" data-id="{{item.id}}" title="{{localize item.label}}"><img src="{{item.icon}}" /></a>
                    </li>
                    {{/each}}

                </ul>
            </div>
        </div>
    </div>
    <div class="row-section">
        <div class="col effectDescription">

        </div>
    </div>
    <div class="row-section  wrap">

        <div class="col two row-section skills table-title">
            <div class="col five">

            </div>
            <div class="col two">
                {{localize "condition"}}
            </div>
            <div class="col fifteen center">
                {{localize "ABBR.modifiers"}}
            </div>
            <div class="col fifteen center" title="{{localize 'value'}}">
                {{localize "ABBR.value"}}
            </div>
        </div>
        <div class="col two row-section skills table-title">
            <div class="col five">

            </div>
            <div class="col two">
                {{localize "condition"}}
            </div>
            <div class="col fifteen center">
                {{localize "ABBR.modifiers"}}
            </div>
            <div class="col fifteen center" title="{{localize 'value'}}">
                {{localize "ABBR.value"}}
            </div>

        </div>
        {{#each conditions as |item i|}}
        <div class="row-section col skills two statusEffect" data-id="{{item.id}}">
            <div class="col five">
                {{#if item.existing}}
                <img src="{{item.icon}}" /> {{else}}
                <img style="opacity:0.5;" src="{{item.icon}}" /> {{/if}}
            </div>
            <div class="col two">
                <a class="condition-show" data-id="{{item.id}}">{{localize item.label}}</a>
            </div>
            <div class="col fifteen center">
                {{#if item.editable}}{{#unless item.boolean}}<a class="condition-value">{{item.manual}}</a>{{/unless}}{{/if}}
            </div>
            <div class="col fifteen center" title="{{localize 'value'}}">
                {{#if item.boolean}} {{#if item.existing}}
                <a class="condition-toggle"><i class="far fa-check-circle"></i></a> {{else}}
                <a class="condition-toggle"><i class="far fa-circle"></i></a> {{/if}} {{else}}
                <span>{{item.value}}</span>{{/if}}
            </div>

        </div>

        {{/each}}

    </div>


</div>
<div class="groupbox">
    <div class="row-section">
        <div class="col header-label lineheight">
            <b>{{localize "Modifiers"}}</b>
        </div>
    </div>
    <div class="row-section wrap">
        <div class="col two row-section skills table-title">
            <div class="col five">
                {{localize 'target'}}
            </div>
            <div class="col five">
                {{localize "ABBR.value"}}
            </div>
            <div class="col sixty seventy">
                {{localize "source"}}
            </div>
        </div>
        <div class="col two row-section skills table-title">
            <div class="col five">
                {{localize 'target'}}
            </div>
            <div class="col five">
                {{localize "ABBR.value"}}
            </div>
            <div class="col sixty seventy">
                {{localize "source"}}
            </div>
        </div>
        {{#each actor.itemModifiers as |item i|}}
        <div class="row-section skills col two">
            <div class="col five">
                {{@key}}
            </div>
            <div class="col five">
                {{item.value}}
            </div>
            <div class="col sixty">
                {{join ", " item.sources}}
            </div>

        </div>
        {{/each}}
    </div>


</div>