<div class="derivedAttrs row-section">
    <div class="col two lineheight">
        {{localize "temperature.coldProtection"}}
    </div>
    <div class="col eight lineheight center">

    </div>
    <div class="col eight lineheight center">
        {{actor.system.temperature.coldProtection}}
    </div>
    <div class="col eight">

    </div>
    <div class="col eight lineheight center">
        {{actor.system.temperature.coldProtection}}
    </div>
</div>
<div class="derivedAttrs row-section">
    <div class="col two lineheight">
        {{localize "temperature.heatProtection"}}
    </div>
    <div class="col eight lineheight center">

    </div>
    <div class="col eight lineheight center">
        {{actor.system.temperature.heatProtection}}
    </div>
    <div class="col eight">

    </div>
    <div class="col eight lineheight center">
        {{actor.system.temperature.heatProtection}}
    </div>
</div>