<div>
  <p>{{localize 'CONJURATION.requestDescr'}}</p>


  <div class="row-section">
    <div class="col two">
      <div class="groupbox lineheight" style="padding:4px;">
        <b>{{localize 'probe'}}</b><br />
        <div class="row-section">
          <div class="col sixty table-title">
            <label class="">{{localize "CHARAbbrev.QS"}}:</label>
          </div>
          <div class="col fourty">
            <input class="conjurationData" data-refresh="true" type="text" name="qs" value="{{creationData.qs}}" />
          </div>
        </div>
        <div class="row-section">
          <div class="col sixty table-title">
            <label class="">{{localize "extensions"}}:</label>
          </div>
          <div class="col fourty">
            {{creationData.consumedQS}}
          </div>
        </div>
        <div class="row-section">
          <div class="col sixty table-title">
            <label class="">{{localize "PLAYER.services"}}:</label>
          </div>
          <div class="col fourty">
            {{services}}
          </div>
        </div>
      </div>
      <div class="groupbox lineheight" style="padding:4px;">
        <b>{{localize 'PLAYER.conjuration'}}</b><br />
        <div class="row-section">
          <div class="col center">
            <img style="width:70px;height:70px" class="profile" src="{{conjuration.img}}" data-tooltip="{{actor.name}}">
          </div>
        </div>
        <div class="row-section">
          <div class="col fourty table-title">
            <label class="">{{localize "Name"}}:</label>
          </div>
          <div class="col sixty">
            <a class="openChar">{{conjuration.name}}</a>
          </div>
        </div>
        <div class="row-section">
          <div class="col fourty table-title">
            <label class="">{{localize "creatureClass"}}:</label>
          </div>
          <div class="col sixty">
            {{conjuration.system.creatureClass.value}}
          </div>
        </div>
        <div class="row-section">
          <div class="col fourty table-title">
            <label class="">{{localize "conjuringDifficulty"}}:</label>
          </div>
          <div class="col sixty">
            {{conjuration.system.conjuringDifficulty.value}}
          </div>
        </div>
      </div>
    </div>
    <div class="col two">
      <div class="groupbox" style="padding:4px;">
        <b class="lineheight">{{localize 'extensions'}}</b><br />

        {{#each conjurationModifiers as |item i|}}
        <div class="row-section wrap tableOdd" data-id="{{item.id}}">
          <div class="col lineheight">
            {{localize item.name}}
          </div>
          <div class="col">
            <span class="small">{{localize item.descr}}</span>
          </div>
        </div>
        {{/each}}
      </div>

      <div class="groupbox" style="padding:4px;">
        <b class="lineheight">{{localize 'entityAbility'}}</b><br />
        {{#each entityModifiers as |item i|}}
        <div class="row-section col wrap tableOdd" data-id="{{item.uuid}}">
          <div class="col eighty lineheight">
            {{localize item.name}}
          </div>
          <div class="col ten">
            <span class="small" data-tooltip="CHARAbbrev.QL">{{item.AsPCost.value}}</span>
          </div>
          <div class="col ten">
            <a class="showEntity small" data-uuid="{{item.uuid}}"><i class="fas fa-info"></i></a>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="groupbox" style="padding:4px;">
        <b class="lineheight">{{localize 'summoningPackage'}}</b><br />
        {{#each packageModifiers as |item i|}}
        <div class="row-section col wrap tableOdd" data-id="{{item.uuid}}">
          <div class="col eighty lineheight">
            {{localize item.name}}
          </div>
          <div class="col ten">
            <span class="small">{{item.at.value}}</span>
          </div>
          <div class="col ten">
            <a class="showEntity small" data-uuid="{{item.uuid}}"><i class="fas fa-info"></i></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{#if confirmed}}

  <div class="center bags">
    <div class="slot newNPC" draggable="true" style="margin:0 auto;background-image:url('{{actor.img}}')" data-id="{{actor.id}}" data-uuid="{{actor.uuid}}"
      data-tooltip="{{actor.name}}"></div>
  </div>

  {{else}}
  <div style="height:60px;">
    <button class="createActor">{{localize 'PLAYER.finalize'}}</button>
  </div>
  {{/if}}
</div>