<div class="row-section">
    <div class="col two">
        <div class="groupbox lineheight" style="padding:4px;">
            <b>{{localize 'probe'}}</b><br />
            <div class="row-section">
                <div class="col sixty table-title">
                    <label class="">{{localize "CHARAbbrev.QS"}}:</label>
                </div>
                <div class="col fourty">
                    <input class="conjurationData" data-refresh="true" type="number" name="qs" value="{{conjurationData.qs}}" />
                </div>
            </div>
            <div class="row-section">
                <div class="col sixty table-title">
                    <label class="">{{localize "extensions"}}:</label>
                </div>
                <div class="col fourty">
                    {{conjurationData.consumedQS}}
                </div>
            </div>
            <div class="row-section">
                <div class="col sixty table-title">
                    <label class="">{{localize "PLAYER.services"}}:</label>
                </div>
                <div class="col fourty">
                    {{services}}
                </div>
            </div>
            <div class="row-section">
                <div class="col">
                    <button class="finalizeConjuration" data-tooltip="CONJURATION.finalizeTooltip">{{localize 'PLAYER.finalize'}}</button>
                </div>
            </div>
        </div>

        <div class="groupbox lineheight summoningArea" style="padding:4px;">
            <b>{{localize 'PLAYER.conjuration'}}</b><br />
            <div class="row-section">
                <div class="col center">
                    <img style="width:70px;height:70px" class="profile" src="{{conjuration.img}}" data-tooltip="{{actor.name}}">
                </div>
            </div>
            <div class="row-section">
                <div class="col fourty table-title">
                    <label class="">{{localize "Name"}}:</label>
                </div>
                <div class="col sixty">
                    <a class="openChar">{{conjuration.name}}</a>
                </div>
            </div>
            <div class="row-section">
                <div class="col fourty table-title">
                    <label class="">{{localize "creatureClass"}}:</label>
                </div>
                <div class="col sixty">
                    {{conjuration.creatureClass.value}}
                </div>
            </div>
            <div class="row-section">
                <div class="col fourty table-title">
                    <label class="">{{localize "conjuringDifficulty"}}:</label>
                </div>
                <div class="col sixty">
                    {{conjuration.conjuringDifficulty.value}}
                </div>
            </div>
            {{#if conjurationData.packageModifier}}
            <div class="row-section">
                <div class="col fourty table-title">
                    <label class="">{{localize "summoningPackage"}}:</label>
                </div>
                <div class="col sixty">
                    {{conjurationData.packageModifier}}
                </div>
            </div>
            {{/if}} {{#if moreModifiers}} {{#each moreModifiers as |item|}}
            <div class="row-section">
                <div class="col fourty table-title">
                    <label class="">{{item.name}}:</label>
                </div>
                <div class="col sixty">
                    <select name="{{item.name}}" class="moreModifiers" data-name="{{item.name}}" data-dtype="Number">
            {{#select item.selected}}
            {{#each item.options as |sktype|}}
            <option value="{{sktype.val}}">{{sktype.name}} ({{sktype.val}})</option>
            {{/each}}
            {{/select}}
          </select>
                </div>
            </div>
            {{/each}} {{/if}}
        </div>


    </div>
    <div class="col two">
        <div class="groupbox" style="padding:4px;">
            <b class="lineheight">{{localize 'extensions'}}</b><br /> {{#each conjurationModifiers as |item i|}}
            <div class="row-section wrap tableOdd selectableRow {{#if (hasElem ../conjurationData.selectedIds item.id)}}selected{{/if}}" data-id="{{item.id}}">
                <div class="col lineheight">
                    {{localize item.name}}
                </div>
                <div class="col">
                    <span class="small">{{localize item.descr}}</span>
                </div>
            </div>
            {{/each}}
        </div>


    </div>

</div>

<div class="groupbox" style="padding:4px;">
    <b class="lineheight">{{localize 'entityAbility'}}</b><br /> {{#if equipmentIndexLoaded}}
    <div class="row-section wrap">
        {{#each entityAbilities as |item i|}}
        <div data-entityid="true" data-qs="{{item.AsPCost.value}}" class="row-section col two wrap tableOdd selectableRow {{#if (hasElem ../conjurationData.selectedEntityIds item.uuid)}}selected{{/if}}" data-id="{{item.uuid}}">
            <div class="col eighty lineheight">
                {{localize item.name}}
            </div>
            <div class="col ten">
                <span class="small" data-tooltip="CHARAbbrev.QL">{{item.AsPCost.value}}</span>
            </div>
            <div class="col ten">
                <a class="showEntity small" data-uuid="{{item.uuid}}"><i class="fas fa-info"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <button class="initLibrary">{{localize "Library.searchPlaceholder"}}</button> {{/if}}
</div>
<div class="groupbox" style="padding:4px;">
    <b class="lineheight">{{localize 'summoningPackage'}}</b><br /> {{#if equipmentIndexLoaded}}
    <div class="row-section wrap">
        {{#each entityPackages as |item i|}}
        <div data-packageid="true" data-mod="{{item.at.value}}" class="row-section col two wrap tableOdd selectableRow {{#if (hasElem ../conjurationData.selectedPackageIds item.uuid)}}selected{{/if}}" data-id="{{item.uuid}}">
            <div class="col eighty lineheight">
                {{localize item.name}}
            </div>
            <div class="col ten">
                <span class="small" data-tooltip="CHARAbbrev.QL">{{item.at.value}}</span>
            </div>
            <div class="col ten">
                <a class="showEntity small" data-uuid="{{item.uuid}}"><i class="fas fa-info"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <button class="initLibrary">{{localize "Library.searchPlaceholder"}}</button> {{/if}}
</div>